[2019-03-17 12:25] Anrock commented on #1138
You should put dependencies in corresponding section of your `projectname.cabal` file. Stack then will read it, determine what exact versions are suitable according to `resolver` set and download them. In case specified dependency isn't in stackage, stack will print an instruction on how to add the package to `extra-deps`.
So generally in `stack.yaml` you only need three fields:
* `resolver` - spe

[2019-03-17 12:28] Anrock commented on #1139
Probably it just reads `resolver` from `stack.yaml` and then tries to use GHC that correspond to that resolver. You should either change resolver so corresponding GHC is matching HIE or build a HIE that matches GHC in selected resolver and setup hie-wrapper using instructions in README.

[2019-03-17 21:53] steve3p0 commented on #1138
Thanks Anrock!  I eventfully figured most of this out, painfully.  I was thinking of using IRC.  I should have!  I've spent way too much time doing config.

It's funny you mention Hoogle.  Haskell Docs is the last piece I need to finishing integrating with Visual Studio Code.

Cheers!

[2019-03-17 21:54] #1138 closed

[2019-03-18 01:02] #1059 closed

[2019-03-18 14:54] regispl opened #1142 "Installing HIE on Mac fails"
Hi,

I'm trying to install HIE on Mac OSX High Sierra 10.13.6. I have Stack 1.9.3 installed via Homebrew and in the past I've been using Haskell, as well as Stack and Atom with ghc-mod successfully, so my Haskell & Stack setup should be - in general - about fine (e.g. there's probably no issue with Stack itself of with how it was installed).

I cloned the HIE repo and tried to build it as README d

[2019-03-18 16:39] lorenzo commented on #1142
Can you try running `xcode-select --install` and let us know if this helps?

[2019-03-18 16:54] regispl commented on #1142
@lorenzo I did, that's the outcome:

[code]

No change in the output of the `stack ./install.hs build-all` command too (unsurprisingly, given the message above, but at least I tried 😉).

[2019-03-18 17:44] lorenzo commented on #1142
Alright, I read somewhere that this may be fixed by doing a `rm -rf ~/.stack`, which deletes your current stack installation, all your previous GHC installs and compiled package cache. It is annoying to do that since you will spend the time compiling all those things again, but apparently that fixes the problem

[2019-03-18 17:49] regispl commented on #1142
@lorenzo I'd like to get this working (as the lack of ghc-mod support for newer ghc versions is annoying me a bit), so I'll give it a try and report back. Thanks!

[2019-03-18 18:38] regispl commented on #1142
@lorenzo Nope, no luck.

[code]

[2019-03-18 18:48] lorenzo commented on #1142
Can you try doing this? If you manage to install latest GHC, that may give us a hint:

`stack --stack-yaml=stack-8.6.3.yaml build`

[2019-03-18 18:59] regispl commented on #1142
@lorenzo Still no luck:

[code]

Is there any log directory I could check?

Also, thanks for your time!

[2019-03-18 19:12] regispl commented on #1142
@lorenzo OK, I got something with `--verbose`:

[code]

So...

[code]
So it looks like gawk is referencing old version. I updated it:
[code]
Aaaaand.... Looking at the progress of `stack --verbose --stack-yaml=stack-8.6.3.yaml` build it looks like it's past that point. I'm leaving it for the moment (kids!) and will update you later.

[code]

[2019-03-19 02:47] Anrock commented on #1033
I consider this as done.
Some work remains to do with CI (tests, maybe some cleanup), but i have no idea how to do it, so leaving it to @bubba

[2019-03-19 02:47] #1033 closed

[2019-03-19 02:47] #1139 closed

[2019-03-19 02:52] Anrock commented on #81
@alanz iirc ghci-ng is merged back to upstream. So there is no sense in keeping this issue open, right?

[2019-03-19 03:00] Anrock commented on #290
Just tried it. Received a `src\Main.hs|1 col 1 error| readCreateProcess: stack "build" "--only-configure" "." (exit 1): failed` error. Highlight requests don't work, tho.

I think an improvement could made in special handling of stack build failure with custom message.

[2019-03-19 03:02] Anrock commented on #344
@Tehnix @JonCoens is this still actual?

[2019-03-19 03:07] Anrock commented on #409
Makefile support is dropped and README was heavily modified recently. If you found it's still lacking - please open a new issue.

[2019-03-19 03:07] #409 closed

[2019-03-19 03:09] Anrock commented on #414
iirc hie reports ghc mismatches pretty clearly on start.

[2019-03-19 03:09] #414 closed

[2019-03-19 03:10] Anrock commented on #430
Haven't seen this in a long while.

[2019-03-19 03:10] #430 closed

[2019-03-19 03:16] Anrock commented on #432
I guess it's either resolved or nobody cares.

[2019-03-19 03:16] #432 closed

[2019-03-19 03:29] Anrock commented on #466
No response for a couple of months, closing.

[2019-03-19 03:29] #466 closed

[2019-03-19 10:06] Tehnix commented on #344
@Anrock It never really got started, and since Nuclide is being retired[0], I think we can consider this issue dead.

I'll close this issue to help triaging :)

[0] https://nuclide.io

[2019-03-19 10:06] #344 closed

[2019-03-19 20:13] regispl commented on #1142
@lorenzo Just to confirm, the issue is solved - I managed to build HIE and make it work with VS Code. Thanks for your help!

[2019-03-19 20:19] lorenzo commented on #1142
Great news! I'll close this issue, given that there is not much we can do to prevent it from our side.

[2019-03-19 20:19] #1142 closed

[2019-03-20 17:10] fendor commented on #1116
@alanz Can you check if this really fixes the issue?

[2019-03-21 17:04] fendor opened #1143 "Hlint data-files can not be easily distributed"
`hlint` demands that its data-file locations are known at compile time. If you remove these files, for example `hlint.yaml`, hlint will fail with a message and lets `hie` crash

[code]
In this case, hlint has stored its data-files in `~/.cabal/store`.

Unfortunately, if you copy the executable `hie` instead of installing from source, `hie` itself chokes on that error, since the data-files are not

[2019-03-21 17:16] power-fungus commented on #1143
Moreover: `hie` it crashes when `hlint` does, which is undesirable (in my opinion). Can this be fixed?

[2019-03-21 19:33] nponeccop commented on #1143
Is this a duplicate of #400?

[2019-03-22 06:11] power-fungus commented on #1143
@nponeccop It does tackle a similar issue.

I am currently in the process of evaluating runtime-dependencies of `hie` and found out that the 2 issues described are still relevant.
However, the runtime-dependency for `hlint` should be tackled in a seperate issue to the one for `cabal-helper`.

[2019-03-22 13:37] jasonmcole commented on #992
The specific error message I got from make was:

[code]

Installing gmp with `brew install gmp` , then re-running `stack ./install.hs build-all` proceeded without issue.

[2019-03-22 14:21] andrewufrank opened #1144 "error with `readCreateProcess`"
I have seen the error msg others have seen before but none of the explanations seem to apply. I found that I had two cabal executables on my search path, one on `.local/bin` and the other on `.cabal/bin`. This seems to have confused `ghc-mod`. Deleting one of the two helped.

I use  `Version 0.7.0.0 (2487 commits) x86_64 ghc-8.6.4` with ghc 8.6.44 and cabal-2.4.1.0 (on linux debian butcher).

[2019-03-22 15:01] power-fungus commented on #1144
@andrewufrank do you know which command failed? I would like to try to repeat your issue.

[2019-03-22 15:54] andrewufrank commented on #1144
I run vs code and hie runs there to run something like `stack build --configure-only .` (from memory).
The complete error msg was
[code]

[2019-03-22 16:16] power-fungus commented on #1144
`cabal-helper-wrapper` is werid. Could you execute the command `hie` tried to execute?
[code]
The output of this command might uncover the real issue

[2019-03-22 20:45] Anrock commented on #992
@jasonmcole that's known issue with ghc on osx. See [README](https://github.com/haskell/haskell-ide-engine#macos-got-error-while-installing-ghc-861-or-862---dyld-library-not-loaded-usrlocaloptgmpliblibgmp10dylib) and [ghc bug](https://gitlab.haskell.org/ghc/ghc/issues/15769)

[2019-03-23 05:59] bubba commented on #1135
I had to blow away my ~/.stack/setup-exe-cache, I think stack picks up LLD when configuring projects and caches it away there

[2019-03-23 07:50] xgrommx commented on #1135
I have the same problem. Anyone have solved this problem?

[2019-03-23 08:25] andrewufrank commented on #1144
the command was `stack build --only-configure .` and I had the same error msg (on a different installation) and tried it running in a terminal. This time, the cause was a problem with having two cabal files somewhere in the dependencies and extra dependencies. The output from the stack command was informative - perhaps HIE should just forward the error message from stack?
i did reconstruct my prev

[2019-03-24 03:58] emhoracek commented on #1098
Also ran into this issue -- @barrymoo, thanks for reporting back with your solution.

For me, running ` stack upgrade --force-download` fixed my problem.

[2019-03-24 12:14] fendor commented on #1143
I propose the following, slightly weird, solution:
Use the package `file-embed` to embed the content of the data-files at compile time into `hie`.
On startup, check if these files exist at a pre determined location, e.g. `$XDG_DIRECTORY/haskell-ide-engine/hlint`. If yes, supply it to hlint as the `--data-dir`. Otherwise, write the content of the embedded files into that directory and continue.

Pr

[2019-03-24 13:22] fendor commented on #1116
Fixed on windows and nixos, at least.

[2019-03-24 13:22] #1116 closed

[2019-03-24 14:27] KillyMXI commented on #983
Win10, VScode, GHC-8.4.4

Following the comment https://github.com/haskell/haskell-ide-engine/issues/983#issuecomment-457882300 I uncommented the line with the scope and rebuilt hie (`stack .\install.hs hie-8.4.4`).
After opening VScode I got following:
In popup notification:
[code]
In extension output:
[code]

This looks like #1004.
Is there an end to all of this...?

[2019-03-24 15:00] chkl commented on #1114
I believe this issue can be closed.

[2019-03-24 21:51] #1114 closed

[2019-03-25 02:04] alanz commented on #1116
@fendor I can confirm it works for me. Thanks.

[2019-03-25 12:24] KillyMXI opened #1146 "Under no circumstances should HIE ever stop responding"
The title is a quote from #461.

I was looking through opened issues and it really struck me how common this pattern:
On any unexpected input, HIE just shuts in itself.
And it is a worst way to handle the situation when we have a really unstable piece of software with a lot of things "unexpected".
As a user, I:
- can't continue my work at least with the parts that known to work;
- have to go throu

[2019-03-25 18:03] kevoriordan commented on #1131
I found the issue here. There's a mismatch between the Stackage documentation for lts-13.11 and what's actually checked in.

Documentation suggests that lts-13.11 corresponds to GHC 8.6.3 but when you look at the source, it actually corresponds to GHC 8.6.4 https://github.com/commercialhaskell/lts-haskell/blob/master/lts-13.11.yaml

This is causing hie-8.6.3 to be built with GHC 8.6.4. Will submit

[2019-03-25 19:24] o1lo01ol1o opened #1147 "Hoogle already exists during shake installation"
During installation with
`stack ./install.hs cabal-build-all`, the following is raised:

[code]

This persists even after deleting `~/.cabal/bin/hoogle`

[2019-03-25 19:41] fendor commented on #1147
Will have a look at this

[2019-03-26 02:04] o1lo01ol1o commented on #1147
Cool, os x 10.13.6.

[2019-03-26 05:23] teto opened #1148 "hsc extension not recognized"
I'm running LanguageClient-neovim and hie-wrapper via https://github.com/domenkozar/hie-nix/pull/53 aka hie version ec5e34ca52d389b713df918f02ff63920aede4be (from last week).

and I get
`Could not find module ‘System.Linux.Netlink.C’  Use -v to see a list of the files searched for.`
This module belongs to the current project I am editing and is imported via `import qualified System.Linux.Netlink.C

[2019-03-26 05:28] teto commented on #1148
output of `ghc -v System/Linux/Netlink.hs` while in the nix-shell.
[code]

[2019-03-26 06:36] teto commented on #1148
found an answer on #haskell-beginners, I just needed to add `build-tools: hsc2hs` to the cabal file so nothing to do with hie sry

[2019-03-26 06:36] #1148 closed

[2019-03-26 12:27] fendor commented on #1147
Fix is easy, but I am also looking into the possibility that we do not actually have to regenerate hoogle for each ghc. It does not seem to make sense.

[2019-03-26 22:26] lorenzo commented on #522
I'd like to implement this. I'm finding it increasingly annoying to have diagnostics as I type.

Additionally I think that this  diagnostics `on save` should be the default, it would make things feel more snappy in general. How do you guys think I should go about this?

[2019-03-26 22:37] mpickering commented on #522
@lorenzo I also support this. Including the part about the default.

[2019-03-27 16:24] mpardalos commented on #1130
Adding some more information that might help.
HIE log here: https://gist.github.com/mpardalos/9a506e903268197b72788a7139b5e418).

HIE errors out when running this command
[code]

which looks for a setup-config in the root directory of the project

If I symlink that to the only setup-config file in the project:
[code]

I get
[code]

Possibly this is something to do with cabal v1 and v2?

This issue

[2019-03-27 19:44] mpardalos commented on #1130
Deleting ~/.stack, ~/.cabal and rebuilding solved the issue in the end. I'm assuming it was caused by an old cabal-helper. Closing the issue

[2019-03-27 19:44] #1130 closed

[2019-03-28 12:18] #1147 closed

[2019-03-28 12:18] fendor commented on #1147
This issue should now be resolved, would you mind checking whether this solves your problem?

[2019-03-28 18:03] o1lo01ol1o commented on #1147
@fendor build is successful.  However, now hie doesn't seem to be launched by `vscode`, but this is a separate problem.

[2019-03-29 21:41] mouse07410 opened #1154 "HIE fails to build on MacOS with Macports"
MacOS Mojave 10.14.3, GHC-8.6.3 installed via `ghcup`, stack-1.9.3, cabal-2.4.1.0.

[code]

My  `~/.stack/config.yaml`:
[code]
but apparently, the linker does not receive `/usr/lib/libiconv.dylib` (because `stack` does not pass that parameter) and fails, trying to link with another `libiconv.dylib` that's on the shared library search path (because this machine runs other stuff besides Haskell).

H

[2019-03-30 06:08] Anrock commented on #1154
`- /opt/local/lib/liconv`

Is this the actual line in your config?

[2019-03-30 12:20] mouse07410 commented on #1154
Yes it is - it's a directory where a copy of /usr/lib/libiconv.dylib lives. One of my attempts to get that library looked at before the linker processes /opt/local/lib/libiconv.dylib and finds that it does  not contain the needed functions.

[2019-03-30 12:43] Anrock commented on #1154
@mouse07410 i mean it looks like a typo `liconv` instead of `li[b]iconv`

[2019-03-30 12:50] mouse07410 commented on #1154
No it is correct. That's the name of the directory I created specifically for this purpose.

[2019-03-31 22:22] bscottm opened #1155 "New install.sh builds hie-8.6.3 on Windows... and fails"
Might want to either comment it out or make it a platform-dependent addition to the list of versions compiled.

BTW: Would also be handy to have a script that can execute the build, at least on Windows.

[2019-03-31 22:34] fendor commented on #1155
GHC 8.6.3 does not work on windows, see #1008

What do you mean with script? It is possible to execute the install.hs with `stack install.hs hie-8.6.4`, for example.

[2019-03-31 22:35] fendor commented on #1155
You mean, since GHC 8.6.3 does not work on windows, there should be a check/warning for it?

What kind of script? You can execute `install.hs` with `stack install.hs`.

[2019-04-01 04:06] bubba commented on #1154
Does the delinking solution posted in #1005 fix this?

[2019-04-01 04:46] mouse07410 commented on #1154
Unfortunately, I'm using Macports, not Brew. There is no Macports analog to "brew unlink". And forcing removal of the Macports libiconv package would break a lot of packages I use that happen to depend on the Macports-modified libiconv.

Also, I made an experiment - saved Macports libiconv in a separate place, and put a copy of /usr/lib/libiconv.dylib in its place. The HIE build still failed.

[2019-04-02 02:47] mouse07410 commented on #1154
@bubba Also, please note that in my case the problem is *not* that `libiconv.dylib` is not found - the problem is that by default `stack->ghc->clang` finds the *wrong* (for this purpose!) `/opt/local/lib/libiconv.dylib` instead of `/usr/lib/libiconv.dylib`. And it so happens that `/opt/local/lib/libiconv.dylib` provides different names than those in `/usr/lib/libiconv.dylib`.

Removing `/opt/local

[2019-04-02 11:17] mpickering commented on #522
@lorenzo Did you make any progress yet? I want to disable the on edit functionality on my branch.

[2019-04-02 14:21] mpickering commented on #522
I implemented the necessary parts in the backend to make this configurable on my branch.

https://github.com/mpickering/haskell-ide-engine/commit/a5fcf535c63d5efd3176e0b6e20ed9b6b383b337

If someone wants to upstream this then the UI parts need to be added to the plugin but I'm not going to do that immediately.

[2019-04-02 14:52] lorenzo commented on #522
@mpickering I did not, was busy with work this week. Do you plan on opening a pull request with your changes?

[2019-04-02 14:59] mpickering commented on #522
No I don't plan to but the commit is there if someone who knows how to modify the front end to expose this setting.

[2019-04-02 15:01] lorenzo commented on #522
Ok, I'll start by making a pull request to this repo with your commit. Thanks!

[2019-04-03 02:12] AlexeyRaga commented on #1023
Since the milestone `2019-03` has passed, do we have any hope for better supporting `cabal new-build` and `cabal.project` any time soon?

[2019-04-03 05:13] fendor commented on #1023
There is active work going at the moment, including adding support upstream

[2019-04-03 13:54] dcastro commented on #1100
@falsandtru, are you still seeing this error, or did you find a solution?
I get this error and hie crashes every ~10 minutes or so.
Tried removing `.stack-work`, didn't help.

MacOS 10.14 / Stack 1.9.3 / lts-13.7 / GHC 8.6.3 / Using vscode plugin

[2019-04-03 14:12] falsandtru commented on #1100
This error may be fixed after I resolved #1102 but anyway HIE throws a similar error when I'm touching the unresolved dependent packages.

[2019-04-03 23:38] bubba commented on #1154
@mouse07410 I can see stack passing `--extra-lib-dirs=/opt/local/lib/liconv` to cabal (the bad libiconv right?) in the logs. Did you try nuking `~/.stack/setup-exe-cache` and/or `$HIE_SRC_DIR/.stack-work`? It might also be worth adding `extra-libraries: iconv` in the .cabal file.
[I also found this related SO post](https://stackoverflow.com/a/43390487/1320911)

[2019-04-04 01:43] mouse07410 commented on #1154
**No**! That's the **good** `libiconv`, which somehow still did not get used, probably because `/opt/local/lib/libiconv.dylib` got noticed and processed *first* (but that's my guess).

I will let you know in my next post how an experiment on another machine went (`ghc-8.6.3`).

[2019-04-04 03:26] mouse07410 commented on #1154
**Update**
Installation failed, though this time it progressed quite a bit:
[code]

The problem is conflict between `network-2.8.0.0` that your stuff seems to require, and `network-3.0.1.1` that it somehow managed to install.

[2019-04-04 06:57] jneira commented on #1008
Hi, i am getting to install master using stack in windows 10 (with some caveats about cabal-helper-wrapper exe location) but in windows 7 (with stack.yaml and stack-8.6.4.yaml) it fails due to https://github.com/kazu-yamamoto/unix-time/issues/51

[2019-04-04 07:05] jneira commented on #1155
Maybe the script (`install.cmd`) could be simply:
[code]
... cause afaik it is the last stack config that works in windows.

In general, it could be a place to put the hacks to install it in windows with the least possible friction for users.

[2019-04-04 08:27] Anrock commented on #1155
@jneira Pls no additional platform-dependant scripts. We just recently merged a PR that deleted 3 of them, because synchronizing them is a pain and most of active devs don't have windows to test.

Put everything build-related into `install.hs`. Proper fix for this would be an exception for Windows for 8.6.3 target that just bails early with error message, just nobody implemented it.

Nope, latest

[2019-04-04 08:58] jneira commented on #1155
sorry for being late to the party but the project is being built with appveyor in windows, right? the script could be tested with it automatically, including a smoke test executing hie-wrapper with no error output.

sorry if it is obvious but what were the caveats to sync it?

it would be great to get a balance between user and dev experience

In windows 10 it works but it doesnt for me in windows

[2019-04-04 09:24] jneira commented on #1155
@Anrock never mind, `install.hs` could be the right place to do the windows handling as you can get with it almost the same behaviour of a cmd script

[2019-04-04 12:10] dcastro commented on #1100
@falsandtru thanks for the reply. I've updated to the latest version of hie. it seems to still be happening, but a lot less frequently it seems (just once in the past day)

[
![Screenshot 2019-04-04 at 13 07 53](https://user-images.githubusercontent.com/718166/55554515-dfda5d80-56da-11e9-91f0-b8d12a782b32.png)
](url)

[2019-04-04 12:21] falsandtru commented on #1100
Yes. HIE still has a lot of bugs. We have to restart our editor to clear incorrect errors.

[2019-04-04 19:19] #81 closed

[2019-04-04 19:57] mpickering opened #1156 "Hover causes far too much memory"
The way that the types are collected from the AST by using syb uses a lot of memory. This was already identified when haddock started using HIE files for its hyperlinker. The solution is to
make the traversal smarter to only recover types at the leaves rather than for all subexpressions.

This issues makes HIE unusable with GHC (or any big project) as the process of traversing a single module is t

[2019-04-04 20:03] alanz opened #1157 "install.hs build does not build 'hie-8.6.3' correctly"
Running `hie-8.6.3` gives

[code]

i.e. it is built with GHC 8.6.4

[2019-04-04 20:09] fendor commented on #1157
Should be fixed in head, cause is [#1131](https://github.com/haskell/haskell-ide-engine/issues/1131)

[2019-04-04 20:14] alanz commented on #1157
Yes it is, I was building the wrong branch.  Sorry.

[2019-04-04 20:14] #1157 closed

[2019-04-04 21:19] ThePiGuy0 opened #1158 "install.hs build-doc fails with incorrect header check error"
When building HIE, I ran the `stack ./install.hs hie-8.4.3` (same with 8.6.4) command and then ran `stack ./install.hs build-doc-8.4.3`. This resulted in the following error
[code]
I have run this command before (up until recently with the makefile) and this is the first time I have had this issue

[2019-04-04 21:31] fendor commented on #1158
Maybe this is related to the downtime of hackage today? Can you reproduce it, e.g. invoking it several times results in the same error message?

[2019-04-04 22:01] ThePiGuy0 commented on #1158
Repeating the command (with both 8.6.4 and 8.4.3) produces the same error

[2019-04-04 22:15] nponeccop opened #1159 "stack install.hs hie-8.4.4 installs ghc-8.6.2 and ghc-8.6.4 compilers as well"
And 3 respective snapshots: lts-12.26,  lts-13.12, nightly-2018-12-15.

I think that at least one of the 2 "extra" snapshots/ghcs can be eliminated.

[2019-04-05 05:34] jneira commented on #1159
As a side note, `stack script` does not use `.stack/config.yaml` so it reinstalls `ghc-8.6.2` in the default `local-programs-path` if you have change it to other location in the config.
Hopefully it seems it is going to honour it: https://github.com/commercialhaskell/stack/issues/3887#issuecomment-478650724

[2019-04-05 07:39] arrowd opened #1160 "stack install.hs cabal fails"
I'm running `stack install.hs cabal` on FreeBSD and get the following output:

[code]

The warning message about PATH seems unrelated and harmless, but

seems suspicious.

Any ideas how fix/debug this?

[2019-04-05 10:09] mpickering commented on #1160
I think the problem is actually `cabal: There is no package named 'Cabal'.`

I have no idea what the install script does but the fact it called `cabal install` seems dubious to me. What is that supposed to do?

[2019-04-05 10:22] fendor commented on #1160
Line is copied from the original Makefile, I dont know what it actually does or why it is needed.
Maybe @alanz knows more?

[2019-04-05 10:28] alanz commented on #1160
There is a package called `Cabal` on hackage, which is the base library used by `cabal-install`, and also by GHC (I think).

I recall at some stage we had to pull it in specifically, because the older GHC versions shipped with a version that is too early for ghc-mod.  I am not sure if it is still needed, perhaps do an experiment to see what happens, but make sure to test the actual installed versi

[2019-04-05 13:11] power-fungus commented on #1160
I am currently investigating the need of this step and it currently seems that this step is not required.

[2019-04-05 13:11] arrowd commented on #1160
I removed "cabal" rule from install.hs and `stack install.hs hie-8.6.3` finished fine for me.

[2019-04-05 13:12] power-fungus commented on #1155
I am currently in the process of reviewing the install-script. What feature exactly is requested here?

[2019-04-05 13:27] fendor commented on #1160
@arrowd, was it a complete clean install? E.g. only stack and git were freshly installed?

[2019-04-05 13:32] arrowd commented on #1160
Hmm, not sure. I also have `ghc` installed system-wide, but not `cabal`.

[2019-04-05 13:34] power-fungus commented on #1160
does running `cabal update` fix the issue?

[2019-04-05 13:37] arrowd commented on #1160
Which `cabal`? Installed by "cabal" rule? I didn't try.

[2019-04-05 13:50] alanz commented on #1155
@power-fungus if the build platform is windows, building the `hie-8.6.3` target should print out a warning, not build the target, but not error out, so the rest of the targets still get built.

[2019-04-05 13:54] fendor commented on #1155
Should be very similar to implement as using cabal new-install on windows.

[2019-04-05 14:09] power-fungus commented on #400
This is still an issue!

Hie complains that it does not find the `cabal-helper-wrapper` executable it requires, which it expects to be in `/home/vagrant/haskell-ide-engine/.stack-work/install/x86_64-linux-tinfo6/nightly-2019-03-07/8.6.4/libexec/x86_64-linux-ghc-8.6.4/cabal-helper-0.9.0.0/cabal-helper-wrapper`. I built `hie` from `/home/vagrant/haskell-ide-engine` using as much isolation as possibl

[2019-04-05 14:19] power-fungus commented on #1160
`stack install.hs cabal` currently calls `stack instal cabal-install`. Then, you should have `cabal` in the path, normaly `~/.local/bin`.

[2019-04-05 14:20] mpickering commented on #400
Yes my branch doesn't use `cabal-helper-wrapper` so it is probably easier to package.

[2019-04-05 14:23] power-fungus commented on #400
which one is it? I would like to give it a try

[2019-04-05 14:42] alejandrodnm commented on #1158
I've been having this issue for a couple of days, for me, it only happens when using `stack ./install.hs build-doc-8.6.3`, if I do it with `stack --stack-yaml=stack-8.6.3.yaml hoogle generate` it starts generating the docs, but then it encounters a different error related to `haddock-api`.

[code]
I found this PR https://github.com/haskell/haddock/pull/957 which fixes the haddock docs inside `hadd

[2019-04-05 15:16] power-fungus commented on #400
Another issue related to `cabal-helper-wrapper`: It is possible to set the `cabal-helper-libexecdir` environment variable and copy the built `cabal-helper-wrapper` binary into that directory. However, then the `settings` file of the `ghc` that compiled the `cabal-helper-wrapper` needs to be present... *sigh*.

I really hope that the issues related to `cabal-helper-wrapper` can be resolved fairly q

[2019-04-05 15:18] alanz commented on #400
Ping @DanielG

[2019-04-05 15:21] power-fungus commented on #400
It seems that `cabal-helper` has some nostalgia-issues. It does not work without finding the compiler that was compiling it :wink:

[2019-04-05 21:41] dboardmanrally commented on #992
Running the 8.6.4 install script attempts to install ghc 8.6.2 on mac OSX

[code]

[2019-04-05 22:23] fendor commented on #992
Yes, the install script uses ghc 8.6.2.
If this causes troubles for you, you can change the resolver in `shake.yaml` and in `install.hs`.
That problem, that you have to update two places for this, is currently being worked on and will be resolved soon.

[2019-04-06 09:08] alejandrodnm commented on #1158
I manage to build the haddoc db with the following steps, I'm just learning Haskell and its ecosystem so maybe there is a better way.

- Use `haddoc-api` directly github. In `stack-8.6.3.yaml` apply the following changes.

[code]
This relates to the bug in my previous comment

- Fix `HaRe` `MaybeToMonadPlus` line 216

`$ vim submodules/HaRe/src/Language/Haskell/Refact/Refactoring/MaybeToMonadPlus.

[2019-04-06 16:01] fendor commented on #1133
Can you try to execute `stack path` in your powershell?
Possibly in the project that you are trying to build/develop.

[2019-04-06 16:04] fendor commented on #1106
Is this problem still present?
I think I remember that the installed hie version was old?
I recommend closing that issue.

[2019-04-06 16:13] falsandtru commented on #1106
You could still reproduce the bug.

[2019-04-06 18:19] fendor commented on #1106
I can not reproduce the bug with hie-0.7.0.0.
I can format the document you provided just fine.

[2019-04-06 18:44] fendor commented on #1115
How are plugins supposed to access other plugins? Currently, it doesnt seem possible.

[2019-04-06 18:58] falsandtru commented on #1106
I can reproduce with `hie-wrapper(hie-wrapper) Version 0.8.0.0 (2507 commits) x86_64 ghc-8.6.4`. I installed HIE with `stack ./install.hs hie-8.6.4 build-doc-8.6.4`. How did you install? Are you using another formatter?

[2019-04-06 19:27] fendor commented on #1106
I am using brittany and installed it with nix.
What are using?

[2019-04-06 20:24] lorenzo commented on #1115
I think we are doing this incorrectly, we should maybe follow lead of what other languages' tooling are doing. I for instance like what Golang does: whenever you automatically insert an import, the whole of the import section gets automatically formatted.

We should probably do that: find the range of text were all the imports are and format that range with the chose formatter. We could expose a c

[2019-04-06 20:34] fendor commented on #1115
This is what I am currently trying to do.
The problem I am currently facing is, that the type
[code]
Can not be easily called within a `IdeGhcM`

[2019-04-06 20:43] lorenzo commented on #1115
I meant doing something like this: https://github.com/haskell/haskell-ide-engine/pull/889/files#diff-df7cc8b4c1792382d5165b401f9ba6d0R536

The `ghcmod` plugin instructs the client to request an action from the `hare` plugin. We could do the same here. Just build and action for formatting the range, and the right formatter will be used

[2019-04-06 20:49] lorenzo commented on #1115
@fendor maybe don't listen to me too much, I thought that lien was instructing the client to execute something, but it seems like the user still needs to select the action to be executed.

[2019-04-07 00:03] bubba commented on #1106
IIRC I was able to recreate this on macOS with 8.6.3. What OS did this happen on?

[2019-04-07 00:19] falsandtru commented on #1106
Ubuntu 18.04

[2019-04-07 18:36] nponeccop commented on #1159
@jneira apparently the stack bug is already closed. Can you recheck with stack-git?

[2019-04-07 20:24] jneira commented on #1159
Of course, i've just downloaded the artifacts of build here: https://dev.azure.com/commercialhaskell/stack/_build/results?buildId=1170
and it honours my user config file. 👍

[2019-04-08 04:39] jneira opened #1166 "Problem with hie-wrapper in windows related with location of cabal-helper-wrapper"
Hi,
* when running `hie-wrapper` in a cabal based project, i've got this output:

[code]

* When running it in a stack based project i've got:

[code]
* When i open the stack project in vscode the lsp server seems to be completely irresponsive (so maybe it is related with #1133?)
* The path to my `cabal-helper-wrapper` executable is `D:\dev\ws\haskell\haskell-ide-engine\.stack-work\install\f33caf5

[2019-04-08 07:49] jneira commented on #1166
Well, it seems the code is testing the file existence in the `bin` dir without the exe extension: https://github.com/alanz/cabal-helper/blob/8fecf6a7754424ed1653dce632382707e8f03499/lib/Distribution/Helper.hs#L519-L520
I think i could make a pr a test in my windows system

[2019-04-08 09:08] jneira commented on #1166
pr tested in windows 7: https://github.com/alanz/cabal-helper/pull/5

[2019-04-08 09:47] jneira commented on #983
Not sure 100% if it was the solution but i get to load cabal and stack based projects in vscode-1.33.0 (ext version 0.0.25) for windows 7 and 10 after installing locally the fix to make hie-wrapper find the cabal-helper-wrapper: https://github.com/alanz/cabal-helper/pull/5
Before that change the cabal project throwed an error and the stack one simply hanged out as described in #1166
They started t

[2019-04-08 10:44] #1010 closed

[2019-04-08 19:02] bubba commented on #1158
The ‘hie-test-utils’ error can also be caused by an outdated version of stack. Does `stack upgrade` fix that issue?

[2019-04-08 19:17] ThePiGuy0 commented on #1158
@fendor @bubba I'm still getting the original error (having run stack upgrade, pulled the latest hie source code and having re-run the stack ./install.hs hie-8.6.4 beforehand). Should I be following @alejandrodnm and using `stack --stack-yaml=stack-8.6.3.yaml hoogle generate`?

[2019-04-08 21:11] bubba commented on #358
Not sure why I removed the good first issue label, seems nice and straightforward!

[2019-04-08 22:10] power-fungus commented on #358
I could have a go at this.

[2019-04-08 22:36] bubba commented on #358
I’m thinking sending a showmessage/logmessage notification would probably be a good way to notify the user

[2019-04-09 11:19] fendor commented on #1100
Whenever you upgrade a stack ghc version, I recommend a `stack clean`.
Does the project build via `stack build`?

[2019-04-09 11:32] enobayram commented on #1100
@fendor Thanks for your comment, I had run `stack clean` and `rm -rf .stack-work` many times since the upgrade, but I've just tried `rm -rf $(find . -name .stack-work)` just in case. I didn't get get the error since then, I'll report back if I do.

[2019-04-09 11:33] fendor commented on #1159
Yes, normally only one additional snapshot should be required.
The PR #1168 may address this problem.

[2019-04-09 13:07] enobayram commented on #1100
Just happened again:
[code]

Maybe it's relevant; this happened shortly after adding `hashable-time` to the dependencies in the project `.cabal`, note how the error message involves `Day`.

[2019-04-09 20:14] alanz commented on #852
Try doing a `stack build` on the command line before launching hie, and see if it still maxes the CPU.
I suspect what you are seeing is a delay while hie invokes stack to build the project initially.
We need to improve the user feedback in this scenario.

[2019-04-09 21:30] lorenzo commented on #522
This is done

[2019-04-09 21:30] #522 closed

[2019-04-10 08:00] fendor commented on #1119
#1168 will partly tackle that, e.g. If the installed version is new enough, it will be used.

[2019-04-11 09:26] mpickering opened #1171 "hie executable should be compiled with -dynamic"
See https://gitlab.haskell.org/ghc/ghc/issues/15524

https://github.com/haskell/haskell-ide-engine/pull/1126/commits/c356c389c1b9a017470667892587b380c8ebaa85

Testing this change on my branch it makes a huge difference.

Any volunteers to integrate this into `stack` and the `./install.hs` script?

@power-fungus perhaps?

[2019-04-11 13:19] nponeccop commented on #1171
Unfortunately it opens another can of worms. Dynamic linking in Haskell doesn't work as of 2019, there are a bunch of issues. It may work if we _also_ build a static version, doubling build times. Cabal-install, Stack and GHC are broken:

https://github.com/haskell/cabal/issues/1720
https://github.com/commercialhaskell/stack/issues/3409
https://gitlab.haskell.org/ghc/ghc/issues/16526

and so on :)

[2019-04-11 14:00] mpickering commented on #1171
`hie` is the only binary which needs to be dynamically linked. It doesn't have a custom `Setup.hs` or anything complicated like the tickets you are suggesting. Have you tried compiling HIE with the `executable-dynamic: True` option set? Does it not work on your system?

[2019-04-11 14:19] shrin18 commented on #823
![issue](https://user-images.githubusercontent.com/23298265/55964683-6eb81e80-5c75-11e9-9598-3314c77caca1.png)
Could you please have a look into. Was this the same patch you got. Not able to run 'make'.

-Shrinish Donde
KTH, Stockholm

[2019-04-11 15:17] Anrock commented on #823
@shrin18 you're able to run make, you just don't have a ghc in your PATH. Stack doesn't put GHC in PATH and it's in no way related to HIE. Try asking in some haskell chat like #haskell on freenode, stack overflow or haskell subreddit.

[2019-04-11 15:44] nponeccop commented on #1171
I didn't try it. But it _can't_ work on Windows because I checked the last binaries and .dlls aren't there. So any build script should at very least change the setting if on Windows.

Also, the dynamic linking may seem to work, but bugs affect corner cases we may or may not encounter in the future. For example, the static Setup.hs linking bug affects dependencies too, but only if we disable "vanil

[2019-04-11 15:49] Anrock commented on #1171
Seems working on the first look. Just to be sure i did it right:
1. Added a dynamic-executable: true to cabal.project
2. stack ./install hie-8.6.4

I just checked that hie launches ok for stack project and handles basic diagnostic like misspelled name of type in scope.

[2019-04-11 15:53] nponeccop commented on #1171
Is hie dynamically linked indeed? can you look at the .exe with http://dependencywalker.com/ ?

[2019-04-11 16:03] Anrock commented on #1171
@nponeccop i've loaded the into dep walker, how exactly i determine if it's dynamically linked?

[2019-04-11 16:36] nponeccop commented on #1171
It should have some 90+ libHS*.dll. If it has the same dlls as stack.exe then it's static.

[2019-04-11 16:46] Anrock commented on #1171
Welp, it didn't work then. All I see is winapi related libs and no traces of anything libHS*-like, module(?) list is slightly longer than stack.exe, with addition of DBGHELP.DLL, PSAPI.DLL, SHLWAPI.DLL and WINMM.DLL.

[2019-04-11 17:27] nponeccop commented on #1171
these are all windows dlls. So it's definitely not dynamic.

[2019-04-12 02:45] power-fungus commented on #1171
I can have a look at this. What is actually required for this?

[2019-04-12 10:02] shrin18 commented on #823
Thanks. Fixed it !

[2019-04-12 17:14] nponeccop commented on #1171
We want to build hie and all its dependencies with `-dynamic`, which means generating .so and linking dynamically. Note that this means that the snapshots in ~/.stack are built with `-dynamic` too.

I know one way to do it:

[code]
I think it goes to `~/.stack/config` or something

[2019-04-12 22:59] garry-cairns commented on #852
I'm also experiencing something similar, but I don't use stack at all:

## Description

I installed `hie84` today for integrating with emacs. I got everything running and connected to the LSP server. At that point my fans started going full-tilt and `top` showed GHC using > 400% CPU. I had to kill GHC twice to get everything to calm down.

## Steps to reproduce

I'm not sure which parts of [my nix

[2019-04-13 07:31] fendor commented on #852
Does it happen every time you open it?
I installed hie vie via hie-nix and the command `nix-env -f default.nix -i hies`

Normally, hie has to configure/build the project once. So, while it is true that the cpu maxes out, it has to do this in order to function. However, only once not every time you open your project.

Uninstall
With nix-env -qa you should be able to see the installed packages by na

[2019-04-13 07:47] garry-cairns commented on #852
@fendor you're correct that it seems to be a one-time cost so I'll keep it around. `-q` showed why the uninstall wasn't working — it's called `haskell-ide-engine` rather than `hie84` once installed.

[2019-04-13 09:44] fendor commented on #852
Great, then this is not really a bug, the feedback must be improved, though.

[2019-04-13 13:32] power-fungus commented on #1171
@nponeccop so this is really more of a thing the user has to do? Because the build process does not touch these files.

[2019-04-13 14:19] nponeccop commented on #1171
We need to answer some questions:
- [ ] Is it possible to achieve dynamically linked `hie` executable with Stack?
- [ ] Is it beneficial (e.g. the dynamic linking shortens build times or uses much less disk space)?
- [ ] What are implications for Stack snapshot cache and end-user applications in general? Are they forced to use dynamic linking in their projects as well or not?
- [ ] Which platforms

[2019-04-13 15:34] mpickering commented on #1171
@nponeccop Please can you reopen this issue as it is not resolved yet.

You can read more about the investigations I did into this issue on the [GHC issue tracker](https://gitlab.haskell.org/ghc/ghc/issues/15524#note_193217)

In summary

* Nix users are worst affected by this because of the poor interaction between `--enable-library-for-ghci` and `--enable-split-sections`. There has recently been

[2019-04-13 16:38] nponeccop commented on #1171
Oh sorry I closed it by mistake

[2019-04-14 08:58] fendor commented on #872
This should be different now, hie does no longer choke on that, however, hlint does not work if there is no hlint.yaml, or in general, when its data-files are missing. The issue #1143 aims to solve this problem as a whole, once we have decision for it.

[2019-04-14 09:29] alanz commented on #1134
@mpickering , does your new `hie-bios` deal with this properly?

[2019-04-14 09:42] alanz commented on #1171
In the interim, can we make this platform-dependent? So it is enabled for platforms where we know it works.

[2019-04-14 09:44] mpickering commented on #1134
Yes it does but not perfectly. GHC has a lot of hs-boot files so I needed to deal with it.

[2019-04-14 09:55] alanz commented on #1134
Ok, so I think it is best to use this as a requirement on hie-bios, rather than try to fix it with the current setup.

[2019-04-15 04:47] domenkozar commented on #852
There was a serious regression found in Nix GHC setup, I'm currently compiling hie-nix that should fix it - worth a try: https://github.com/domenkozar/hie-nix/issues/59

[2019-04-15 07:04] mpickering commented on #852
@domenkozar I don't think using a new version of hie-nix will help this problem.

[2019-04-15 09:25] mpickering commented on #1156
This change makes a big difference. https://github.com/mpickering/ghc-mod/commit/1544779ac040ca30d5b3e0c5b9156e2007a51c4d

If someone wants to finish this off then they need to reimplement `collectSpanTypes` in `Haskell.Ide.Engine.ArtifactMap` in order to build the type map directly whilst performing the query rather than building an intermediate list and copy these changes into `ArtifactMap` so t

[2019-04-15 11:15] fendor commented on #1156
I can take a look at it, this week!

[2019-04-16 09:39] mpickering opened #1176 "hie-bios: hi-boot files are always recompiled on save"
For some reason on the hie-bios branch when you change a file, all dependent hs-boot files are recompiled as well. This doesn't happen in GHCi when you reload a file.

It is even more confusing as the `hi-boot` files are definitely created but don't seem to be used during recompilation.

Not going to investigate this a lot now as hs-boot files are quite rare.

[2019-04-16 16:51] power-fungus commented on #1160
Is this still an issue? I am not able to reproduce this error

[2019-04-16 18:38] falsandtru opened #1177 "HIE automatically downloads and uses old HIE"
It makes a lot of unnecessary debugging.

[code]

[2019-04-16 18:52] falsandtru opened #1178 "Can't use with .chs files"
HIE throws an error with https://github.com/crclark/foundationdb-haskell/blob/master/src/FoundationDB/Error/Internal.hs#L13 because HIE can't parse https://github.com/crclark/foundationdb-haskell/blob/master/src/FoundationDB/Internal/Bindings.chs. Can you support .chs files?

[2019-04-16 19:02] mpickering commented on #1177
What is the bug here? Are you actually reporting the final line ?

[code]

[2019-04-16 19:04] mpickering commented on #1178
What is the actual error you have encountered?

[2019-04-16 19:09] falsandtru commented on #1177
HIE shouldn't try to use such old version in the first place: `HIE(hie-8.2.2) Version 0.6.0.0, Git revision 5245042a317944f394de20b29c55afd0bb0dbc76 (dirty) (2426 commits) x86_64 ghc-8.2.2`

[2019-04-16 19:09] falsandtru commented on #1178
[code]

[2019-04-16 19:10] mpickering commented on #1177
That is a good point. The wrapper should be a lot more precise about which version of hie it invokes.

[2019-04-16 20:04] fendor commented on #1177
Why shouldn't it try to use a version of hie that fits to the used GHC?

No old hie version is ever being downloaded, if this version is being used, then it was installed on the system.
I dont see why the wrapper should perform a version check in this case. I should be able to use an old hie version if I want to, maybe it is more stable for my project, or I dont want to recompile every version.

[2019-04-16 20:49] falsandtru commented on #1177
I think very old versions should be rejected (Accept only 8.x.x in this case). And should warn or notice the use of old version (with 8.x.x).

[2019-04-16 21:00] fendor commented on #1177
Why should it? they are still working, older versions support sometimes older ghc versions, e.g. pre 8.x.x is supported only by very old versions. However, if they work for you, why should you be spammed for it?

[2019-04-16 21:17] falsandtru commented on #1177
I thought old versions of HIE are not needed. If old versions are sometimes needed, they have to be accepted.

[2019-04-16 22:00] fendor commented on #1177
They are not really needed, but also it is not a strict requirement to always have the most up-to-date version.
It is also somewhat hard to know when there is a more recent version, what should the wrapper do, call home and ask what the most recent version is? Or is the version hard-coded in each wrapper version?
If we can define a solution here, it shouldn't be too hard to implement.

[2019-04-17 18:31] alejandrodnm commented on #1158
Running stack upgrade did nothing for me, it said that I was running the latest version.

[code]

I try again with the latest changes from master and got the same results.

I'm on macOS Mojave and I installed stack with the instruction of https://docs.haskellstack.org/en/stable/README/#how-to-install which is just`curl -sSL https://get.haskellstack.org/ | sh`

[2019-04-17 20:05] fendor commented on #1156
Problem has been adressed and has been merged into #1126.

[2019-04-18 05:16] ivanperez-keera commented on #787
Sorry to comment on an old issue, but if this is indeed implemented, how is it used? I fail to find any document explaining that.

[2019-04-18 05:46] ivanperez-keera opened #1179 "Explain how to install with cabal in README"
The README favours installation methods other than cabal. For reasons that at too long to discuss here, some of us do not like using stack.

While the readme states that cabal can be used to install haskell-ide-engine, this is only briefly mentioned, and no explicit instructions are given.

As it turns out, this package compiles just fine with the good-old cabal sandboxes, which are a perfectly go

[2019-04-18 06:48] bubba commented on #787
https://github.com/haskell/haskell-ide-engine/pull/813 added this, from what I can remember it shows up as a quick fix for the hlint warning for top-level definition with no type signature.
Perhaps it could be expanded to offer to insert the type signature for definitions not at the top level?

[2019-04-18 08:04] mpickering commented on #1179
@ivanperez-keera I think the main reason for the complexity is that the installation script builds 3 different versions of hie, one for each of the last 3 GHC releases.

There is also the problem of the large number of submodules which are because certain dependencies have
not made it onto hackage in months/years. We are in the process of trying to decouple from these dependencies so hopefully som

[2019-04-18 08:06] mpickering commented on #1178
It seems the problem here is that the immediate when the cradle is set up the chs are not preprocessed. Does anyone know how this currently works for alex/happy files?

[2019-04-18 08:07] mpickering commented on #1177
I think I would prefer it if the wrapper used absolute paths but I'm not a user.

[2019-04-18 08:32] mpickering commented on #1146
Seems like this should be one of the higher priority issues to fix.

[2019-04-18 09:07] Anrock commented on #1146
Agreed. I've pinned the issue to help with visibility.

[2019-04-18 09:10] Anrock commented on #1179
@mpickering could you make a PR and document howto use cabal new-build in README?

[2019-04-18 09:29] power-fungus commented on #1179
I can write some documentation about this. However, this is not a good idea. Before we had install.hs we had new issues daily about some error that Was due to an incorrect installation. Officially supporting a different installation method will bring these back.

[2019-04-18 09:48] fendor commented on #1179
The install.hs almost supports build with cabal
especially with the incoming build simplifications.
To make it possible, you need to compile `install.hs` somehow. Ghc needs to know about the packages `shake`, `directory`, and soon `extra`.
The location to install hie to is defined by `stack --local-bin`.
you may replace, for yourself, `stackLocalBin` with the location that you want hie to be in.
t

[2019-04-18 09:52] mpickering commented on #1179
I'm just talking about the fact you can run `cabal new-build` to build the project if you just want one executable. I'm not say the installation script should be used to use cabal.

[2019-04-18 10:28] mpickering opened #1180 "GHC API CPP should be isolated to one module"
There is some undisciplined CPP which makes modifying code harder than it should be. This should all be placed into a compatibility module so it is isolated into one place.

For example
508         processSig :: LSig GhcPs -> [Decl]
509 #if __GLASGOW_HASKELL__ >= 806
510         processSig (L l (ClassOpSig _ False names _)) =
511 #else
512         processSig (L l (ClassOpSig False names _)) =
513

[2019-04-18 10:29] power-fungus commented on #1179
as far as I know it the steps to build `hie` (directly after a fresh clone) are the following:

1. `git submodule sync && git submodule update --init`
2. somehow get `hoogle` (`>=5.0.17` to be safe) into the path and call `hoogle generate`
3. build `hie` with the build-system of your choice
4. install `hie` and the `hie-wrapper` into the path
5. repeat steps 3 and 4 of all required ghc-versions

H

[2019-04-18 10:36] ivanperez-keera commented on #1179
Perhaps this question is naive, but shouldn't the necessary extra compilation steps (calling hoogle, using shake, etc.) be part of the Setup.hs file? Isn't this precisely what those are for?

[2019-04-18 10:40] power-fungus commented on #1179
Perhaps, but I have no experience with that. Is it possible to initiate building `hie` with different compilers from there?

[2019-04-18 10:44] ivanperez-keera commented on #1179
No. The way to do something like that would be to change your PATH and re-run, or tell cabal which GHC to use (both of which seems reasonable to me).

[2019-04-18 10:50] ivanperez-keera commented on #787
This feature would be useful more generally (meaning, at least, without hlint, but for top-level definitions). Hlint does not complain about top-level definitions without signatures.

I don't see any in that commit, but are there functions that could be called directly (and bound to key commands in vim) to 1) see the signature of the expression under the cursor, and 2) insert it?

Later/in a separ

[2019-04-18 10:53] #1115 closed

[2019-04-18 10:56] power-fungus commented on #1179
another non-trivial issue was the requirement that `git submodule update --init` has to be called before `stack` reads the `stack.yaml` for building `hie`, which contains references to the submodules.
The same issue is present with `cabal`: Directly at the start, the `cabal.project` is read which references submodules that are not initialized yet.

Also, can part of the code from the `Setup.hs` be

[2019-04-18 11:02] power-fungus commented on #1179
I firmly believe that a process like the `install.hs` is the correct way to install `hie` from source and setting up the correct environment. I will write all the unexpected requirements to building this project in this project's documentation in the next few days. I have already written *something* (https://github.com/haskell/haskell-ide-engine/blob/master/docs/Build.md), but this is neither good

[2019-04-18 11:04] power-fungus commented on #1155
I will tackle this issue in #1168.

[2019-04-18 11:07] ivanperez-keera commented on #1179
This repo uses submodules. The recommended way of cloning already does the `update --init` for the submodules, does it not?

I cannot find anything in `install.hs` renaming those files. How does hie-wrapper expect them to be named?

[2019-04-18 11:19] ivanperez-keera commented on #1179
Some things that the `install.hs` does, I would have expected to find in the cabal file, like [dependencies on other haskell tools](https://cabal.readthedocs.io/en/latest/developing-packages.html#pkg-field-build-tool-depends) (e.g. happy, hoogle). I would have expected to find calls to `hoogle` inside the Setup.hs file.

I suspect, but I don't know for sure, that most "normal" users only have one

[2019-04-18 11:36] power-fungus commented on #1179
[code]

My understanding is that, `hie-8.6.4` does not work with `ghc-8.4` projects due to compiler-internal breaking changes.

`git clone ... --recursive` works only for a fresh clone. After each pull, `git submodule update` is still required.
My opinion: *relying* on users to have to repository in a consistent state is not good.

The decision to introduce a one-stop-shop build and add the depend

[2019-04-18 11:47] ivanperez-keera commented on #1179
Unless users are going to regularly update and reinstall, this should not matter.

I understand your position. But it also draws users away, and it is not necessary (since it installs without).

[2019-04-18 11:59] power-fungus commented on #1179
We disagree indeed.

since `hie` is quite unstable and in active development this happens regularly.

This is not true for most users (windows & MacOS) in most circumstances (need correct environment for hlint, hoogle, cabal-helper-wrapper, ...)

I AM in favor of a install-possibility without stack. However, this is not **simple**

[2019-04-18 18:22] power-fungus commented on #1158
The original error seems to be an issue of `hoogle generate`. I have such errors regularly as well but I am never able to reproduce them and they vanish fairly quickly (deleting `.stack-work` / calling `git clean -Xdf` helps sometimes).

I am unable to understand what you did in your comment afterwards.
* does `stack ./install.hs hie-8.4.4` work? Did it always work?
* does `stack ./install.hs buil

[2019-04-18 19:57] power-fungus commented on #1171
@alanz I am currently experimenting with dynamic building on linux. But I need assistence in testing if the build script I write does indeed build everything dynamically.

[2019-04-18 20:07] power-fungus commented on #1171
Can someone try to check if `cabal new-install hie --enable-executable-dynamic -w ...` does the correct thing? Or should a different command be used?

[2019-04-18 20:33] ThePiGuy0 commented on #1158
@power-fungus I'm not sure what's changed (I did change my Linux distro so maybe that had some effect) but suddenly everything is working perfectly (at least for the 8.6.4 release which didn't work before).

To answer your questions, `stack ./install.hs hie-8.6.4` always worked but `stack ./install.hs build-doc-8.6.4` always produced my original error (alongside other versions).

I need more 8.4.3

[2019-04-19 07:15] power-fungus commented on #1158
Same here. This is probably a deployment issue on hackage but what do I know.

[2019-04-19 10:56] power-fungus commented on #1143
I would like to tackle this at install-time. My plan:
* in `install.hs`: call `cabal get hlint`, then store the `hlint/data` into `$HIE_DIR/hlint-data`
* in `hie`: call `hlint` with `--datadir=$HIE_DIR/hlint-data`

My suggestion is that `HIE_DIR=$XDG_DATA_HOME/hie`, which is `$HOME/.local/share` by default. When I am able to reliably build binary packages, the directories `$XDG_DATA_DIRS` (default

[2019-04-19 16:51] aryairani opened #1182 "`./install.hs build-all` fails"
[code]

Fwiw, contrary to the warning early in the build, the cabal on my PATH does seem to be the same as the one installed from `/Users/arya/.stack/snapshots/x86_64-osx/nightly-2018-12-15/8.6.2/bin/cabal`, as per `diff` and `which cabal`.

Any ideas?

Thanks!

[2019-04-19 17:31] power-fungus commented on #1182
What did the `-j 2` actually do? Could you run the `install.hs` without it?
If `-j 2` executes targets in parallel, this is an issue since concurrent `stack` processes get in the way of each other.

[2019-04-19 17:53] arrowd commented on #1160
Ah, I found the source of the error. I had empty `~/.cabal/config` file and this was causing `cabal update` to fail.

I'm still don't like that it installs `cabal-install` into my PATH, though.

[2019-04-19 17:53] #1160 closed

[2019-04-19 18:02] power-fungus commented on #1160
@arrowd have a look out for #1168. This fixes the problem

[2019-04-19 21:44] aryairani commented on #1182
Sorry, I shouldn't have used that in my bug report.  Here's another try without it:

[code]

[2019-04-19 21:55] fendor commented on #1182
First, is your stack installation up to date? If you are not sure, just use `stack upgrade`, then `stack clean --full` and try again.
Second, is your stack installation working? E.g. there were some problems with a correct stack setup on macos.
Last, can you try to execute the command `stack --stack-yaml=stack-8.2.1.yaml` in the project folder and paste the logs from `/Users/arya/.stack/setup-exe-

[2019-04-19 22:02] aryairani commented on #1182
My Stack version was 1.7.1.  Now I've upgraded it to 1.9.3.

I believe my stack installation is working alright, I use it daily to build my work project.  I wouldn't consider myself a Stack expect by any stretch, but I have been under the impression that things were running smoothly.

I'm running `stack build --stack-yaml=stack-8.2.1.yaml` now and will paste the logs shortly.  Thanks for your help

[2019-04-19 22:05] fendor commented on #1182
That might be the issue. Please report back whether that fixes it!
If it does, the pr #1168 tackles your common problem, which will be merged ASAP.

[2019-04-19 22:10] aryairani commented on #1182
That does seem to have done the trick:
[code]
🎉

[2019-04-19 22:15] #1182 closed

[2019-04-20 11:02] alanz commented on #1146
I think the first step is to have some reproducable bug reports.

Because the underlying architecture is supposed to make it robust, in that the main loop keeps processing regardless, we have deferred execution to provide a result if the GHC invocation fails, and for things like Hover it should respond immediately based on their being a currently cached result.

[2019-04-20 11:30] expipiplus1 opened #1183 "Add 'Add EmptyDataDecls' code action"
Given the below code, GHC suggests turning on `EmptyDataDecls`:

[code]

The error message from GHC looks like `‘Foo’ has no constructors (EmptyDataDecls permits this)`

It would be great to have this as a code action.

See also #890

[2019-04-20 11:37] fendor commented on #1183
Looks like this is a single line change in `Pragmas.hs`, adding `"EmptyDataDecls"` to line 96.

[2019-04-20 11:44] fendor commented on #1183
Actually, that just compiles for me on ghc-8.2.2, what ghc version is that for?

[2019-04-20 18:31] nponeccop commented on #1171
The goal is just to build the hie executable dynamically. So you can check it with `ldd {full path to hie}`. If you see many `libHS*` files it's dynamic. If you see about 10 references then it's static.

[2019-04-20 18:33] nponeccop commented on #1159
It isn't merged as of April 20

[2019-04-20 21:09] mpickering commented on #1146
I think actions like "hover" block because the implementation was inefficient.

I also observed that reporting a large number of diagnostics (500) causes something to pause, not sure if that was a HIE or vscode issue.

[2019-04-20 22:11] fendor commented on #1155
Now version 8.6.3 will no longer be installed on windows.

[2019-04-20 22:11] #1155 closed

[2019-04-20 22:12] fendor commented on #1159
Should be fixed now, please check!

[2019-04-20 22:12] #1159 closed

[2019-04-20 22:18] fendor commented on #1158
If it is a temporary hackage error, we won't fix it here! Maybe the pr #1168 fixed it by removing custom hoogle targets.

[2019-04-20 22:18] #1158 closed

[2019-04-20 22:24] fendor commented on #1111
Do you have long paths enabled on windows?

[2019-04-20 22:24] fendor commented on #1119
Now the version on the path will be used if possible!

[2019-04-20 22:24] #1119 closed

[2019-04-21 08:02] expipiplus1 commented on #1183
@fendor I'm using ghc 8.6.4

[2019-04-21 08:55] alanz commented on #1146
I am pretty sure that the default setting for number of issues is to limit it to 100. Which are sorted to be the first ones, so perhaps the sorting process is where the delay comes from.

[2019-04-21 09:16] GoNZooo commented on #1081
Is this reproducible at all? A repo that reliably causes this would probably be needed if one were to take this one as a first issue.

[2019-04-21 13:11] alanz commented on #1146
And I think the current delayer is requesting completions, if anyone wants to take a look. It should work like Hover, if there is no currently cached module it returns immediately with an empty result.

[2019-04-21 14:16] bubba commented on #1159
On a related note, is it possible to use
`system-ghc: true` in shake.yaml to avoid stack having to download another snapshot/compiler? Assuming that install.hs is backwards compatible with other versions of ghc?

[2019-04-21 14:26] fendor commented on #1159
Possibly yes. @power-fungus?

[2019-04-21 16:22] fendor commented on #1183
Still just compiles for me. Very weird.

[2019-04-21 18:41] power-fungus commented on #1159
I will test that. What happens if there is nö system-ghc

[2019-04-21 19:25] fendor commented on #1159
Afaik, it errros out.

[2019-04-21 20:36] fendor commented on #1002
I suppose, since the Makefile does not exist anymore and #1168 has been merged, this can be closed now.

[2019-04-21 20:36] #1002 closed

[2019-04-21 20:44] fendor commented on #1183
@expipiplus1 Can you check whether #1187 solves your issue? Because, I can not reproduce that problem at all.

[2019-04-22 02:01] nponeccop commented on #1159
works for me

[2019-04-22 03:50] expipiplus1 commented on #1183
#1187 works perfectly, ++@fendor!

[2019-04-22 03:50] #1183 closed

[2019-04-22 08:33] alanz opened #1188 "New documentation fails for `bimap`"
We end up with

![Screenshot from 2019-04-22 10-32-16](https://user-images.githubusercontent.com/409607/56491789-f6115780-64e9-11e9-965f-2e4071ca1701.png)

Which is because of

[code]

[2019-04-23 09:08] expipiplus1 opened #1191 "Add code action for hiding imports"
It would be nice if there was a code action for hiding imports which are unused and being shadowed by local declarations.

This is complicated because it requires some detailed information on the provenance of these names in order to hide them (for example if they are record fields).

An example:

Given the following warning:
[code]

To the hiding list of `Graphics.Vulkan` add

[code]

At the mome

[2019-04-23 09:13] lorenzo commented on #1191
An alternate code action could be to make the shadowed function come from a qualified module instead. I often choose to fully qualify things when getting name conflicts

[2019-04-23 09:14] expipiplus1 opened #1192 "Add code action for ignoring warnings"
It would be nice to have a code action at the location of any warning to add an `OPTIONS_GHC` pragma to the file turning off that warning. This may not be the best behavior to encourage though...

[2019-04-23 17:37] michaelpj opened #1195 "Possibly wrong bounds for `lsp-test`"
This pops up when using `cabal new-build`, see https://github.com/bubba/lsp-test/commit/91086dedbd6ee34ce5c9f3cc47081d839882e29c#commitcomment-33279281.

[2019-04-23 17:39] michaelpj opened #1196 "liquid haskell tests rely on having (old) liquid haskell installed"
If it's not installed they fail, which is unfortunate.

Adding liquid haskell as a dependency is not straightforward, for two reasons:
- They haven't released a version compatible with GHCs newer than 8.4, so we can't just depend on it normally
- Adding a recent commit as a source dependency works, but the output format seems to have changed, so the tests all fail

I think adding at as a source de

[2019-04-23 17:44] michaelpj opened #1197 "Functional tests rely on stack and don't seem to work with new-build"
After adding stack to the `shell.nix` dependencies and `hie` to the `build-tool-depends` I get:
[code]

[2019-04-23 18:23] alanz commented on #1023
I think this issue will be properly addressed when the hie-bios is fully integrated.

[2019-04-23 18:45] bubba commented on #1195
Has been fixed with a revision on hackage

[2019-04-23 18:45] #1195 closed

[2019-04-24 02:44] mouse07410 commented on #992
@fendor could you please tell where in `install.hs` is the dependency on `ghc-8.6.2`? I could not find it.

[2019-04-24 03:33] mouse07410 commented on #992
Here are some logs from failed runs. Help would be greatly appreciated.
[cabal-build-all.txt](https://github.com/haskell/haskell-ide-engine/files/3110446/cabal-build-all.txt)
[cabal-hie-8.6.4.txt](https://github.com/haskell/haskell-ide-engine/files/3110447/cabal-hie-8.6.4.txt)
[cabal-hie-8.6.4a.txt](https://github.com/haskell/haskell-ide-engine/files/3110449/cabal-hie-8.6.4a.txt)
[cabal-hie-8.6.4b

[2019-04-24 05:58] power-fungus commented on #1196
What about a new submodule?

[2019-04-24 07:49] fendor commented on #992
The `install.hs` depends implicitly on ghc-8.6.2 via its resolver in `shake.yaml`. You can safely bump it to a newer snapshot.

[2019-04-24 08:47] Anrock commented on #1008
`install.hs` no longer tries to build 8.6.3 on Windows, closed by #1168

[2019-04-24 08:47] #1008 closed

[2019-04-24 09:51] michaelpj commented on #1196
Could do - I'm not sure why we're using submodules rather than source deps at the moment. Maybe to support older versions of cabal that don't have that feature?

Given we're using submodules for other things, a submodule for liquidhaskell might also make sense.

[2019-04-24 12:13] bubba commented on #1197
I did a bit of debugging on this last night: the hie instance invoked by `cabal new-test :func-test` isn’t able to find cabal-helper-wrapper. Oddly enough `cabal new-run :func-test` is.
The solution was to add `cabal-helper:cabal-helper-wrapper` to build-tool-depends for func-test, but then I ran into this issue with cabal https://github.com/haskell/cabal/issues/6011

[2019-04-24 13:30] mouse07410 commented on #992
@fendor thanks. Edited `shake.yaml`, and got the build succeed on one machine (so far).

Could you explain the purpose of `stack-8.6.x.yaml` files vs. `stack.yaml`? Are they actually used? If so, how? I mean - do I need to adjust resolver in those that are version-relevant to my installation?

Here's config from the successful build - since two different resolvers seem specified, can you please te

[2019-04-24 15:12] power-fungus commented on #992
The different stack.yaml files are used to build `hie` with different `ghc` versions. `stack.yaml` is used to run `install.hs` in an isolated snapshot.

At what version does the cabal build still fail? You could run the command manually with `cabal new-install exe:hie -w <ghc-path>` and check if any error is reported. (ghc-path used by `install.hs` can be found by calling `stack install.hs cabal-g

[2019-04-24 16:30] shinzui commented on #400
This is still an issue on macOS. I built the binaries in a `tmp` dir then deleted the folder which broke `hie.` I discovered the problem by looking at neovim's language server logs.

<details><summary>Language server logs</summary>
<p>

[code]
</p>
</details>

[2019-04-24 17:10] nponeccop opened #1201 "v1 style warnings during stack ./install.hs"
`Warning: The update command is a part of the legacy v1 style of cabal usage.` and I think a few different ones later.

[2019-04-24 17:14] mpickering opened #1202 "Integrate HIE into sourcegraph"
[sourcegraph](https://sourcegraph.com/welcome) is powered by language servers. It would be good to add proper Haskell support by writing an extension.

This amounts to starting up  HIE in a docker container and then communicating with HIE using websockets. In theory writing the extension is then very easy using the lsp-client library but whether that is finished is unclear to me.

Relevant issues:

[2019-04-24 17:16] mpickering commented on #1202
Indeed it looks like the lsp-client library is finished.

https://github.com/sourcegraph/sourcegraph-go/issues/28
https://github.com/sourcegraph/sourcegraph-go/pull/36
https://github.com/sourcegraph/sourcegraph-typescript/pull/106

[2019-04-24 17:29] nponeccop opened #1203 "cabal-help-wrapper fails with wrong ghc path"
When I open a file in neovim and try to edit it, it shows the following error:

[code]
`--with-ghc=ghc` option seems wrong to me. `ghc` isn't in PATH when I run neovim.

Running the command manually obviously says that ghc isn't found there.

I used `stack ./install.hs ghc-8.4.4` to install hie, and the project I try to open is 8.4.4 too.

[2019-04-24 23:05] mouse07410 commented on #992
So, if (for example) I use only `ghc-8.6.3` or `ghc-8.6.4`, how should I run the build?

Please see the complete logs I posted a couple of messages up - they're from yesterday's failed builds. Cabal build failed with the current (latest stable) Cabal, stack, and GHC-8.6.4 (and I think - 8.6.3 too). I haven't tried running Cabal manually (yet).

[code]

P.S. As of now, I have successful builds of t

[2019-04-25 00:59] nponeccop opened #1204 "Use install.hs to avoid boilerplate in stack*.yaml"
Can/should we generate various `stack*.yaml` from some form of declarative specification in `install.hs` sources? Currently they consist of largely the same info.

[2019-04-25 01:00] mouse07410 commented on #992
Also, I want to thank the developers/maintainers of this repo, whose hard work made the build (at least in one form) succeed now, when the previous versions failed.

[2019-04-25 07:56] power-fungus commented on #992
I have never seen your errors before. Please ensure a fresh repository:

[code]

The officially supported method to install these two versions only is `stack install.hs hie-8.6.4 && stack install.hs hie.8.6.3 && stack install.hs build-doc`.

if these fail with a similar error message I am interested in the output of `stack build --stack-yaml=stack-8.6.4.yaml` and `cabal new-install --symlink-bindi

[2019-04-25 08:15] power-fungus commented on #1204
This is an idea worth investigating. I am puzzled by the different lists of extra-deps in the `stack-*.yaml` files. If these are really required, I would prefer having the files explicit as hiding them behind a template would introduce more complexity than necessary.

However, I will do some experiments towards this.

[2019-04-25 08:32] power-fungus opened #1205 "Build error: Didn't see haskell-lsp-0.9.0.0 in your package indices"
I have the following error while building `hie` (current master (0ffe26bca3a5505902ccbb8761b9043441cf9149), freshly cloned, submodules up-to-date).

[code]

[2019-04-25 08:36] power-fungus commented on #400
@shinzui, this is still a known issue and some effort is being made towards fixing this

[2019-04-25 08:37] power-fungus commented on #1201
I *think* this is because `cabal-helper` does not yet work with `cabal new-build`. Running `cabal (v1-)update` is necessary for it to work. Hopefully, after #1168, only one such error appears.

When the `hie-bios` replaces `cabal-helper`, it will bring a lot more sanity to this project :tada:

[2019-04-25 08:38] power-fungus commented on #1201
#1126

[2019-04-25 08:40] power-fungus commented on #1203
This is a bit weird indeed. What does the process say when executed manually? Does `/home/.../.stack-work/.../lts-*/.../bin/cabal-helper-wrapper` even exist?

[2019-04-25 09:43] fendor commented on #1204
I don't think we should generate them.
The `stack*.yaml` files are used for development and building, while `install.hs` is used to install the binaries and provide a sane environment. I don't see why we would like to generate them in the install script.

[2019-04-25 09:46] fendor commented on #1191
Is there a tool to do it already? E.g. could `hsimport` do that?

[2019-04-25 10:03] power-fungus commented on #1205
resolved, somehow. maybe the hackage-mirrors on fpcomplete were just out-of-sync

[2019-04-25 10:03] #1205 closed

[2019-04-25 11:11] anonimitoraf commented on #1086
In vscode, for typescript imports, if I go:
`import { <cursor here while opening intellisense> } from 'some-module`, intellisense opens up to suggest exposed members of 'some-module'. It would be nice to be able to go:
`import Control.Monad ( <cursor here while opening intellisense> )`

Is this related? Is this even possible to do?

[2019-04-25 11:19] fendor commented on #1086
This is not related to this issue, but an interesting feature anyway!
Dont know though, whether it is possible. (Probably?)

[2019-04-25 11:34] anonimitoraf commented on #1086
I'm quite a noob with haskell, but if you can point me into good starting points for implementing this feature (or good starting points in general for understanding hie), I'll try and do it.

[2019-04-25 12:09] power-fungus commented on #1204
A bit of research shows that the extra-deps make this thing. *Maybe* it would be ok to define the same extra-deps for all ghc verisons, however this is another decision to be made.

[2019-04-25 12:22] mouse07410 commented on #992
Thanks. Will try later, and report.

OK, thanks. Got it. In fact, that's how my installation succeeded.

This doesn't work:
[code]
Any idea why the successful doc build above complains about missing documentation?

Also, to clarify the use of `stack-8.x.x.yaml`: does `install.hs` actually use them when a specific GHC version is requested? What's the relationship between `stack.yaml` and `stack-8.6

[2019-04-25 14:11] power-fungus commented on #992
You seem your repository could benefit from `git pull`

[2019-04-25 14:15] alanz commented on #1202
I am pretty sure hie is already in sourcegraph, see this older commit: https://github.com/sourcegraph/lsp-adapter/blob/dc2ede25752a7a3878a5f63e4718dda0e096b8ab/dockerfiles/haskell-ide-engine/Dockerfile

[2019-04-25 14:23] skress opened #1206 "HIE doesn't work with 'simple"

[2019-04-25 14:23] #1206 closed

[2019-04-25 14:28] mpickering commented on #1202
The lap-adapter approach appears to be deprecated. https://about.sourcegraph.com/blog/improving-language-support-in-2019

[2019-04-25 14:40] nponeccop commented on #1204
Yes, the dependency lists are different for different versions, so our description mini-language should include such overrides. We may still want to store the generated files in source control. The idea is to make dependency updates easier than not forgetting to update in 5+ places. We can even make update.hs script (or even .sh) which patches the `.stack` files.

Something like

`./update conduit

[2019-04-25 14:42] nponeccop commented on #1201
I didn't mean to move to `new-build`. I only meant to replace `update` with `v1-update` to suppress the warning.

[2019-04-25 14:54] skress opened #1207 "HIE doesn't work with 'simple' yesod project"
Hi,

I am trying to use HIE with the current VSCode extension. HIE is started, then it dies after a couple of seconds. VSCode retries 5 times and then gives up.

The project is created via

[code]

I can run successfully run `stack build` in the project, but due to bugs in GHC and the chosen LTS I cannot run `stack haddock`.

So I updated to LTS 13.17 which uses GHC 8.6.4 and I cherry picked https

[2019-04-25 15:27] power-fungus commented on #1201
I can do that

[2019-04-25 17:00] alanz commented on #1188
I am still seeing this with current master

[2019-04-25 18:24] RoelofWobben opened #1208 "HIE chrashes even if I use HieWrapper"
Hello,

I installed sghci-4.8.6.
So I did stack install.hs hie-4.8.6

but still I see this error

![afbeelding](https://user-images.githubusercontent.com/47429430/56759002-2e3dc200-6798-11e9-9998-72bf97e2d13b.png)

[2019-04-25 18:38] fendor commented on #1208
You need a `*.cabal` file in the project.
Use `cabal init`, or `stack init` in your project to generate one, and tweak it accordingly.

[2019-04-25 20:30] RoelofWobben commented on #1208
yep, on some way the project has lost the .cabal file.
Case closed

[2019-04-25 20:30] #1208 closed

[2019-04-25 21:08] mouse07410 commented on #992
You may not believe me, but I'm doing "git pull" and "git submodule update --init" every time I start doing anything on this repo. Good hygiene, y'know...

[2019-04-25 21:25] nponeccop commented on #1111
The path is just 166 chars:

`.stack-work\dist\7d103d30\build\cabal-helper-wrapper\cabal-helper-wrapper-tmp\.stack-work\dist\7d103d30\build\cabal-helper-wrapper\autogen\Paths_cabal_helper.dump-hi`

The base path C:\Users\Vatsman\Downloads\haskell-ide-engine-master\haskell-ide-engine\ is 73 chars

166 + 73 = 239 chars, below the limit.

Enabling long paths is an intrusive system-wide procedure. So

[2019-04-25 21:33] nponeccop opened #1209 "Check length of current directory on Windows in install.hs"
My suggestion is:

- if we are on Windows
- if `length <$> System.Directory.getCurrentDirectory` is above a threshold (currently some 160 chars isn't buildable)
- create some long path and attempt to `setCurrentDirectory` there.
- If it succeeds then we have long paths enabled.
- if it fails print a warning and/or abort building

(a blind advice to enable long paths systemwide is not a good idea.

[2019-04-25 21:48] fendor commented on #992
`hie --version` hints to an old version of hie, since the current version is `0.8.0.0`. Or there is an old hie version on the PATH.
The target `build-docs` does not exist on HEAD anymore.
Thus, your repository is either not up-to-date or you are not following the master branch.

To the relation, they are not related. `stack.yaml` is just using the nightly stackage snapshot. It is used for developm

[2019-04-25 22:23] mouse07410 commented on #992
Thank you - I just noticed that on one machine indeed it built (or used) an old version (0.7 instead of 0.8). I'll take care of that.

So, it I'm using "stack install.hs ..." and want to ensure the build users a specific resolver and GHC-8.6.4, I need to edit shake.yaml and stack-8.6.4.yaml?

[2019-04-25 22:25] fendor commented on #992
Afaik you only have to edit the `shake.yaml` such that install.hs is run with the ghc version you wish. If you use `stack install.hs hie-8.6.4` the correct `stack*.yaml` will be automatically used for the `hie` executable.

[2019-04-25 22:29] mouse07410 commented on #992
Great! But do I need to make sure stack-8.6.4.yaml doesn't pull a different resolver?

[2019-04-25 22:31] fendor commented on #992
No, the only additional resolver is pulled in by `shake.yaml`. Everything else should work as expected.

[2019-04-26 00:00] mouse07410 commented on #992
Indeed. That machine was on a different branch. Thanks for pointing that out. Just fixed.
[code]

[2019-04-26 09:29] power-fungus commented on #1204
I doubt that the features are worth the extra complexity.

[2019-04-26 11:47] Anrock commented on #1209
Sounds like a nice idea in general. Isn't it possible to detect long paths via some system variable or something? Creating and `cd`ing there sounds very ad-hoc.

[2019-04-26 13:36] power-fungus commented on #1179
I vote to close this issue. Simply adding documentation to the readme is not a wise step.

I encourage the development of a build-system that is cabal-only that honors the requirements described in the documentation of the build system. However, I have not enough experience with cabal to do this.

[2019-04-26 14:17] skress commented on #1207
I have removed everything and restarted from scratch (and did not patch GHC again). As the problems still persist, I've tried to build hie with profiling enabled. Using the `--profile` option did not work (the compilation failed), I did install hie as follows:

[code]

I switched to a custom hie wrapper script which runs hie like `~/.local/bin/hie "$@" +RTS -xc
`.

Using the VSCode plugin with a n

[2019-04-26 15:02] mpickering commented on #1207
@skress Is the project public? It is possible this is a GHC bug though.

[2019-04-26 15:09] skress commented on #1207
It is not a 'project' at all. All I did was to create a new yesod project from an existing template:

[code]

That project gets created with lts-12.26 with a rather old ghc which has at least two bugs which prevents `stack haddock` from running, so I switched to lts-13.15 and changed a couple version boundaries for the project's dependencies. That's all I did. I did not change any line of code ...

[2019-04-26 15:19] mpickering commented on #1207
Thanks for the detailed bug report. Sorry that HIE didn't work for you so far. Someone will look into this issue and try to reproduce it. It would be good to isolate whether this only happens on OSX for example.

[2019-04-26 15:32] fendor commented on #1207
I could reproduce it on NixOS, it didnt work either, so doesnt seem like OSX related problem.

[2019-04-26 16:28] power-fungus opened #1210 "build error with `cabal new-build`"
when calling `cabal new-build` on a fresh clone, the build fails. (ghc-8.6.4 on fedora)

It seems that this is due to incorrect version bounds.

<details><summary>log</summary>
<p>

[code]
</p>
</details>

[2019-04-26 16:28] michaelpj commented on #1195
I'm still observing this, as is @power-fungus, even after updating my hackage index. Possibly best to just push a restriction to the bounds in this repo for now.

[2019-04-26 16:34] michaelpj commented on #1196
Sadly they [pin](https://github.com/ucsd-progsys/liquidhaskell/blob/v8.4.3-final/liquidhaskell.cabal#L112) a specific version of the GHC lib, so it's going to be difficult to make this work with our build. Better to take it as an external prebuilt executable. That means hacking at the nix side a bit.

[2019-04-26 16:42] power-fungus commented on #1195
There was some issue that *has* been solved by a hackage revision. However the issue about incorrect bounds is still present (see #1210, sorry for the duplicate issue) a quick PR #1211 fixes this issue temporarily.

[2019-04-26 17:14] alanz commented on #1195
Sometimes you have to tell stack to use a specific revision, for some reason. e.g. see `monad-dijkstra` in the current deps.

[2019-04-26 17:19] fendor commented on #1195
The problem is with `cabal new-build`, not stack, stack seems to work just fine.

[2019-04-26 17:28] power-fungus commented on #1195
For `stack` we actually fix the version to the correct one.

[2019-04-27 01:53] bscottm commented on #1207
Just to pipe in with a "Me too!": At first I thought the problem was with SublimeText and the Windows implementation of pipes. I tried hie-8.6.4 under Linux on VirtualBox, same problem. It seems to take about three RPCs before hie-8.6.4 craps out. It's almost as if hie's `stdout` got closed because debugging keeps logging responses.

This particular problem showed up about two weeks ago, and I've

[2019-04-27 11:14] mpickering commented on #1207
@bscottm Can you open a new issue please? It isn't clear to me that your problem is related to this at all.

In my experience errors such as

[code]

mean that the GHC that HIE was built with and version of GHC which build the shared object is different in some way. The one case I have seen this in particular is if you want to profile HIE you have to build it with a profiled version of GHC and the

[2019-04-27 11:22] mpickering commented on #1207
Can you also try building HIE so that the final executable is dynamically linked?

[2019-04-27 13:25] nponeccop commented on #1209
The setting is only read during boot, and only by certain builds of Windows 10 and Windows Server 2016/2019.

Also, it's actually a bug in GHC older than 8.6.1 which the Windows setting manages to work around, see https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/win32-dlls.html#windows-file-paths

So by checking for a breakage using a broken GHC API we make it very robust against bo

[2019-04-27 13:49] #1210 closed

[2019-04-27 15:49] Infinisil commented on #519
Aha! This is due to hie-nix doing static linking by default. I've now switched to my new https://github.com/infinisil/all-hies and will merge https://github.com/Infinisil/all-hies/pull/3 soon which fixes it.

[2019-04-27 16:15] alanz commented on #1188
And it seems I had to flush my `.stack-work` and reinstall.

[2019-04-27 16:15] #1188 closed

[2019-04-27 21:11] skress opened #1214 "Document How to compile HIE with profiling enabled?"
According to https://github.com/haskell/haskell-ide-engine/issues/556#issuecomment-430202467 I should be able to compile HIE with profiling enabled like this:

[code]

I've tried it on a fresh clone of the repository on macOS and Linux and it fails on both systems with the same error:

[code]

Any ideas how to avoid this problem? (In case the question arises: I'd like to further debug my problem i

[2019-04-27 21:29] mpickering commented on #1214
Adding `profiling: True` to the `cabal.project` file and using `cabal new-build` worked fine for me when I tried it. I wonder if you might run into problems if you don't have a profiled version of GHC (you have to build this from source so it probably isn't worth the effort).

Any easier way to debug this issue might be to disable profiling in your project if it's enabled :) ?

[2019-04-27 23:56] mouse07410 commented on #1154
Successfully built with Stack via `stack ./install.hs hie-8.6.4`, forcing `resolver: lts-13.15 # GHC 8.6.4` in `shake.yaml`.

[2019-04-27 23:56] #1154 closed

[2019-04-28 11:40] andrewufrank commented on #1144
I have a similar error again:

`got error while processing diagnostics: readCreateProcess: /home/frank/localinstall/haskell-ide-engine/.stack-work/install/x86_64-linux/lts-13.12/8.6.4/bin/cabal-helper-wrapper "--with-ghc=/usr/bin/ghc" "--with-ghc-pkg=/usr/bin/ghc-pkg" "--with-cabal=cabal" "v1-style" "/home/frank/Workspace8/4lit/jsonld4hs" "/home/frank/Workspace8/4lit/jsonld4hs/.stack-work/dist/x86

[2019-04-28 17:13] bscottm commented on #1146
I think this is the appropriate place to post my particular issue, which resembles a closed file descriptor, but seems more closely related to this issue -- HIE stalls after a 3-4 requests. At first I thought the problem was with SublimeText, the LSP package and the Windows implementation of pipes. I tried hie-8.6.4 under Linux on VirtualBox, same problem. It seems to take about three or four JSON

[2019-04-28 17:28] mpickering commented on #1146
@bscottm Can you please open a new issue for your report?

[2019-04-28 18:23] skress commented on #1214
Thanks, kind of worked. For future reference this is what worked for me:

[code]

[2019-04-28 18:38] skress commented on #1207
I changed the way how to compile hie with profiling support (see #1214). Now I did not get any dylib problems like before, so it seems to have worked better. The net result is still the same, hie works with a simple `stack new testproject` but it fails with `stack new yesodtest yesod-sqlite`, but I do not get a GHC error anymore, instead hie terminates with a segmentation fault.

These are the las

[2019-04-28 18:52] mpickering commented on #1207
This is worrying. I'm not sure how we can debug this though. I will try to reproduce this on linux later this week.

[2019-04-28 19:20] power-fungus commented on #993
I will work on this in the next week.

[2019-04-28 19:27] bscottm opened #1216 "hie-8.6.4/8.4.4 stalls after 3-4 requests"
I hesitated to open this in a new issue, looking for closely related issues to ensure that the issue list doesn't get overly cluttered... HIE stalls after a 3-4 requests. At first I thought the problem was with SublimeText, the LSP package and the Windows implementation of pipes. I tried hie-8.6.4 under Linux on VirtualBox, same problem. It seems to take about three or four JSON RPCs before hie-8.

[2019-04-28 19:32] mpickering commented on #1216
This looks quite clear cut, the last message of the log is:

[code]

Any ideas whose fault this is @bubba ?

[2019-04-28 20:12] bscottm commented on #1216
@mpickering: Wait a sec. The last message lacks `key` attribute, which, coincidentally, happens to be the last message ever sent to `hie` when the editor exits.

I'm not so sure that this is quite so clear cut, if none of the `hover` requests return a response. `hie` stops responding after request id 4.

[2019-04-28 21:41] Anrock commented on #1216
@bscottm can you check if this [edit](https://github.com/haskell/haskell-ide-engine/issues/983#issuecomment-457882300) helps?

[2019-04-28 23:39] bubba commented on #1216
@mpickering that parsing issue looks like it’s our fault, specifically `Haskell-lsp-types`. The specification does allow for null to be set for the params field of a request, so [https://hackage.haskell.org/package/haskell-lsp-types-0.11.0.0/docs/Language-Haskell-LSP-Types.html#t:RequestMessage](params) should really be `Maybe params`. This is going to need a lot of changes though throughout haske

[2019-04-28 23:52] bscottm commented on #1216
Yes, tremendously. Slow as molasses, but at least `hie` responds.

[2019-04-29 02:16] #1204 closed

[2019-04-29 08:10] Anrock commented on #1216
Welp, so this could be just another case of #983 (if it's even a single issue). Personally i'm running HIE with this edit since then.

[2019-04-29 08:59] mpickering commented on #993
@power-fungus

Perhaps this branch is a good start https://github.com/rossng/haskell-ide-engine

[2019-04-29 13:42] bubba commented on #993
If you are feeling generous someone could also take a look at fixing https://github.com/bubba/lsp-test/issues/28 and running the tests on windows

[2019-04-29 13:47] fendor commented on #993
@bubba I am trying to fix the tests, but I can only do that in the evening since I have no windows otherwise. May take a while, though.

[2019-04-29 17:19] power-fungus commented on #993
I needed to sell my soul (i.e. grant exhaustive r/w-access) in order to setup a Azure Pipeline. This would be necessary for this project as well. Are there objections to this? @alanz @Anrock @mpickering @bubba

[2019-04-29 18:20] alanz commented on #993
I hate this, especially in the light of the recent dockerhub thing.  Does the scope apply only to hie?

But, we it is a token that can be revoked, and we do have backups of the repo on all our various machines and forks, so maybe it is ok?

[2019-04-29 18:23] power-fungus commented on #993
If I get maintainer rights to this repository, the azure will find the repository automatically via my account and will be usable via my account. Currently, I can setup Pipelines for all projects I have access to, which is a bit scary. It crawls my whole account...

[2019-04-29 18:28] ndmitchell commented on #993
FWIW CircleCI does this at a much more annoying level - merely viewing a different projects CI output requires you to give read/write permission to everything you own. It is sad :( But in truth, not that dangerous, I think...

[2019-04-29 18:34] power-fungus commented on #993
its still only r/w access via the github-api. So deleting everything for good is not possible (I *think*).

I will experiment with my repositories and will report back in a few days

[2019-04-29 18:47] alanz opened #1218 "Should we update submodules with --recursive?"
As far as I know none of our dependencies *need* a recursive clone, and some of them bring in copies of submodules we already provide ourselves, which are used when building the package in standalone fashion.

So things will go faster and probably still work if we do not do the recursive update.

[2019-04-29 18:53] power-fungus commented on #1218
Will test!

[2019-04-29 22:37] bscottm commented on #1216
@Anrock: So long as `cabal-helper` doesn't change in the near future, there's no danger of the `cabal-helper.cabal` being changed or merged, so I shouldn't get unexpected surprises.

[2019-04-29 22:37] #1216 closed

[2019-04-29 23:50] DanielG commented on #993
@power-fungus might you be able to just revoke the API access after first setup? I would assume they just use it to register a webhook to trigger builds. At least thats how things work for GitLab CI.

[2019-04-30 02:21] bscottm opened #1219 "hie-8.4.4 no longer builds"
`Cabal` can't build because dependencies are now out of sync (something must've updated in the `stack-8.4.4.yaml` resolver, I'm going to guess):

[code]

[2019-04-30 03:58] nponeccop commented on #1219
Can you use the recommended command line, which is `stack ./install.hs hie-8.4.4`?

[2019-04-30 12:10] skress commented on #1214
@alanz I can give it a try if the approach to build hie with profiling as I described it above is what would like to see in the documentation.

I would add a section to [docs/Build.md#steps-to-build-hie](https://github.com/haskell/haskell-ide-engine/blob/master/docs/Build.md#steps-to-build-hie).

I have tried my approach on macOS and Linux. It worked for a minimal project that I created via "stack

[2019-04-30 12:26] alanz commented on #1214
@skress that will be great. And getting it in as a preliminary doc of something that is known to work in at least one config is more important than having it in some sense "perfect".

[2019-04-30 15:17] fendor opened #1223 "On import action, add package to project description."
On import module action, check whether the associated package is already installed and add it to the project description if necessary.

Is that the wanted behaviour? Or is it better to let the user decide it for themselves?

[2019-04-30 19:39] #1214 closed

[2019-05-01 08:05] #451 closed

[2019-05-01 11:12] fendor opened #1228 "HsImport inserts module between function and Haddock documentation."
Has been reported upstream ~[hsimport/#16](https://github.com/dan-t/hsimport/issues/16)~. We have to wait for a new release, then this issue can be closed.

Example is roughly taken from `stack new test haskeleton`
Example.hs
[code]
[code]

Output:
[code]

Expected:
[code]

Happens when using the code action to import a module.

[2019-05-01 14:56] nponeccop opened #1229 "Travis fails with "Could not find module: TestUtils" on MacOS"

[2019-05-01 15:34] fendor commented on #1229
For which test-suite? Or is that the whole error message?

[2019-05-01 15:44] fendor opened #1230 "Add Package command does nothing on package.yaml for library component"

[2019-05-01 18:10] nponeccop opened #1232 "Test install.hs in CI"
Currently CI uses a hardcoded sequence of steps. Does it make sense to test a few `install.hs` targets to be sure that `install.hs` isn't broken? Note that caching may potentially suffer.
Does it make sense to add some CI-specific targets to `install.hs`?

[2019-05-01 19:27] alanz opened #1233 "Windows CI options"
At the moment we are doing our windows CI on appveyor.  It works well enough, but we are using a single account for the main repo, and it builds everything in a queue with a single worker on it.

This is severely limiting our ability to merge PRs, as it takes over 90mins to validate any change.

How can we speed this up?
- Reduce the number of builds per commit, perhaps to only the latest of each

[2019-05-01 19:28] alanz commented on #1233
Possibly related #993

[2019-05-01 19:45] power-fungus commented on #1233
I am Wirkung on Integration azure

[2019-05-01 20:12] nponeccop commented on #1233
JFYI https://www.appveyor.com/docs/build-configuration/#build-queue

[2019-05-01 20:18] nponeccop commented on #1229
See Travis logs: https://travis-ci.org/haskell/haskell-ide-engine/jobs/526823736

To find this log by hand do the following:

- go to https://github.com/haskell/haskell-ide-engine/commits/master
- see all those X which mean failed CI
- click on any X to see a popup
- click `details` link in a failed Travis build (the first line)

[2019-05-01 20:29] alanz opened #1234 "Sort out mac tests on travis CI"
We currently run macos CI on travis, at https://travis-ci.org/haskell/haskell-ide-engine

The builds succeed, but the tests fail.

[2019-05-01 20:30] nponeccop commented on #1234
See #1229

[2019-05-01 20:31] alanz commented on #1234
Closing in favour of #1229

[2019-05-01 20:31] #1234 closed

[2019-05-01 20:34] bubba commented on #1232
I have a branch that tried to add some tests, its pretty stale now though: https://github.com/bubba/haskell-ide-engine/tree/shakefile-ci

[2019-05-01 21:48] nponeccop opened #1235 "hie --version reports (dirty) due to old submodules not removed"
This is certainly a very minor issue, but hie --version reports `(dirty)` even if it isn't. Apparently git `status` reports a few submodules which are no longer in the master:
- apply-refact
- haskell-lsp
- lsp-test
- yi-rope

So the question is, should we ensure that the tree is clean in `install.hs`? Or at least that the users which do `git pull --ff-only && stack ./hie-x.y.z` don't get (dirty)

[2019-05-01 22:21] nponeccop opened #1236 "LTS-13.11 is mutated back to ghc-8.6.3"
https://github.com/commercialhaskell/lts-haskell/commit/ebafeb5402c9bb52bdf236b699490c28fb907972

So we can bump the snapshot for hie-8.6.3

[2019-05-02 01:23] bscottm commented on #1219
@nponeccop: Doesn't make a difference, same output. (BTW: `stack runghc ...` is the same as `stack ./install.hs ...`, if you peek into `install.hs`.)

[code]

[2019-05-02 07:46] power-fungus commented on #1232
My New proposal #1221 will enable unit testing for the install.hs

[2019-05-02 10:45] alanz commented on #1219
Perhaps this is related to us recently removing `Cabal` from the install requirements in https://github.com/haskell/haskell-ide-engine/pull/1184

cc @power-fungus

[2019-05-02 10:48] alanz commented on #1236
We originally had 13.11, but it was wrong, so stepped back to 13.10. I think the stackage docs are incorrect.

[2019-05-03 03:28] nponeccop commented on #1236
Did you look at the linked commit? Snoyman changed GHC in 13.11 snapshot to be 8.6.3 from incorrect 8.6.4 some 10 days ago.

[2019-05-03 03:30] nponeccop commented on #1219
I wonder how CI works then. Should we rebuild the caches?

[2019-05-03 11:34] jneira commented on #1166
Maybe we could close this one cause the fix is merged: 01807e6

[2019-05-03 11:39] #1166 closed

[2019-05-03 12:37] power-fungus commented on #1233
I will work on this in #1238, however tests need to be fixed first

[2019-05-04 08:22] #1086 closed

[2019-05-04 08:53] #1156 closed

[2019-05-04 09:44] alanz commented on #1236
Sorry, was traveling, did not look in detail.  So I guess we can bump this next release?  I don't thing there is anything urgent in the one vs the other. Or is there?

[2019-05-04 15:29] alanz commented on #1223
By project description do you mean the cabal file?

[2019-05-04 15:33] fendor commented on #1223
Yes, or package.yaml.

[2019-05-04 17:21] nponeccop commented on #1236
Yes

[2019-05-04 17:25] nponeccop opened #1243 "CircleCI build time varies from 7 to 40 minutes for the same commit"
Somehow there is big difference in build duration between different ghc versions.
 So we need to double-check it's not a cache system malfunction or something.

[2019-05-04 17:37] alanz commented on #1243
I think the machines the tests run on are multi-tenant, so it also depends on the load of whatever else is running, that we cannot know.

[2019-05-04 19:29] nponeccop commented on #1243
In the build I'm looking at the difference is not caused by noisy neighbors:

- https://circleci.com/gh/haskell/haskell-ide-engine/7213 (slow one, 45 minutes)
  - 4 minutes rebuilding dependencies,
  - 10 minutes creating cache,
  - 10 minutes creating another cache seemingly with the same contents but different key

- https://circleci.com/gh/haskell/haskell-ide-engine/7202 (fast one, 7 minutes) i

[2019-05-04 21:50] nponeccop commented on #1236
There isn't anything urgent

[2019-05-04 23:40] bubba commented on #1243
For https://circleci.com/gh/haskell/haskell-ide-engine/7213 it looks like the most specific cache was invalidated, so it fell back to one of the more generic caches.
The most specific cache IIRC is invalidated whenever any .cabal or the stack.yaml file changes. Ironically, the caching itself is the slowest part it seems, but hopefully after that the 8.4.3 job shouldn't need to create another cache

[2019-05-05 09:14] stereobooster opened #1244 "Can't install in Docker"
Trying to install hie in Docker for theia, but it fails https://github.com/theia-ide/theia-apps/compare/master...stereobooster:haskell?expand=1

[code]

Any advice?

[2019-05-05 10:48] Anrock commented on #1244
Can you get full log?

[2019-05-05 11:17] stereobooster commented on #1244
Here is log for `docker build . -t theiaide/theia-haskell:latest`, if this is what you asked for

<details>
<pre><code>Sending build context to Docker daemon   7.68kB

Step 1/13 : ARG NODE_VERSION=10
Step 2/13 : FROM node:${NODE_VERSION}-stretch
 ---> 64c810caf95a
Step 3/13 : RUN curl -sSL https://get.haskellstack.org/ | sh
 ---> Using cache
 ---> 98a5341333dd
Step 4/13 : RUN git clone https://git

[2019-05-05 16:16] bubba commented on #1229
Stack 1.7.1 is outdated: there's a [bug with internal libraries](https://github.com/commercialhaskell/stack/issues/4265) that was fixed in 1.9.1.
I think there is a flag you can use to tell travis to run `brew update`

[2019-05-05 17:32] nponeccop commented on #1244
The build script uses `stack install` which isn't enough. Should use `stack ./install.hs ghc-8.6.5`

[2019-05-05 17:59] stereobooster commented on #1244
@nponeccop thanks for the help, but it doesn't work

[code]

[2019-05-05 18:52] nponeccop commented on #1244
I think it needs some 2GB of RAM to build. Check your system journal for out of memory killing.

[2019-05-05 19:36] stereobooster commented on #1244
Yeah that is what I'm trying at the moment. I increased memory to 4GB and trying again.

[2019-05-06 09:35] stereobooster commented on #1244
Yes it worked after I increased Docker memory to 4GB. Thanks for the help

[2019-05-06 09:35] #1244 closed

[2019-05-08 09:13] RichardWarfield opened #1248 "Suggstion: ship with profiling disabled via stack-8.x.x.yaml"
Related to #1214, which reports that building with profiling on under `stack` doesn't work.

Some developers may have profiling on by default with stack (i.e. `library-profiling: true` and `executable-profiling: true` in `~/.stack/config.yaml`). I do this because I want profiling on more often than I want it off, and because it takes a long time to switch between profiling and non-profiling builds

[2019-05-08 10:31] mpickering commented on #1248
fail in what manner?

[2019-05-08 10:39] bubba opened #1249 "Drop 8.2.1 support?"
We're supporting quite a lot of builds right now, and 8.2.1 has been around for a while. If there is not a lot of interest in keeping it on then we should remove it make CI easier.
It'll also allow us to clean up all those CPP pragmas where we need to explicitly import Data.Semigroup

[2019-05-08 11:35] jarcane opened #1250 "Cannot do cabal 3.0 build for 8.6.5"
Trying to install `cabal-hie-8.6.5` gives me the following error instead:

[code]

I have ghc-8.6.5 and cabal 3.0 installed locally so I'm presuming this is because somehow the stack temp cabal isn't the right version?

Anyway to fix this or is there something I'm missing?

[2019-05-08 15:14] alanz commented on #1249
@Anrock that is version 8.0.2

Right now 8.2.1 is the odd one out, as it cannot accept an up to date hlint, for example, because of dependencies.

And it just started failing on appveyor for no good reason

[2019-05-08 15:17] alanz commented on #1249
@Anrock for some reason github believes you are in GMT+2, so thinks your posts are in 6 hours time.  Or maybe just matches my time zone. So for me the threading of our conversation is broken.

[2019-05-08 15:56] alanz commented on #1250
Has cabal 3.0 been released yet?

[2019-05-08 16:56] nponeccop commented on #1250
No. However:

- We do build against GHC-nightly
- We'll need to support it when it's out
- Having a version check is a good idea to prevent breakage. We do check `stack` for example.

[2019-05-08 17:10] nponeccop commented on #1249
If the matter is Data.Semigroup and some GHC API #ifdefs we have anyway, I'm against the dropping.

CI is parallel anyway. If you want to drop a few CI jobs, it's better to drop some minor versions.

Oh, and while I have rights to commit, I don't. So treat this as a user voice. In both C++, Perl or Node.JS old versions are supported pretty well by IDEs because it's what production needs. As for GH

[2019-05-08 17:11] nponeccop commented on #1249
Threading is definitely broken, hehe

[2019-05-08 17:17] alanz commented on #1250
@nponeccop we build against *stackage* nightly, not ghc nightly.

And we have a number of dependencies, that are intricately tied to the environment. So I would not expect a new cabal to just work, without updates to `cabal-helper` and `ghc-mod` at the very least.

[2019-05-08 17:30] nponeccop commented on #1250
oh, my bad. I saw ghc-nightly in .circleci and thought it's against GHC HEAD built by someone else (which is not a bad idea)

[2019-05-08 18:34] alanz commented on #1249
How realistic is it that users are stuck on GHC 8.2.1, without being able to use GHC 8.2.2?

iirc, 8.2.1 was basically useless in any case.

[2019-05-08 21:16] RichardWarfield commented on #1248
In what appears to be the same manner as the linked issue:

[code]

[2019-05-08 23:00] nponeccop commented on #1249
I don't mind dropping 8.2.1 if it's broken and there's unbroken 8.2.x we still support. After all, we have a similar situation with 8.6.3 broken on Windows

[2019-05-09 07:40] mpickering commented on #1248
Won't HIE break similarly if you have profiling enabled locally for your project but build HIE with profiling disabled?

[2019-05-09 10:05] lorenzo commented on #1249
I don't think it is realistic to say people are stuck in 8.2.1 without being able to bump GHC to the next patch version.

[2019-05-09 10:58] RichardWarfield commented on #1248
I don't know enough about how HIE or its plug-ins work to answer that, but in my limited use of HIE (mainly for linting via Neovim+Coc) it seems to work.

[2019-05-11 02:54] roberbnd opened #1254 "Heavy"
Why is so heavy haskel ide?
I mean to install whatever lsp (python, js, ruby) it was so easy but I have 1 hour in this and my computer is almost frozen
![hask](https://user-images.githubusercontent.com/4907027/57564225-1eb0a280-736e-11e9-806e-3e17e4fd0cee.jpg)

Is this normal?

[2019-05-11 02:57] roberbnd commented on #1254
I use archlinux and I did yay -S haskell-ide-engine-git,  I better stopped it because I feel this isn't normal

[2019-05-11 05:34] Avi-D-coder commented on #1254
It takes a while to compile. This is pretty normal. Work is being done towards distributing binaries, last I checked.

[2019-05-11 17:01] alanz commented on #1250
I think this should be closed, as wontfix?

[2019-05-11 17:02] alanz commented on #1249
Ok, so next release we will drop 8.2.1

[2019-05-11 17:48] fendor commented on #1250
I think this should be addressed soonish. Would be the fix to just use `cabal v2-build`, to ensure backwards and forwards compatibility?

[2019-05-11 17:53] fendor commented on #1254
The compilation process is slow and takes up a lot of resources at the moment.
I don't believe that can easily be fixed or mitigated. I would like to close this issue, since the fix is discussed in #1068. Feel free to reopen.

[2019-05-11 17:53] #1254 closed

[2019-05-12 15:18] nponeccop opened #1256 "Infinite chain of submodules"
See https://github.com/alanz/HaRe/tree/dfab0004320c28e1aa0331a507a9428952f2c938/submodules

So it has `hie` again, so `install.hs` never terminates :)

[2019-05-12 15:20] nponeccop commented on #1218
See #1256

[2019-05-12 15:31] nponeccop commented on #1256
Looks like my tree was broken

[2019-05-12 15:31] #1256 closed

[2019-05-13 09:43] mpickering commented on #1248
@RichardWarfield Thanks for that info. Your error is precisely the symptom of the problem you are describing in the original issue btw. It's a hard one to debug if you don't know what you're looking for.

[2019-05-13 09:43] mpickering commented on #1250
I think using `v2-build` is an easy way to fix this?

[2019-05-16 10:01] mpickering opened #1257 "Use -fexternal-interpreter"
There are some quite big advantages to using `-fexternal-interpreter` related to #1171

GHC devs: https://mail.haskell.org/pipermail/ghc-devs/2019-May/017655.html

https://gitlab.haskell.org/ghc/ghc/wikis/remote-ghci

https://simonmar.github.io/posts/2016-02-12-Stack-traces-in-GHCi.html

One disadvantage is that plugins don't work but this option can be disabled/enabled with a flag.

cc @DanielG

[2019-05-16 19:34] alanz commented on #1257
I have always had in mind to use this to provide REPL functionality, as there is a GHC Hook to be able to provide our own file descriptors for stdin/stdout/stderr, which means we can separate out the hie use of these from the running code use of it.  It also means we can keep the basic hie operation responsive, even if a user is running something intense in the interpreter.

[2019-05-18 07:50] alanz opened #1259 "Completions should be aware of infix backticks"
Doing completion on

[code]
gives the option `shouldBe`, but the completion/snippet does not have the closing backtick, and is presented as requiring two more params.

[2019-05-18 10:05] fendor commented on #1259
I would like to take a look at this in the next week, any pointers which files are responsible for this behaviour?

[2019-05-18 14:06] lorenzo commented on #1259
@fendor This is the function you need to change https://github.com/haskell/haskell-ide-engine/blob/master/src/Haskell/Ide/Engine/Support/HieExtras.hs#L323

[2019-05-18 15:39] #1230 closed

[2019-05-19 13:37] unclechu opened #1261 "Failed to build HIE 0.9.0.0 with cabal 2.4.1.0"
[code]
[code]

[2019-05-19 15:20] fendor commented on #1261
Afaik, it should be `cabal new-exec hoogle generate`.

[2019-05-19 18:17] unclechu commented on #1261
@fendor I successfully built latest master (33d4581f4d7a43e5b8f6219055afe625bf7ad594). I think issue is supposed to be opened until next stable release which fixes it.

[2019-05-21 09:37] luochen1990 opened #1262 "error readCreateProcess: cabal-helper-wrapper "print-build-platform" (exit 1): failed"
## I'm using:

- Ubuntu 18.04.2 LTS (under Windows WSL)
- NVIM v0.4.0-811-gca1ce5902
- LanguageClient-neovim 41c948e (2019-05-08 21:17:55)
- haskell-ide-engine 33d4581f (2019-05-18 21:37:50)

## My workaround:

[code]

## The problem of my workaround:

When I'm working on single files outside of any project, hie cannot find modules correctly.

## Another workaround I have tried:

Add following fil

[2019-05-21 19:30] alanz opened #1263 "Completions should be import-aware"
If adding a data type that takes a parameter to an import list, the snippet should be empty, and the completion should include `(..)` if it has subcomponents.

So

[code]
Should offer completion of `FooBar(..)`, not `FooBar Int` or whatever.

[2019-05-21 19:33] cah6 opened #1264 "Possible to use additional ghc-option "-fplugin=X"?"
My current issue: I'm working on code that uses Polysemy, which uses a custom plugin to drive some type inference. This is usually enabled by adding `-fplugin=Polysemy.Plugin` to ghc-options section of cabal file; see https://github.com/isovector/polysemy/tree/master/polysemy-plugin.

However, it looks like when HIE is running through my IDE (currently VSCode), it's not using this plugin `ghc-opti

[2019-05-21 20:07] mpickering commented on #1264
What about as a workaround if you put it as an `OPTIONS_GHC` pragma in each file? Does that work?

[2019-05-21 21:12] cah6 commented on #1264
Yeah, I had tried that as a workaround but unfortunately it didn't work; it gave the same compile error in my IDE as if it wasn't there.

[2019-05-21 21:20] mpickering commented on #1264
I don't understand really how the the pragma would be ignored if it was in the source file. Would be good to see if anyone else can reproduce this.

[2019-05-21 21:22] cah6 commented on #1264
I was a bit surprised by that too; I can provide a repo with an example a bit later tonight.

[2019-05-21 21:38] fendor commented on #1263
Do you mean, when importing a datatype `Foo`, the code action should be result in a line:
`import Data.Foo (Foo(..))`?

[2019-05-21 21:44] alanz commented on #1263
We should probably make the completions aware of that too. I made a typo, I mean in an export list.

[2019-05-22 02:29] Avi-D-coder commented on #1159
Can the shake `resolver` be bumped to `nightly-2019-04-30` so that it's in sync with `stack.yaml`?

Have the issues with 8.6.3 on windows been fixed for 8.6.5?

[2019-05-22 09:15] fendor commented on #1264
I will try to reproduce it.

[2019-05-22 09:21] fendor commented on #1159
The issue of 8.6.3 ist fixed on 8.6.4 already. At least, I can build hie 8.6.4 on windows.

Regarding bumping shake-resolver, in general, there is no problem with that, in general. We can open a new issue for that.

[2019-05-22 09:23] fendor commented on #1263
Oh, alright.

I think I understand. Is the fucntoin `getCompletions` responsible for that behaviour as well?

[2019-05-22 10:53] fendor commented on #1264
Test repository: (polysemy-hie-experiment)[https://github.com/fendor/polysemy-hie-experiment]
Reproduces the problem, the project builds, but hie shows and error.
Output of local vscode project:
<details>
<summary>
Output of Hie
</summary>

[code]

</details>

[2019-05-22 10:58] fendor opened #1266 "Bump resolver in shake.yaml"
Is that wanted?

[2019-05-22 10:58] fendor commented on #1159
I opened an issue for bumping the shake resolver #1266.

[2019-05-22 13:17] mpickering commented on #1264
We are probably missing the call which initialises plugins.  When the `DynFlags` are initialized there also needs to be a call to `initializePlugins`. Could you add this @fendor ?

[2019-05-22 13:45] fendor commented on #1264
will try!

[2019-05-22 19:41] #1228 closed

[2019-05-23 12:22] isovector commented on #1264
Just linking back to the polysemy issue so that I can be notified when this gets solved! https://github.com/isovector/polysemy/issues/53

[2019-05-23 14:41] lorenzo commented on #1263
@fendor yes, that should be handled there. the problem is probably that the context given to that function is not enough for it to determine that it is completing an import.

[2019-05-23 14:43] fendor commented on #1263
I assume so as well. Maybe we can add another context?

[2019-05-23 15:44] NickSeagull commented on #1146
Is there something people eager to contribute can do to help with this? 😃

[2019-05-23 19:52] alanz commented on #1266
Yes, I am getting a rebuild of hie-8.2.1 each time I run `./install.hs build-all`, which is related to this, I think?

[2019-05-23 19:55] fendor commented on #1266
It should not be related, imo, current resolver used ghc 8.6.2

[2019-05-26 17:11] fendor commented on #751
Afaik, this has now a quickfix!

[2019-05-26 17:14] fendor commented on #1191
Hsimport does not seem to be able to do that, maybe we can add that to hsimport? It seems at least to be a feature they might want.

[2019-05-27 08:34] lorenzo commented on #1191
@fendor that sounds like a great idea!

[2019-05-27 11:21] fendor commented on #1263
What contexts could be wanted? I'd like to add a bunch of new contexts, to tackle feature request related to that.
I am thinking about:

## `ImportContext`

with a differentiation between the module to import and import list. E.g.
* `ImportContext ImportModule`: Completion to imprt a module
* `ImportContext ImportList`: Completion to import from the module
* `ImportContext HidingList`: Completions

[2019-05-27 12:49] fendor commented on #859
This can be closed now, right?

[2019-05-27 12:54] #859 closed

[2019-05-27 13:20] fendor commented on #1264
Issue is addressed in [#20](https://www.github.com/alanz/pulls/20)

[2019-05-28 05:47] power-fungus commented on #1262
Hie does not work if the cabal file is missing, iirc.

[2019-05-28 06:54] teto opened #1271 "Got setTraceNotification ignoring"
I use coc.nvim, I think this is due to an unimplemented LSP feature and you are almost certainly already aware about it but the issue could help track a resolution:
I get this message from times to times, I believe when I change the coc-settings.json, which may trigger send in turn some notificiation to the LSP server:
`Error output from languageserver.haskell: haskell-lsp:Got setTraceNotification

[2019-05-29 04:12] stouf commented on #1142
I ran into the same issue and installing `gawk` also solved it for me. Maybe a note about `gawk` being a requirement should be added somewhere in the documentation?

[2019-05-29 12:19] nponeccop commented on #1262
The error message could be better. User errors should never look like crashes.

[2019-05-29 15:36] fendor commented on #1262
That feature request should be a separate issue.

[2019-05-29 20:33] fendor commented on #1191
I am implementing the feature upstream in [#18](https://github.com/dan-t/hsimport/pull/18)

[2019-05-29 21:01] fendor commented on #751
Some imports are incorrect, e.g. importing constructors does something wrong, will take care of that!

[2019-05-30 16:52] fendor commented on #1250
Actually, the problem seems to be:
[code]

[2019-05-31 05:47] c4dr01d opened #1275 "Refresh hackage index failed"
Hi, I'm a Haskell developer from China, I clone the repository and following the README.md instruction to build HIE, at refreshing the hackage package index, I got: Connection timeout. Can I change the hackage mirror address to China hackage mirror server? I don't know how to change the HIE project mirror.

[2019-05-31 11:51] #1201 closed

[2019-05-31 15:13] nihlet opened #1276 "Build error with AuthProxy on Windows"
I have an authentication proxy in my university. Win7 x64 machine.
In cmd I set up an enviroment variables:
[code]

Calling `E:\hie>stack ./install.hs hie-8.6.5 --verbose` results with
[code]

Seems like *Shake* build system relies on *curl* call which is not take into account env variables.

I'm not sure that this problem caused by build config, maybe this is a problem of Shake by itself.

[2019-05-31 15:22] #1266 closed

[2019-06-01 00:09] nponeccop commented on #1276
You should try running `curl` manually and find the options which work in your case. https://curl.haxx.se/docs/manpage.html

Then we can see what can be done. Note that the manual doesn't specify login/password in proxy urls

[2019-06-01 04:55] nihlet commented on #1276
Thanks for the answer, I'll try that at Monday.

[2019-06-01 07:25] alanz opened #1278 "Is shell.nix still up to date?"
If so, great.

If not, we must either update it or remove it.

[2019-06-01 08:09] #1037 closed

[2019-06-01 08:18] alanz opened #1280 "Milestone usage"
At the moment, milestones are used mainly to record what went in to a given monthly release.

And the incomplete issues are assigned en masse to the next milestone when a release is made.

I suspect this monthly issue move a) spams a lot of people b) creates clutter in the issue's history and c) gives a false sense that some meaningful action has been taken.

I think it might be better to not allo

[2019-06-01 12:40] fendor commented on #1278
It works for me, I can use it to build hie.

[2019-06-01 12:43] #1278 closed

[2019-06-01 12:54] maxco2 opened #1282 "Got error while processing diagnostics"
![image](https://user-images.githubusercontent.com/11772699/58748515-9a54c980-84ac-11e9-8a59-869ca95c4166.png)
![image](https://user-images.githubusercontent.com/11772699/58748630-67133a00-84ae-11e9-8e90-20533177cd4e.png)

I got above error when I open a project file (VIM also got the same error).
I'm using Ubuntu 18.10 & ghc-8.6.4 .

Any help is appreciated.

[2019-06-01 12:58] fendor commented on #1282
You can try to execute the command in your project root:
`cabal configure --with-ghc=ghc --flags` and show the output. Likely, your project does not build with cabal old-style builds.

[2019-06-01 13:49] maxco2 commented on #1282
Thanks for the quick reply. I think it is my project problem. I tested it on another project. Everything works fine.

[2019-06-01 13:49] #1282 closed

[2019-06-01 14:29] #1249 closed

[2019-06-02 07:44] #1259 closed

[2019-06-02 12:20] fendor commented on #1146
Sorry for the late response, @NickSeagull!
There is a bunch of stuff you can do:
## Improve underlying bios system
Currently the most unstable part of hie seems to be the build system itself. If you are comfortable with stuff like ghc-mod and cabal, then you can try to help out on issue #1126. Ask @mpickering where help may be required.

## Plugins that crash
Sometimes plugins crash in hie, taking

[2019-06-02 12:25] fendor commented on #1261
There was a stable release! Will close this now.

[2019-06-02 12:25] #1261 closed

[2019-06-02 12:27] fendor commented on #1223
In my opinion, it is fine to demand the user to explictly add the package to cabal file or hpack file.

[2019-06-02 22:16] fendor commented on #1196
Side note, liquid also requires that an SMT solver is on the path, such as `z3`.

[2019-06-02 23:32] jneira commented on #1146
Nice resume @fendor, i'll try to help with any of windows related ones

[2019-06-03 09:29] nihlet commented on #1276
This type of call works fine without enviroment variables.
`C:\Users\WS-0001\AppData\Local\Programs\stack\x86_64-windows\msys2-20180531\usr\bin\curl.exe -x proxyserver.com:port -U username:password https://github.com/haskell/haskell-ide-engine`

With enviroment variables this call works fine
`C:\Users\WS-0001\AppData\Local\Programs\stack\x86_64-windows\msys2-20180531\usr\bin\curl.exe https://githu

[2019-06-03 12:05] #1276 closed

[2019-06-03 17:14] power-fungus commented on #1276
Where should this workaround be documented?

[2019-06-03 17:57] Infinisil opened #1285 "HIE should generate local Hoogle database"
It makes sense for HIE to generate the hoogle database itself, locally in the project, because:
- Better UX, because users won't have to fiddle with it on their own
- All users get the full features, without having to worry about it
- Hoogle can be made to generate all and only those packages the user has in their project. No need to generate all stackage packages if you don't use most of them, an

[2019-06-03 21:47] freuk commented on #852
The issue was also observed on [this](https://github.com/freuk/dhrun/tree/9ffdefb152c709b8654ff0fde7ba506cf4a7b024) repository.  I'm entering a nix-shell and running `cabal update && cabal configure && cabal build && rm -rf ~/.cache/cabal-helper`, then starting HIE through `hie-wrapper -d`. The first invocation hangs for a minute on parallelized ghc calls, and HIE works fine afterwards. Thanks!

[2019-06-03 22:16] nponeccop commented on #1276
In README. "Installation behind a proxy" I think

[2019-06-04 07:56] bubba commented on #1285
This makes a lot of sense to me. Generating the hoogle database can take a couple of minutes though. Is there any disadvantage to sharing a global hoogle database?

[2019-06-04 13:33] B1ackKnight commented on #1280
Hi, HIE can launch a precompiled package when the next release is released? The compilation and installation time is too too too long. (At my Fedora workstation)

[2019-06-04 14:15] fendor commented on #1280
This is not the right issue for that.
Please post on #1068

[2019-06-05 02:13] nponeccop commented on #1285
Different versions of the same package in different projects?

[2019-06-05 18:41] lorenzo commented on #1285
I’m in favor of doing this, I get bitten by the lack of a proper Hoogle database constantly

[2019-06-05 20:48] bubba commented on #1285
I think at the moment the README.md just tells people to run `hoogle generate`, and it turns that just generates a [database for the current version of Stackage LTS](https://github.com/ndmitchell/hoogle/blob/master/docs/Install.md). Looks like there's also a `--local` option but that only generates links for packages built with documentation, so the user would need to have that turned on in their

[2019-06-06 12:23] lorenzo commented on #1285
We can certainly add extra dynamicsc flags with ghc-mod

[2019-06-06 12:29] wz1000 commented on #1285
To generate a local/project specific hoogle database, both stack and cabal first need to generate haddock documentation. However, if haddock documentation is available, HIE will try to use that instead of hoogle, as it is generally more accurate and preserves the original markup. So I don't see the point of generating local hoogle dbs.

The global hoogle db is meant to be a fallback to when local

[2019-06-06 12:31] fendor commented on #1285
HsImport uses the hoogle db. I dont know how this change would affect the plugin. If only local/installed packages are searched, it may impact the search results of hoogle.

[2019-06-08 21:25] bubba commented on #1275
You might get some help from the people at https://github.com/commercialhaskell/stack or https://github.com/haskell/cabal

[2019-06-09 03:26] Avi-D-coder opened #1286 "When Errors are present goto goes to a empty temporary file"
If an error is present in `app/Main.hs` any goto on definition in the same file) will send me to empty file like `/tmp/ghc-mod15112/Main15110-415110-22.hs`

I'm using an update hie with https://github.com/alanz/ghc-mod/pull/20.

[2019-06-09 20:19] fendor commented on #1286
Does this happen only on this branch? Or did you only notice it on this branch?
Because, iirc, there is an issue about that somewhere.
Also, is there something to reproduce it?

[2019-06-09 22:44] Avi-D-coder commented on #1286
I noticed it on this branch, I have not had time to reproduce it on master.

[2019-06-10 22:37] Avi-D-coder commented on #624
I can now usually rename with the template haskell pragma, however generating instances with template haskell still breaks it.
e.g.
`makeFieldLabels ''Foo`

[2019-06-11 13:53] #1275 closed

[2019-06-13 11:18] #1236 closed

[2019-06-13 15:49] fendor commented on #751
With the latest update of #1284 this is now possible!

[2019-06-13 15:49] #751 closed

[2019-06-13 15:58] fendor commented on #476
I confirm that hie respects projects `.hlint.yaml`.

[2019-06-13 15:58] #476 closed

[2019-06-14 10:14] alanz opened #1289 "install.hs is not idempotent with stack 2.1.1"
Running `./install.hs build` twice in a row with `stack-2.1.1` installed instead of `1.9.3` results in certain targets being rebuilt.

[2019-06-14 13:10] Avi-D-coder commented on #1286
The issue exists on master

[2019-06-16 17:45] #412 closed

[2019-06-16 18:05] alanz opened #1294 "Should we move hie-plugin-api to its own repo?"
`hie-plugin-api` provides a number of things, the most fundamental being an API that plugins can code against.  This is used by [HaRe](https://github.com/alanz/HaRe/). But `HaRe` is also used as a plugin in `hie`.

Since none of these is currently in hackage, we end up with the absurd situation where `haskell-ide-engine` has `HaRe` as a submodule, which in turn has `haskell-ide-engine` as a submod

[2019-06-16 19:08] wz1000 commented on #1286
This occurs when we have a parsed module, but not a typechecked module, and is due to the update of reverse file map/rfm at https://github.com/haskell/haskell-ide-engine/blob/master/hie-plugin-api/Haskell/Ide/Engine/ModuleCache.hs#L228

We update the reverse file mapping according to the state of the mapped files when the parsed module is generated. However, the old typechecked module that is reta

[2019-06-16 20:49] fendor commented on #1264
Closed by #1293

[2019-06-16 20:49] #1264 closed

[2019-06-17 08:20] #1286 closed

[2019-06-17 16:57] CaptJakk commented on #1146
the underlying crashes may be more difficult to fix, but making sure that it doesn't take HIE down with it seems like a fairly straight forward fix, no? It may be ugly but couldn't you indiscriminately catch all plugin exceptions and then report some null value back, or does LSP have no room in the spec to represent the failure of the request?

[2019-06-17 17:03] fendor commented on #1146
That is true, it is difficult to fix! However, just catching all errors is in my opinion not the right way. A lot of the errors are fatal, e.g. they are not recoverable without human intervention. In this case, better error reporting and expanded help section, might also be a good idea.
Catching all plugin exceptions does make sense, the plugins hoogle and hlint already do that, but still, smart e

[2019-06-17 17:13] CaptJakk commented on #1146
what thread in the code should I start pulling at to take care of that issue, also is there an issue number you know about that I could look at?

[2019-06-17 17:30] fendor commented on #1146
Which issue exaclty? Plugin stability?

[2019-06-17 17:41] CaptJakk commented on #1146
"proper error handling", related to stability of course

[2019-06-17 17:46] fendor commented on #1146
That seems to be rather complicated. You have to differentiate between Commands, CodeActions and stuff that happens in the protocol, e.g. LspStdio. There is no specific issue for that afaik and I am not sure how it actually can be done properly.

[2019-06-17 23:00] mpickering opened #1296 "modifyCache is the source of a space leak"
https://github.com/haskell/haskell-ide-engine/blob/ad0d21f14a2b8f770110660942f46a1977b5f42e/hie-plugin-api/Haskell/Ide/Engine/ModuleCache.hs#L56

Observe here that  the result of applying `f` is not forced so repeated applications will
result in a chain of thunks.

One way to fix this is:

[code]

[2019-06-18 08:57] alanz opened #1298 "Migrate CI to use stack 2.1"
At some point we need to migrate CI to use stack 2.1

But I think we should keep at least one build using 1.9.3, to make sure we don't break backward compatibility.

[2019-06-18 09:29] power-fungus commented on #1289
For me, `stack` itself is not idempotent.
The simple script triggers rebuilding of a lot of artifacts on my machine.

[code]

[2019-06-19 11:26] p-h opened #1300 "Code Action to add type signature doesn't work in cabal or stack projects"
If I take the following file:

[code]

If the file is part of a Cabal or stack project, I only get the options:
- Lift main one level
- Lift main to top level
- Demote main one level
- Delete definition of main
- Duplicate definition of main

the last two actions do work.

If the file is in an otherwise empty directory, I get the option to insert a type signature and it works properly.

I tested t

[2019-06-19 13:23] fendor commented on #1300
Hm, it works for me on the latest release.
How did you install hie?
What is the version of hie?
Version of Cabal and Stack?
Do you have logs?
Which ghc version?

[2019-06-19 22:50] fendor commented on #1106
This bug should be fixed now

[2019-06-19 23:06] thosgood commented on #870
is using the `hie-wrapper` as simple as changing the command, or is there also some setting that needs to be set to true (something like `use_hie_wrapper`)?

[2019-06-20 04:25] falsandtru commented on #1106
Still not fixed. Can anyone confirm the bug is fixed?

[2019-06-20 04:32] hasufell opened #1302 "Default build process may crash users machine"
Just tried to build HIE and it spiked my memory up, bombed my swap and made my laptop unresponsive for straight 20 minutes before I could even abort the build process, endangering my files and current work.

This is one of the worst things with haskell build tools. Making assumptions about users memory in a language where the garbage collector is totally unpredictable.

Related:
* https://github.c

[2019-06-20 08:02] Anrock commented on #1302
Sounds like upstream issue to me. Not sure what is expected action here.

[2019-06-20 08:58] hasufell commented on #1302
Run cabal with `-j1`.

[2019-06-20 09:12] lorenzo commented on #1302
I think the best way forward for hie is to offer binaries, instead of asking users to compile it from scratch.

[2019-06-20 09:13] lorenzo commented on #870
It is as simple as changing the command

[2019-06-20 09:14] fendor commented on #1106
Will try

[2019-06-20 09:23] jneira commented on #1068
I think it would be great (necessary?) to have windows precompiled binaries, too. AFAIK it is easier to maintain cause they usually work across different windows versions, without worry about dynamic linking.
The best approach could be use appveyor to generate them and upload to release assest auto (see how we did[ with dhall-haskell](https://github.com/dhall-lang/dhall-haskell/blob/master/appveyo

[2019-06-20 09:42] hasufell commented on #1302
That's a totally different issue. And I do not want to use binaries.

[2019-06-20 09:50] janat08 commented on #816
Is this still the case? Maybe it should be opened until cabal new is supported.

[2019-06-20 09:52] janat08 opened #1303 "Signup for issuehunt"
Issuehunt lets people post bounties.

[2019-06-20 10:21] fendor commented on #1302
Cant we also try to restrict the memory?
The flag `-j1` instructs shake to only use a single core for the build environment, e.g. shake rules. We can define additional flags that are passed to stack/cabal to enforce a specific amount of cores.

[2019-06-20 10:50] lorenzo commented on #1302
Cool, but I still think that’s the best way forward to shield most users from all the installation problems that’s may arise, such as this one. You, as an advanced user who does not want binaries, can still tweak the configuration.

[2019-06-20 11:02] Avi-D-coder commented on #829
I am experiencing this issue. The constructor is erroneously the first suggestion in type and instance signatures.
![image](https://user-images.githubusercontent.com/29133776/59844440-e4510280-9328-11e9-96c7-fd114530e4d7.png)
![image](https://user-images.githubusercontent.com/29133776/59844594-4f9ad480-9329-11e9-9cac-6f7fd57af7b2.png)
Could this be reopened.

[2019-06-20 11:03] Avi-D-coder commented on #1303
Would the Github sponsor program also be a good fit?

[2019-06-20 11:05] janat08 commented on #1303
I don't know. I believe its geared toward people with time.

[2019-06-20 11:07] janat08 commented on #1303
The idea being with bounties that you get pull requests out of it.

[2019-06-20 11:13] Anrock commented on #1302
@hasufell were you building HIE via Stack? If so, wouldn't it be easier to adjust number of build threads in your global stack config?

I, personally, never had problems with builds locking up my system on any of my machines (one is octacore with 16GB and second is quadrocore with same RAM) and OSes (Lin, Win, OSX), so to me it sounds like this issues is specific to your machine.

[2019-06-20 11:46] lorenzo commented on #829
can you open another ticket? I don’t think we are taking instances in consideration

[2019-06-20 11:55] p-h commented on #1300
I edited the comment.

Here's the log file for a regular file
[hie.log](https://github.com/haskell/haskell-ide-engine/files/3310237/hie.log)

Here's with a stack project:
[hie.log](https://github.com/haskell/haskell-ide-engine/files/3310242/hie.log)

I also get this error:

Could it be that hie or something else can't properly run the linter because there's some kind of error. The project builds a

[2019-06-20 12:03] lorenzo commented on #1106
I can confirm this is not a problem in ghc 8.6.5 and latest master (which includes britanny 0.12)

[2019-06-20 12:05] Avi-D-coder commented on #829
@lorenzo Sure, but it's occurring in type signatures too. Should instances still get their own ticket?
![Screenshot_20190620_080307](https://user-images.githubusercontent.com/29133776/59847940-eb304300-9331-11e9-8319-ce6a61269f70.png)

[2019-06-20 12:11] falsandtru commented on #1106
Not fixed.

[code]

[2019-06-20 16:06] hasufell commented on #1302
`stack install.hs cabal-hie-8.6.5`

I don't think so. Other users have reported similar problems. HIE is especially difficult, because it requires you to go through shake.

[2019-06-20 18:19] lorenzo commented on #829
Preferably, yes

[2019-06-21 10:09] lspitzner commented on #500
This should be fixed, as https://github.com/lspitzner/brittany/issues/89 is long closed with a workaround.

[2019-06-21 10:18] lorenzo commented on #500
Closing, then

[2019-06-21 10:18] #500 closed

[2019-06-21 12:40] jneira commented on #713
I am taking a look at this, in both local and appveyor env (with this branch: https://github.com/jneira/haskell-ide-engine/blob/appveyor/appveyor.yml).

[2019-06-21 12:57] alanz commented on #713
@jneira There is also an effort to get this working in Azure, which may be the preferred long-term CI.

See https://github.com/haskell/haskell-ide-engine/pull/1238

[2019-06-21 13:00] jneira commented on #713
@alanz thanks for pointed it out!

[2019-06-21 16:30] #1296 closed

[2019-06-23 08:01] roro47 opened #1307 "_flymake.hs file automatically generated"
Hi
I just install hie using  cabal-build-all. I follow the README to add configuration on spacemacs. There are flymake files generated when I was editing my stack project. The flymake file make stack build fails. Is this an intended behaviour?

[2019-06-23 08:34] alanz commented on #1307
That is something to do with the emacs config.

Customize the `lsp-prefer-flymake` variable to be `nil`.

[2019-06-23 08:39] #1307 closed

[2019-06-25 23:58] jneira commented on #713
Hi, i am starting to analyze the tests in windows, and the unit ones are failing for me:
[code]
I have liquid and z3 installed and i exeuted the test in mingw64

[2019-06-26 06:55] jneira commented on #713
Not sure if it is related but `liquid test/testdata/liquid/Even.hs` fails with
[code]

[2019-06-26 08:15] jneira commented on #713
I've tried to build liquidhaskell from source but i've got another error, opened https://github.com/ucsd-progsys/liquidhaskell/issues/1527

[2019-06-26 09:39] jneira commented on #713
In the bright side, `wrapper-test`, `dispatcher-test` and `plugin-dispatcher-test` suites pass all tests

[2019-06-26 10:49] jneira commented on #713
After installing z3 from https://github.com/Z3Prover/z3/releases/download/Z3-4.8.5/z3-4.8.5-x64-win.zip
liquidhaskell is able to generate its files under `.liquid` and the failures of `unit-test` have change to:
[code]
The results are very close and the first one seems to be easily fixed normalizing paths.

[2019-06-26 11:54] jneira commented on #713
The other errors maybe caused by the liquidhaskell version i had to use in windows (built from master), the actual version used by hie is the lastest one in hackage (0.8.2.4) and it fails for me with https://github.com/ucsd-progsys/liquidhaskell/issues/1177

[2019-06-26 16:15] jneira commented on #713
M .,,.,,.

[2019-06-27 05:03] ZZYSonny opened #1308 "latest HIE and its submodule HaRE mutally includes each other, causing recursive download and building to fail"
When running "git clone https://github.com/haskell/haskell-ide-engine --recurse-submodules" from the installation instructions, my git keeps downloading things all over again.
![image](https://user-images.githubusercontent.com/28442838/60235849-bf85fd80-98db-11e9-814a-4b9d77569095.png)

If I stop at the middle or remove HIE inside HaRE, it fails to build. Any solution on this?

[2019-06-27 05:05] ZZYSonny commented on #1308
There was a post discussing this. #1256

[2019-06-27 05:15] power-fungus commented on #1308
A non recursive clone follkwed by `git submodule update --init` seems to work fine.

[2019-06-27 08:35] fendor commented on #1308
general issue is discussed in #1218

[2019-06-27 10:37] ZZYSonny commented on #1308
@power-fungus using `git submodule update --init` could download. (It doesn't download submodules in the submodules, so this is fine.).
But when I try to build hie, stack seems to do the recursive git and cause error.
![批注 2019-06-27 182409](https://user-images.githubusercontent.com/28442838/60259409-c75c9680-9909-11e9-8552-b3edfffeeb69.jpg)
I think probably the only way to fix the building issue

[2019-06-27 10:43] fendor commented on #1308
Are you sure that submodules cause you problems? Because in the logs you posted, the complaint is that the filename is too long.

[2019-06-27 10:58] ZZYSonny commented on #1308
@fendor Thank you! I removed the 256 character limit and git downloading works fine. I might try building it later.

Now the file structure is somehow like
HIE has a submodule HaRE
   HaRE has a submodule HIE (an older version)
      HIE has a submodule HaRE(an older version, which don't have a dependency of HIE)

[2019-06-27 18:09] power-fungus opened #1309 "unable to build with cabal"
as part of #1221, I need to build `hie` with cabal, which worked fine up to now, but I am getting the following error:

[code]

I have no problem building `hie` with stack.

I am on the current master (e2f8e321bbb1bff3fc5e1d2dae649a0d61a378b1). Can anyone reproduce this issue?

[2019-06-27 18:50] power-fungus commented on #1309
Manual solution seems to be: allow `temporary-1.3` in `cabal-helper , `ghc-mod` and `ghc-mod-core`  as well as `semigroups-1.19` for `ghc-mod`.

[2019-06-27 21:57] codygman commented on #1307
@alanz Does haskell-ide-engine not use flymake at all?

[2019-06-28 04:32] jneira commented on #713
Well, the hard part is the `func-test` suite, that doesn't terminate. I hace executed it killing the `hie` proccess each time it stalled. The output is [here](https://gist.github.com/jneira/34f98e8616aa88f10f6f3df5c6fed5e4#file-func-test-txt).
The resume is that **all failing tests makes the hie proccess hang** (ot the other way around).
Some of them logs an `uncaught exception` but all reach the

[2019-06-28 08:52] power-fungus commented on #1309
adding `--max-backjumps 5000` also solves the problem for me...

[2019-06-28 13:29] lorenzo commented on #1309
@power-fungus can you maybe add that to our install script and CI pipeline?

[2019-06-28 13:35] lorenzo commented on #1294
There is a big amount of friction in having things setup as separate repos. A small change such as adding a new `Config` value can end up in a long change of small steps that can slow down development.

I don't have a lot of experience with this but, can we maybe source the parts of Hare that depend on the `haskell-ide-plugin` inside this repo and separate them entirely from `HaRe`?

[2019-06-28 16:39] power-fungus commented on #1309
Will do in #1221. In ci, this is not necessary since it only uses stack for now

[2019-06-28 21:45] jneira commented on #713
I've got to run succesfully the `unit-test` suite, installing `liquidhaskell-0.8.2.4` and `z3-4.8.5-x64-win` in windows 10. I had to to make `ghc-8.2.1` use gcc of `ghc-8.4.2` to get  it working (see https://github.com/ucsd-progsys/liquidhaskell/issues/1177#issuecomment-506667899). I am afraid it will be difficult to apply in ci.
So only left `func-test`!

![image](https://user-images.githubuserco

[2019-06-29 16:53] #993 closed

[2019-06-29 19:31] IvanMalison commented on #963
@alanz I'd like to add this, but what is the preferred approach here? Should it be a cl flag? What should be provided with the flag? Compiler version to use? Whether or not to use slack?

[2019-07-01 08:30] #1308 closed

[2019-07-02 03:56] IvanMalison commented on #963
@alanz ping.

In #942 you write:

but this issue doesn't really seem to describe any particular solution. It seems like having

`--with-compiler` and `--stack-yaml` flags seems like about as good as a solution as one could hope for.

It might also be nice to have something like a --default-ghc to explicitly override stack usage without needing to specify the compiler.

[2019-07-02 16:50] lexi-lambda opened #1311 "Support cross-module renaming"
HIE does not appear to support cross-module, project-wide renaming, even though LSP’s `textDocument/rename` supports it. A brief glance at HaRe seems to imply that it is capable of this, since its `compRename` function appears to explore client modules, but in my experience, it doesn’t work: the identifier is only renamed in the defining module and nowhere else.

[2019-07-03 14:12] robrix commented on #1309
I am also seeing this issue, both on `master` and on #1221.

[2019-07-03 17:19] power-fungus commented on #1309
@robix, what command did you use?

[2019-07-03 20:38] jneira commented on #1309
`cabal-new-clean && cabal new-build` works for me:
* cabal-2.4.1.0
* windows 10
* ghc-8.6.5 in path (no `-w ghc-8.6.5`)
* full `dist-newstyle/cache/plan.json`: https://gist.github.com/jneira/1d781195bf61cb709eaecc597b1cce26

[2019-07-03 20:47] normenmueller opened #1312 "Hover for type synonyms broken?"
In a Yesod app I have

[code]

Hover over `toHtml` works just fine. It's located at `module Text.Blaze.Html`. But hover over `Html` fails, although it's located in the same file than `toHtml`.

[2019-07-03 22:57] dsturnbull commented on #1309
I get the same error with `stack install.hs cabal-hie-8.6.5`.

[2019-07-04 00:40] sputniiik opened #1313 "s2i stack build failed"
Im trying to build my cardano full node application

I am having some issue with the stack.yaml, I am using current stack-2.1.1 and I installed all the dependencies for cardano-sl:
[https://github.com/input-output-hk/cardano-sl/blob/develop/docs/how-to/build-cardano-sl-and-daedalus-from-source-code.md](url)

I wonder

[code]

stack.yaml:

`resolver: lts-12.17

flags:
  ether:
    disable-tup-insta

[2019-07-04 04:51] normenmueller opened #1314 ""[LC] Not found!" for Type Definition"
Invoking `LanguageClient_contextMenu()` and then selecting `1` for "Type Definition" always gives me "[LC] Not found!". Other HIE functionalities are working---as far as I can tell.

[2019-07-04 06:09] power-fungus commented on #1313
How is this related to the haskell-ide-engine? When does the error occur?

[2019-07-04 06:12] power-fungus commented on #1309
@jneira This may be either luck or some non-default global settings.

[2019-07-04 07:26] mpickering commented on #1309
I think something has changed with a recent package release, perhaps `brittany`, if you set your package state to something from around 14th June then it manages to find a build plan for me.

[2019-07-04 07:39] fendor commented on #1314
Can you give an example file?
This functionality only works for locally defined datatypes, e.g.
[code]
Requesting the type definition for `x` should take you to `data Foo = Bar | Baz`.

[2019-07-04 09:13] normenmueller commented on #1314
[code]
Then hovering over `Html` in the type signature of `getHomeR`, I get "[LC] Not found!". Hovering over `toHtml`, which is defined in the same module as `Html`, works just fine, though.

`Html` and `toHtml` are defined in `blaze-html` library:

[code]

[2019-07-04 10:18] power-fungus commented on #1309
The dependency-resolution seems to be computationally difficult in this case. The solution seems to be to make the problem a bit less difficult in some way and `cabal` is able to find a solution. Lifting constraints and reducing the search space (i.e. older hackage snapshot) are both solutions towards this.

[2019-07-04 10:43] fendor commented on #1314
What is the behaviour you would expect, when you hover? Are you requesting the `Definition` or `Type Definition`?
Would you expect the documentation for these definitions/types, or to open the module in a window in your editor? The latter is afaik, not supported currently.

[2019-07-04 11:08] fendor commented on #1312
So, you request the documentation of a symbol, but it could not be fetched, thus, it failed to show you the documentation for a type?

[2019-07-04 18:15] normenmueller commented on #1314
If I place the cursor on `Html`

[code]

and then call `:call LanguageClient#textDocument_hover()`, I'd expect to see the Haddock comments (if any (*)) and the defintion of the type synonym. Say, I want to get the information that `Html` is just a type synonym, I want to get the information that it is a type synonym for `Markup`, and I want to get the information of in which module it is defined.

[2019-07-04 20:15] jneira commented on #1309
After update the index it fails for me too

I think the best option would be the firs one. What about [setting the constraints that worked for you](https://github.com/haskell/haskell-ide-engine/issues/1309#issuecomment-506467437)?

[2019-07-04 22:06] #1313 closed

[2019-07-05 04:56] AlexeyRaga opened #1318 "Excessive memory consumption"
I am using a recently recent commit of HIE (`0f697c8919747effca54be8a9b494896aea7d947`) and I have noticed a strange behaviour:

- In a very small project (just a few modules)
- Open one module in HIE and observe how much RAM does it take. For a module with less ~200 lines it takes ~290MB.
- Without changing anything (add a space and remove it), save this module.
- Repeat.

Every time I save a fil

[2019-07-05 06:13] power-fungus commented on #1309
I am in favor of this. However, this spans over several repositories and I am unsure if the upgrade breaks anything. It does still compile though

[2019-07-05 06:35] power-fungus commented on #1309
I will increase the backjumps in the install.hs regardless of the constraints

[2019-07-05 07:15] jneira commented on #713
I've tested manually in vscode some of the `func-test` fails and i am afraid they are legitimate bugs in hie itself (and no errors caused by the hang or internal error of the test suite):
* Rename suggestion deletes the actual symbol but no replaces it with the correct one
* Import suggestion adds `Import module Control.Monad (<0>when)` instead `Import module Control.Monad (when)`
* ...

I'll try

[2019-07-05 07:42] fendor commented on #713
The second should be easy to fix, I think I can provide a bug fix for it soon.

[2019-07-05 13:53] robrix commented on #1309
@power-fungus: On `master`:

[code]

On #1221:

[code]

[2019-07-05 14:39] robrix commented on #1309
It seems to be succeeding this AM; I think `cabal new-update` was the only thing I changed 🙄

[2019-07-05 15:40] robrix commented on #1318
With `d794e596ae2647fe5101d28769ac82c2fe5604b5` I’m currently sitting at 2.18 GB, and it’s no longer responding to messages 😕

[2019-07-05 15:42] robrix commented on #1146
I can reproduce unresponsive `hie` quite reliably. Would you prefer me to file new issues, or add reports here?

[2019-07-05 17:10] nponeccop commented on #1318
It's a memory leak, so it's not merely a performance problem.

[2019-07-05 17:23] nponeccop commented on #1262
Can we close the issue as invalid?

[2019-07-05 18:15] power-fungus commented on #1309
I already increased the backjumps in #1221

[2019-07-06 08:07] lorenzo commented on #1318
The problem is known https://lukelau.me/haskell/posts/leak/

@AlexeyRaga you mean that this is a memory leak introduced recently?

[2019-07-06 08:15] lorenzo commented on #1314
Type definition across packages is not yet implemented.

To get documentation you will need to locally build the Hoogle database, can you make sure you did that, please?

[2019-07-06 11:46] AlexeyRaga commented on #1318
@lorenzo I don't know when it has been introduced TBH. I just happened to have a monitor opened and noticed...

[2019-07-07 03:00] ashutoshrishi commented on #881
Had the same problem with Emacs 26.2 and HIE on commit 0f697c8919747effca54be8a9b494896aea7d947

Fixed by adding this to the config:

[code]

`haskell-mode`'s indentation sets the `tab-width` to 8 locally overwriting any previous customisations.

[2019-07-07 09:00] fendor commented on #881
Brittany honours the FormattingOptions given by the LSP while Floskell does not. This may indeed be the problem.
If this is the case, we could ignore FormattingOptions for Brittany as well, or just live with it and document it, or use the FormattingOptions for Brittany iff no explicit configuration is set. Maybe it is possible to merge default options, with LSP FormattingOptions already set, with

[2019-07-07 10:33] alanz opened #1320 "Tests with stack-2.1.1 result in modified test cabal file"
Using stack-2.1.1, and a clean hie checkout, after running `stack test` the following file always shows up as modified

[code]

To get git clean it needs to be checkout out over the modification.

Does the file need to be in git?

[2019-07-07 10:43] normenmueller commented on #1314
These are steps I executed. Maybe you can check if I'm missing something:

# Install HIE

[code]

# Install LC

[code]

# Project setup

[code]

Here, I don't understand why I have to execute `hoogle` in HIE directory.

[2019-07-07 10:49] alanz opened #1321 "Create/find a script to do an initial ChangeLog"
Even if it just slurps and formats all the PR's in the given date range, to be edited afterward for groupinp.

[2019-07-07 10:51] fendor commented on #1320
This test case explicitly checks if both a `package.yaml` and a `*.cabal` file is present that changes are added to the `package.yaml`. As far as I remember, this shouldn't result in any changes to the `*.cabal` file.

[2019-07-07 10:52] fendor commented on #1314
It doesnt matter where you invoke `hoogle generate`, it generates a global hoogle database from stackage, iirc. Hoogle database is used for `hsimport` and other functionalities, such as showing documentation if no haddock documentation has been found.

[2019-07-07 10:54] normenmueller commented on #1314
So, the project setup could also be like the following sequence?

# Project setup

[code]

[2019-07-07 10:58] alanz commented on #1320
That's as I understand it, but I think there is a different `hpack` with stack 2.1.1, so even though the info is the same, the generated file is different.

[2019-07-07 11:13] fendor commented on #1320
Oh, I see, so, open the project in hie results in a modified cabal file? would it be sensible to change the cabal file in the test case, to fit the generated one? E.g., add the cabal file to the repo instead of the old one?

[2019-07-07 11:18] fendor commented on #1314
You only have to generate the hoogle database once. This is done in `stack ./install.hs build-doc` so you dont have to do it at all in your project setup.

[2019-07-07 11:19] alanz commented on #1320
This file is changed as a result of running the tests. It is not needed for any project.

I have a feeling it can be left out of git completely, because it is mechanically generated as a side-effect of running the test.

So either we remove it from git, or come up with a way of setting it up in the test environment according to the stack version the test is being run with. Or more explicitly, the

[2019-07-07 11:24] fendor commented on #1320
removing it is probably fine, the test case still checks the use-case since hpacks generates a cabal file. In this sense, we can probably delete all tests regarding `hybrid-*` where both package.yaml and *.cabal are present.

[2019-07-07 11:26] alanz commented on #1320
I think a first step would be to remove the file from git (and the filesystem) and confirm the tests still pass. Hopefully that is all that is needed.

[2019-07-07 11:46] fendor commented on #1320
The tests still do pass after `asdf.cabal` has been removed.
However, if we delete `asdf.cabal`, then there is no need to have that test-case after all, since it would be the same as `hpack` only test-cases.

[2019-07-07 11:48] alanz commented on #1320
Ok, that makes sense, just wanted to make sure we are on the same page.

So that sounds like the thing to do.

[2019-07-08 13:59] #1320 closed

[2019-07-09 08:29] expipiplus1 commented on #1191
Thanks!

On Wed, 29 May 2019, 21:33 fendor, <notifications@github.com> wrote:

[2019-07-09 09:35] fendor commented on #1191
Not yet done! For a more complete implementation, the issue [#19](https://github.com/dan-t/hsimport/issues/19) needs to be implemented as discussed with the author. However, I wont be able to do it before august.
Afterwards, diagnostics must be parsed to offer the right Code Action. However, the general concept is already implemented in HIE, so as soon as upstream support is implemented and publis

[2019-07-09 12:55] jneira commented on #713
I've get to avoid no termination on failing tests changing lsp-test: https://github.com/bubba/lsp-test/pull/44

[2019-07-09 13:59] alexanderkjeldaas opened #1327 "`stack install.hs build-all` installs cabal in $HOME/.local/bin"
I was a bit surprised that `stack install.sh build-all` installs a new `cabal` into `$HOME/.local/bin`.  That seems to go a bit beyond what that command is supposed to do.

[2019-07-09 14:54] fendor commented on #1327
Would  you prefer that the command fails if no appropriate cabal version can be found?

[2019-07-09 15:54] power-fungus commented on #1327
Hopefully, this can be removed in the future, but currently the cabal Binary is a runtime dependency of hie

[2019-07-09 16:36] fendor commented on #1327
Still, instead of automatically installing a cabal version we need, it might be better to show an error message and let the user decide how to resolve the problem with cabal.

[2019-07-09 17:30] jneira commented on #1327
Another approach could be (optionally) download runtime dependencies at runtime, when precompiled binaries are available and the tool is not present in path or custom location (like stack does with ghc)

[2019-07-10 12:39] Proximyst opened #1328 "Thread blocked in an STM transaction"
Hi, I'm an Arch user (relevant neofetch + glibc? https://owo.whats-th.is/5zu65ff.png) and I've installed cabal using the bootstrap script. I then used cabal to install stack, and stack is now trying to install HIE. However, when it gets around to unpacking ghc-tinfo6-8.6.4 (and once even got that and went on to installing but failed with the same error), it errs with `thread blocked indefinitely i

[2019-07-10 15:21] power-fungus commented on #1328
could you try to run `stack build --stack-yaml stack-8.6.4.yaml` manually?

[2019-07-10 16:32] fendor commented on #1328
Does a normal stack project work? E.g.execute `stack new test`, will create a test directory with a project. Can you then try to use `stack build`? I think this error is stack and arch related.
Also, does `stack setup` succeed?

Last but not least, welcome to haskell!

[2019-07-10 19:37] Avi-D-coder commented on #842
Where would I start fixing this issue?

[2019-07-11 08:05] fendor commented on #842
I would start with having a minimal example where this behaviour can be reproduced.
Then, I would compare the output with an actual invocation of `hlint`, make sure this is not a bug upstream. Then, in the plugin `ApplyRefact`, iirc, you can compare the invocation of the linting command, `lintCmd`. Maybe there you already would need to specify the active Language Extensions? In particular, the fun

[2019-07-11 10:01] mb720 commented on #1328
I just ran into this on Arch Linux 5.1.16:

    /home/mb$ sudo aura -A haskell-ide-engine
    [sudo] password for mb:
    aura >>= Determining dependencies...
    aura >>= AUR Packages:
    haskell-ide-engine

    aura >>= Continue? [Y/n]
    aura >>= Building `haskell-ide-engine`...
    aura >>= Well, building `haskell-ide-engine` failed.
    aura >>= Dumping makepkg output in 3.. 2.. 1..
    ==>

[2019-07-11 12:53] Avi-D-coder commented on #842
@fendor Thanks, I'll take a look in the net few days.

[2019-07-11 14:08] power-fungus commented on #1328
This seems to be a problem with `stack`. Could you try running `stack setup` anywhere?

[2019-07-11 14:40] mb720 commented on #1328
`stack setup` produces

    stack will use a sandboxed GHC it installed
    For more information on paths, see 'stack path' and 'stack exec env'
    To use this GHC and packages outside of a project, consider using:
    stack ghc, stack ghci, stack runghc, or stack exec

[2019-07-11 15:47] fendor commented on #1328
This is a problem with stack, maybe somebody reported this upstream already.

[2019-07-12 08:45] mb720 commented on #1328
Thanks for your quick responses. Where can I find `install.hs`?

[2019-07-12 09:10] jneira commented on #1328
@mb720 the path where `aura` downloaded the `haskell-ide-engine` seems to be `/var/cache/pacman/pkg/haskell-ide-engine2770/haskell-ide-engine/src/haskell-ide-engine-0.10.0.0` so the `install.hs` script should be there

[2019-07-12 09:26] fendor commented on #1328
Or clone this repo and execute the command in the top level of this repo

[2019-07-12 10:45] mb720 commented on #1328
Thanks @jneira. `aura` did not keep the code in `/var/cache/pacman/pkg/`.

I cloned the repo and ran

    stack install.hs hie-8.2.2

which resulted in

    Unpacking GHC into /home/mb/.stack/programs/x86_64-linux/ghc-tinfo6-8.6.4.temp/ ...
    thread blocked indefinitely in an STM transaction

On the other hand, judging from the output of

    stack install.hs hie-8.6.5

it built and configured a

[2019-07-12 18:11] fendor commented on #1328
So, this is a problem upstream, that stack fails to install ghc-8.2.2 on arch linux.

[2019-07-12 19:47] #1179 closed

[2019-07-13 02:14] ecofighter opened #1330 "Possible to pass rtsopts to hie via hie-wrapper?"
I want to pass rtsopts to hie to limit heap size.
Setting `GHCRTS` environment variable doesn't work because cabal-helper-wrapper is compiled without `-rtsopts`.

Is it possible?

[2019-07-13 08:21] power-fungus commented on #1218
closed by #1221

[2019-07-13 08:21] #1218 closed

[2019-07-15 10:35] Proximyst commented on #1328
For the record, if you install ghc from the static binaries distributed by the Haskell team alongside all the other ghc dependencies, you should be able to compile ghc. Use this new ghc to compile ghc once more, then use the new ghc to compile the rest of the toolchain. This took me on a Ryzen 2600 a bit more than an hour in total (ghc, ghc again, cabal, then use cabal to install stack). Stack wil

[2019-07-16 10:43] mb720 opened #1332 "Show entire compiler error or information message"
I'm having a great time using HIE with Vim, thanks for your work! 👍

I was wondering whether it's possible to show compiler errors and informational messages like hints in their own buffer.

For example, HIE kindly points out that the following can be eta-reduced:

    stringLength :: String -> Int
    stringLength s = foldr (\_ length -> length + 1) 0 s

But the message is cut off:

![cut-off mes

[2019-07-16 11:08] Anrock commented on #1332
I think this is a question for LanguageClient, not for HIE. HIE sends full messages, how to display is client implementation. I'm using CoC and that's how it looks in my neovim:

<img width="822" alt="изображение" src="https://user-images.githubusercontent.com/1689392/61289825-f496b900-a7d2-11e9-8607-655b363936e5.png">

[2019-07-16 12:58] mb720 commented on #1332
I see, thanks for your comment.

If I read the issue correctly, [this](https://github.com/autozimu/LanguageClient-neovim/issues/792) is a feature request

[2019-07-16 12:58] #1332 closed

[2019-07-16 13:32] Anrock commented on #1332
@mb720, no, but what you see should be default config of CoC. Just follow their installation instructions.

[2019-07-17 12:16] tchoutri opened #1333 ""Could not find module" error on local imports"
## Expected Behaviour

Not showing any error when importing a local module in another module

## Current Behaviour

This error message in Neovim's `:messages` buffer

## Additional Notes

This issue is similar to https://github.com/haskell/haskell-ide-engine/issues/1069, but I use stack + hpack
How could I debug the root cause of those issues?

[2019-07-19 20:12] Ciantic commented on #328
@alanz just inquiring. Since you posted your comment *before GSOC started*. However now that I look at this year GSOC, I don't think any of the GSOC projects are related? So this effort is still largely waiting?

[2019-07-21 18:12] caioalonso commented on #1328
Running `sudo stack upgrade` fixed it for me on Arch Linux.

[2019-07-21 20:28] power-fungus commented on #1328
It seems that the package for stack on the pacman repository is outdated

[2019-07-21 21:50] fendor commented on #1328
What does outdated mean? Do we have to bump our required version for stack? Why does it fail though? What can we do, that this does not happen again?

[2019-07-22 06:41] power-fungus commented on #1328
I guess we have to bump the version to `2.1.1`

[2019-07-22 10:14] sashasashasasha151 opened #1337 "Linux + Vs Code: The Haskell HIE server crashed 5 times in the last 3 minutes"
HIE don't work with Vs Code on Linux
Get
[code]
Settings
[code]
[code]
In log I get 5 times of this message
[code]
But in Atom all works fine

[2019-07-22 11:26] power-fungus commented on #1327
I am against downloading dependencies at runtime since this increases startup-latency even further.

The current state is not pretty, but the current plugins do not allow a better solution. For this reason, I would like to close this issue.

[2019-07-22 11:30] #1309 closed

[2019-07-22 11:40] fendor commented on #1337
Can you post the content of `/tmp/hie.log`?

[2019-07-22 11:45] fendor commented on #1337
Also: `No System GHC found`
Do you have a ghc installed? Can you post the project somewhere?

[2019-07-22 11:47] jneira commented on #1327
Mmm, totally agree with that, but if we want at some point[ offer hie as a precompiled binary](https://github.com/haskell/haskell-ide-engine/issues/1068) itself (imho essential to increase the user base) we have to solve this anyway.

I think initiated haskell devs will have already `cabal`, usually in `$PATH`, so they will not have any latency. If we let customize cabal location, users could choo

[2019-07-22 11:56] fendor commented on #1327
Well, on a 1Mbit/s connection that is more than a minute. However, the bigger problem I see is, if you use an older cabal and a newer one on the same project, a lot of stuff breaks. E.g. the user uses the pre shipped with their distro cabal version `2.4` or something like that on their project with `cabal v2-build`. However, hie makes use of the latest and greatest development tools in haskell, th

[2019-07-22 12:20] power-fungus commented on #1327
I hope for a more isolated deployment in the future. The hie-bios will open a lot of possibilities and the hlint data files would be a first step when I get around to them.

However, this is a non-trivial multi step process and has currently a blocker in most cases.

[2019-07-22 12:40] sashasashasasha151 commented on #1337
Already in description

Yes, I added paths to `.bash_profile` using `export`
Every project, `stack new my-project` for example

[2019-07-22 13:00] fendor commented on #1337
So, no message `haskell-lsp:Starting up server ...` in `/tmp/hie.log`?
What happens, if you manually execute the path `/nix/store/gabld13fzhqix3mcv3f0bl0vk3y6kq64-haskell-ide-engine-combined/libexec/bin/hie`?

[2019-07-22 13:19] sashasashasasha151 commented on #1337
no

[code]
But in atom I also have this message

[2019-07-22 13:32] fendor commented on #1337
That sounds weird, hie is not hie-wrapper? Afaik, this message is only emitted by `hie-wrapper`. On my system, `${haskell-ide-engine}/libexec/bin/hie` is not executable...

[2019-07-23 07:50] CapSel opened #1339 "ByteCodeLink.lookupCE During interactive linking"
I use Archlinux... and I installed haskell-ide-engine according to instructions here. Then I created a new project with "stack new bonsai-hs yesod/sqlite".
Then I set up neovim, and atom to use hie. Both are now reporting this error:
[code]

[2019-07-23 10:02] Anrock commented on #1339
Does `stack ghci` work for this project?

[2019-07-23 11:38] CapSel commented on #1339
Yes, it does:
[code]

[2019-07-23 14:04] power-fungus commented on #1339
I got a different error:

`Got error while processing diagnostics: <command line>: cannot satisfy -package-id aeson-1.4.2.0-D8uncPFaOD1BKFkUIGYQ4: aeson-1.4.2.0-D8uncPFaOD1BKFkUIGYQ4 is unusable due to missing dependencies: attoparsec-0.13.2.2-6XZWdvg7dAKGuzy18iXIM3 base-4.12.0.0 base-compat-0.10.5-FRXoAxOVtbG2qLNIZm1tTr containers-0.6.0.1 deepseq-1.4.4.0 dlist-0.8.0.6-Fp8bZM9eelBDBq54ytkFUM ghc-p

[2019-07-23 15:22] power-fungus commented on #1339
I am able to reproduce this error. The error message is exactly the same for me. I installed `hie` fresh form master.

[2019-07-23 16:27] bubba opened #1340 "Split out completion logic"
As per https://github.com/haskell/haskell-ide-engine/pull/1334 , the completion logic in HieExtras is getting pretty big. This should be split out into its own module

[2019-07-24 01:36] thomasjm opened #1342 "Is it possible to allow IO actions at the top level of a file?"
This is a question about the feasibility of an idea I'm working on.

I'd like to provide IDE features for working with Haskell in a notebook setting, like with [Jupyter Notebook](https://jupyter.org/) and as implemented in [IHaskell](https://github.com/gibiansky/IHaskell).

Working with code in a notebook-style interface is very similar to working with GHCi. A notebook has a series of cells, each

[2019-07-24 03:03] yuanw commented on #1337
I had similar issue, i think ghc 8.6.4 is not available on your machine. what is the output for `ghc --version`, you can install ghc using nix `nix-env -i ghc` or [ghcup](https://github.com/haskell/ghcup#usage)

[2019-07-24 06:39] sashasashasasha151 commented on #1337
8.6.4

I tried other ghc versions and also in Atom all works fine

[2019-07-24 07:40] Huxpro commented on #1135
Having exact same problem w/ @Arkemyr:
`bad relocation (Invalid pointer diff)` first,
`invalid linker name in argument '-fuse-ld=lld'` after removing LLVM bin from PATH.

[2019-07-24 08:07] jneira commented on #1327
Out of curiosity i've test switching cabal versions (`2.4.1.0` <-> `3.0.0.0`) building a package (`lsp-test`) with `cabal v2-build` and somewhat surprisingly the builds didn't fail. Cabal has to reindex hackage (and it takes a while) between builds but honours the packages already compiled and cached in the store.

Maybe switching between more distant versions or using `v1-build` or `vX-sandbox` c

[2019-07-24 09:00] fendor commented on #1135
Any alternative editor tooling, there are a lot of alternatives, ghcid, intero, haskero, haskforce, etc...
There are a lot of issues discussing why there are no pre built binaries for mainstream distros, see #1068.

[2019-07-24 11:03] matt-snider commented on #1014
There should at least be a warning for the arch linux installation. I ran the install and left it running for >1h and came back and it's still running. My CPU has been at 100% utilization the entire time.

Also, couldn't there be a separate Arch package for each version?

[2019-07-24 11:41] power-fungus commented on #1327
I see the merits of this proposal. However, I am strictly against implementing this approach.

* I would like to wait and see the implications of removing `cabal-helper`. Until that is done, the cost of a temporary solution is too large.
* nobody knows what does and what does not work if `cabal-install` is not found at runtime. Making it a "soft runtime-dependency" has unknown implications
* The i

[2019-07-24 11:43] power-fungus commented on #1014
There is a warning in the readme of this repository. Correctly packaging and shipping `hie` has turned out to be quite difficult in the past and the current package on the AUR is not the best solution either.

[2019-07-24 12:30] jneira commented on #1327
fair enough, we can handle cabal later as part of other runtime deps, in the context of #1068

mmm, it seems it is installed too if the version of the previous one doesnt match the required by hie (including if it is a newer one, i guess).

I think that maybe we should avoid overwrite the existing one and warn the user about the version mismatch and its consequences (or at least overwrite it but w

[2019-07-24 13:39] power-fungus commented on #1327
Fair enough. This makes very much sense. When the `stack` version is too low, we abort. The same should happen for `cabal`

[2019-07-24 17:26] power-fungus commented on #1289
See https://github.com/commercialhaskell/stack/issues/4883#issuecomment-514712967 for my recent findings about this issue. This has nothing to do with `hie` or `cabal-helper` specifically.

[2019-07-24 18:43] Huxpro commented on #1135
@fendor hmm I think as long as stack is failed to build...lots of editor tooling would be broken. Probably I should ask what stack version should I fallback to to get the stack built on macOS?

[2019-07-24 20:59] CapSel commented on #1339
Should I install hie not from master?

[2019-07-24 21:42] power-fungus commented on #1339
@CapSel master is fine. We will try to investigate this issue

[2019-07-25 08:08] Anrock commented on #1339
Should I try reproducing it on OSX/Win/Gentoo or is it arch-only issue?

[2019-07-25 08:37] power-fungus commented on #1339
@Anrock please do. I suspect this is a general issue.

To reproduce:
* I used `stack new hie-test-proj-sqlite yesodweb/sqlite` to create the project (`ghc-8.6.5`)
* The error happens when trying to open the file `src/Application.hs`. Other files may produce other errors, but the one on `src/Application.hs` is consistent on my machine.

[2019-07-25 11:45] Anrock commented on #1339
Hm, just checked on OSX using hie-8.6.5 from a3840a8. In `src/Application.hs` I only get hlint parse error on line 64.

[2019-07-25 12:22] mouse07410 commented on #1154
@alanz could you tell me what branch of this repo I should use to build HIE from source on MacOS with GHC-8.6.5? Can I build `master` branch? Do I need to re-install `shake`? It is better (aka more chances to get a successful build) to build with `stack` or `cabal`?

[2019-07-25 12:37] Anrock commented on #1154
@mouse07410 I'm building hie just fine from master with `./install.hs hie-8.6.5`.

[2019-07-25 18:18] #1328 closed

[2019-07-26 00:20] mouse07410 opened #1343 "MacOS: hie fails to build with dynamic enabled"
I've updated GHC from 8.6.3 to 8.6.5, and configured Cabal and Stack to build dynamically-linked executables (mainly to save vanishing disk space).

`stack ./install.hs hie-8.6.5` fails:
[code]

[2019-07-26 00:41] power-fungus commented on #1343
I fear that `cabal-helper` cannot be built dynamically. Afaik, dynamic linking is not supported by `hie`

[2019-07-26 01:29] mouse07410 commented on #1343
What would your recommendation be then? What commands should I issue to get this built/installed? Ideally - without editing `~/.cabal/config` and/or `~/.stack/config.yaml`?

[2019-07-26 01:33] power-fungus commented on #1343
I guess there is a way to disable dynamic linking via the `stack-*.yaml` files or via the `cabal.project` file. However, I do not know how well `ghc-mod` and the rest of `hie` works on projects that are dynamically linked.

[2019-07-26 02:06] yuanw commented on #1337
the message is emitted at [here](fhttps://github.com/Infinisil/all-hies/blob/master/default.nix#L161), what is the output if you run `hie-8.6.4` directly?

[2019-07-26 02:59] mouse07410 commented on #1343
You're right. Forcing everything to static build via global config files - worked. Thanks!

[2019-07-26 02:59] #1343 closed

[2019-07-26 05:01] sashasashasasha151 commented on #1337
It starts

[2019-07-26 05:40] contrun commented on #308
@alanz Based on the milestone title, I wonder if it is still going to happen. I'd like to contribute. How can I get started?

[2019-07-26 06:05] Avi-D-coder commented on #308
@cdornan I believe the plan was to integrate [HieDb](https://github.com/wz1000/HieDb) or maybe eventually [hie-lsif](https://github.com/mpickering/hie-lsif). Now that the first release candidate for ghc 8.8 is ready hie I think it just needs ingratiation?

@wz1000 Is that still right? Can HieDb be used with stack's precompiled libraries, nix and hie-bios?

[2019-07-26 09:55] power-fungus commented on #1327
should this issue be closed by #1344? This PR implements the changes as described in my previous comment (https://github.com/haskell/haskell-ide-engine/issues/1327#issuecomment-514636291)

[2019-07-26 10:04] power-fungus commented on #1330
I don't quite undestand your request. What do you suggest to change?

[2019-07-26 19:05] CapSel commented on #1339
Try with src/HandlerComment.hs

[2019-07-26 20:05] LukaHorvat opened #1345 "Error reported for a valid TemplateHaskell call"
I have a template Haskell function `embedSettings :: FilePath -> Q [Dec]` that internally calls `makeRelativeToProject` from file-embed. Then in my project I'm calling this function in one of my modules which works when I build the project, but the error is reported by hie saying:

[code]

[2019-07-28 01:12] ecofighter commented on #1330
When I run hie-wrapper with `+RTS .. -RTS` arguments, they are consumed by hie-wrapper itself and not passed to hie.
[code]
I suggest add an option like `--hie-rtsopts` for hie-wrapper to pass RTS arguments to hie.

[2019-07-28 08:04] jneira commented on #1330
Or maybe a more general `--hie-options` option (like cabal does with its called programs).

[2019-07-28 09:10] power-fungus commented on #1330
In what format should the format be passed? `--hie-rtsops -M1G`? How should multiple arguments be handled?

[2019-07-28 09:24] Anrock commented on #1330
I think we could use common unix convention for various wrappers: everything after double dash should be passed to wrapped program. Like `hie-wrapper --wrapper-param1 --wrapper-param2 -- --hie-param1 --hie-param2`.

[2019-07-28 10:21] jneira commented on #1330
Well afaiu it seems hie and hie-wrapper share all params and the later passes them to the former as is.
So maybe rts params could be handled this way? Not sure if it would be useful to hie-wrapper itself

[2019-07-29 22:03] LukaHorvat commented on #969
I've been periodically pulling and retrying with the latest master and I'm happy to say that as far as I can tell this is fixed!

I'm going to close this issue, but if it remains broken for others feel free to reopen.

[2019-07-29 22:03] #969 closed

[2019-07-30 00:57] DavSanchez opened #1348 "Does HIE necessarily depend on the global .stack directory?"
Hello there! I was wondering if it is necessary that HIE in VSCode depends on calling the contents of my `$HOME/.stack` directory (image related) as well as the `haskell-ide-engine` repo?

Having HIE for all versions of GHC can make said directory to grow to like 20 GB, and I have seen people recommending to delete it from time to time... It would be a pain to build HIE over and over whenever the

[2019-07-30 01:34] DanielG commented on #1348
That is a good question! In fact HIE doesn't depend on the entire `~/.stack` directory but the ghc `settings` file from the error message really in particular really is absolutely required ;)

In fact the entirety of GHC intsallations in `~/.stack/programs` are required if you compiled HIE with stack.

You should be able to get back into a working state with an appropriate invocations of `stack se

[2019-07-30 07:03] power-fungus commented on #1348
I advise to only install the versions of hie that you really need. No single person is using 4 ghc versions concurrently. If you do, its not hie that clutters the stack folder.

Hie does in fact depend in its compiler it was compiled with as well as its original install location. If you delete its compiler or delete the hie source folder from which it Was built, it wont work

[2019-07-30 09:06] DavSanchez commented on #1348
I see, I had the curiosity to ask, since I run into the problems when I last deleted the `.stack` directory.

In order to save space and use the last LTS resolver (13.26) for both HIE compilation and use, I guess I must change the resolver in `install/shake.yaml` right? I remember trying it amad running into some problem, but I cannot recall what it was. If I run into it and can’t solve it I’ll ge

[2019-07-30 09:07] Anrock commented on #1339
Still fine on OSX with hie-8.6.5 from cea1b9c4. Hlint parse error in src/Application.hs disappeared, in src/Handler/Comment.hs everything is fine too, only hlint complains about redundant bracket.

[2019-07-30 10:36] power-fungus commented on #1348
Yes, you can. We decided against it because of issue #1116. However, this should not be a major issue in your case.

If you know what you are doing, `stack install --stack-yaml <correct yaml>` should work fine as well.

[2019-07-30 10:52] DavSanchez commented on #1348
Using `stack install --stack-yaml=stack-8.6.5.yaml` begins downloading GHC 8.6.4. I thought it would download only 8.6.5?

Modifying the resolver in `shake.yaml` downloads 8.6.5 but warns about the version of `shake` being newer (0.17.9), which I can force to 0.17.8 by adding the specific version to `extra-deps:`. I don't know if this is the recommended course of action. The thing is I'm trying to

[2019-07-30 11:01] power-fungus commented on #1348
This is a problem and we should fix this.

[2019-07-30 11:35] DavSanchez commented on #1348
Hmm, I'm trying this again then, maybe I'm doing something wrong.

For example, to install HIE for GHC 8.6.5, one would do:

[code]

Am I right?

[2019-07-30 11:43] fendor commented on #1339
Can not reproduce on NixOS with current master `0.11.0.0` built from `all-hies`

[2019-07-30 14:55] power-fungus commented on #1348
Running `stack install --stack-yaml=stack-8.6.5.yaml` (this is the whole command) in the root-directory should copy `hie` and `hie-wrapper` binaries to `~/.local/bin` (or whatever that is in macos).

The command `stack install --stack-yaml=stack-8.6.5.yaml ./install.hs hie-8.6.5` does not make much sense.

[2019-07-30 15:35] DavSanchez commented on #1348
I see, I was mixing the two different commands then (`stack ./install.hs ...` vs `stack install ...`).

I guess using `stack install ...` also includes the hoogle docs generation for that GHC version?

[2019-07-30 15:41] power-fungus commented on #1348
It does not. However:
* hoogle-docs are not ghc-version-dependent
* calling `hoogle generate` once a while is fine and does not need to happen on every rebuild of `hie`

[2019-07-30 20:31] DavSanchez commented on #1348
Ok! Already done. Thanks for all the assistance! Please feel free to close the issue.

[2019-07-30 20:41] #1348 closed

[2019-07-31 10:26] mb720 opened #1350 "Configure specific hints"
I'd like to configure specific code hints that HIE provides. Let's say I'm hinted to

    [Use tuple-section]

in my code but I decide that `tuple-section` is just not for me.

How would I tell HIE that I don't want to see that hint again?

[2019-07-31 10:48] fendor commented on #1350
Afaik, hie uses hlint to offer linting. Adding `.hlint.yaml` to your project root is honoured. Have a look at https://github.com/ndmitchell/hlint/blob/master/data/default.yaml to see how that may look like.

[2019-07-31 11:31] mb720 commented on #1350
You're right!

Creating a `.hlint.yaml` in the project root with

    - ignore: {name: Use tuple-section}

achieved what I wanted to do. Sweet!

[2019-07-31 11:31] #1350 closed

[2019-08-01 13:58] CapSel commented on #1339
I just pulled from master, installed it, then `stack clean` and `stack purge`, `stack build` inside yesod project.
Same effect.
I'm installing hie with:
stack ./install.hs hie-8.6.5
stack ./install.hs build-data

[2019-08-01 22:18] nponeccop opened #1353 "GHC 8.8.1-rc1 is out"
https://www.haskell.org/ghc/blog/20190722-ghc-8.8.1-rc1-released.html

I wonder if we can use it to try building HIE with `cabal` and file some dependency bugs and/or fix some easily fixed breakage, e.g. due to `MonadFail`.

[2019-08-01 23:16] Avi-D-coder commented on #1353
I read on Reddit the plan was for 8.8 to hit stack nightly after lts-14 is released.
Does anyone know where the status of lts-14 is being tracked?
It will be much easier to fix hie once we have a stack nightly to work with.

[2019-08-02 12:09] fendor commented on #1339
Maybe this is one of these legendary dynamic linking bugs?

[2019-08-02 20:06] power-fungus commented on #1339
The system-ghc does indeed have linking issues. However, the ghcs installed via `stack` and `ghcup` are linked statically. How do I know which ghc is used by `ghc-mod`?

[2019-08-03 11:56] CapSel commented on #1339
I just removed ghc from system (`pacman -Rucs ghc`) then:
- reinstalled hie: stack clean & stack ./install.hs hie-8.6.5
- rebuild my project

No ghc was installed by stack - according to logs. Problem persists.

[2019-08-06 21:46] #713 closed

[2019-08-07 19:47] ArthurHNL opened #1356 "Can't build on windows with a space in username"
On Windows, when trying to build (after cloning) using the following command:

[code]

Gives the following output:

[code]

I'm not really experienced with stack but it appears to be an issue with spaces in the path (my actual user folder is `C:\Users\Arthur Heidt`), the path appears to be cut off at the first space.

[2019-08-07 20:18] fendor commented on #1356
Do we know which command failed specifically? E.g. does `stack .\install.hs help` fail with the same error?
Or is this a cabal issue, e.g. `cabal v2-build` fails?

[2019-08-07 20:46] ArthurHNL commented on #1356
@fendor any `stack .\install.hs` fails:

[code]

It probably doesn't matter but I'm using the integrated powershell terminal in vscode.

`cabal v2-build` also does not work but it gives some more diagonstics:

[code]
It needs a unix toolchain but I believe it is included with the Haskell platform. Here is the file: [network-3.0.1.1-a7c0a2f72c1e0fc4564857678c584897c6b48964.log](https://github.com/h

[2019-08-07 21:57] fendor commented on #1356
Sounds a bit like an issue upstream...
I know the issue with cabal, but no fix to it.
Stack should work though.

[2019-08-08 09:24] ArthurHNL commented on #1356
Except it does not.

[2019-08-08 09:41] fendor commented on #1356
I tried a minimal example on windows with a space in username, it seems to work alright. So, this issue might indeed be cause by HIE.
What windows version, btw?

[2019-08-08 10:03] ArthurHNL commented on #1356
Windows 10 Pro x64 version 1903 (updated yesterday).

[2019-08-08 10:08] ArthurHNL commented on #1356
Fyi, I did not clone the repository into my user folder, I cloned it into `C:\tools\haskell-ide-engine`. The first time I ran the stack command it did some stuff before giving the error, now it immideatly crashes.

[2019-08-08 11:38] fendor commented on #1356
It was probably downloading ghc and building the install script.
I don't know where stack installs the script to, it might be into appdata and then tries to execute which now includes the username. More investigation required!

[2019-08-09 01:01] jneira commented on #1356
re: cabal error
I am afraid that the configure step is not ghc related and you definitely need run cabal inside a msys console to build packages with a configure step as the message suggests (network is required by many many haskell packages)
Once you has built netwrok and it is cached, you can build the package in a ps console.

[2019-08-09 01:11] jneira commented on #1356
@ArthurHNL i would relocate all paths used by `stack` to directories out of your user dir:
* if it is not already set, point the stack root directory to `X:\sr` setting the `%STACK_ROOT%` env var to that value
* change paths in `%STACK_ROOT%\config.yaml`:
[code]
Of course you can replace `X:\bin` with whatever, but try to keep it short to avoid long paths issues.

[2019-08-09 23:19] CaptJakk commented on #1353
Stack LTS 14 is out now

[2019-08-09 23:24] CaptJakk opened #1357 "GHC8.8+ HIE File Compatibility"
https://gitlab.haskell.org/ghc/ghc/wikis/hie-files#making-use-of-hie-files-as-a-tooling-developer

As a partially informed observer, this seems to be a major helper for things like the IDE engine. Currently the performance of HIE makes it unusable for all but the smallest of projects. However, I expect a lot of that can be alleviated by taking advantage of GHC emitting these files. How much of the

[2019-08-10 07:45] mpickering commented on #1357
When was the last time you tried `h-i-e`? The performance has got a lot better in recent releases (but is still not perfect). I can use it on GHC's code base for example, which is over 500 modules.

[2019-08-10 18:42] isabellachen commented on #823
@shrin18 What was the solution?

[2019-08-13 22:48] jneira commented on #1356
@ArthurHNL have you had the opportunity to try those changes in stak config? Imo that stack configuration is good in general to develop with stack in windows.

[2019-08-13 22:52] jneira commented on #1327
@power-fungus imo that is the case, @alexanderkjeldaas could ask to reopen it is not.

[2019-08-13 22:52] ArthurHNL commented on #1356
@jneira I just tried the new configuration and it appears to be working :)

[2019-08-14 01:24] EdmundsEcho opened #1358 "Perhaps update documentation to include '--copy-compiler-tool' option instead of using 'stack install'"
I'm just getting started with what I know has been a lot of work in this project.  Installing `hie` is indeed time consuming.  Is there harm/risk in calling `--copy-compiler-tool' option instead of using 'stack install`?  If not, is it advice that would be useful to include in the `readme`?  - E

[2019-08-14 07:21] #1327 closed

[2019-08-14 07:59] jneira commented on #1356
Great! I think we could close this, having a good workaround and being at the end a upstream issue.

[2019-08-14 08:18] fendor commented on #1356
Is it an upstream issue though? Did we confirm that? Could not find a stack issue.

[2019-08-14 10:05] jneira commented on #1356
Mmm i've not reproduced it but given that changing stack config fixes it i think it would be so.
Anyway I'll try to reproduce and fill a stack issue if needed

[2019-08-14 10:58] power-fungus commented on #1358
What does `--copy-compiler-tool` to exactly? I could not find meaningful documentation of this flag.

[2019-08-14 11:26] Anrock commented on #1358
@power-fungus it copies a tool to a ghc-specific bin folder instead of global stack bin folder. So you can `stack build --copy-compiler-tool --resolver=...` to install tools on per-ghc basis instead of globally. I was using that with HIE some time ago and it was working just fine. And I think I raised a ticket about `copy-compiler-tool` vs `hie-wrapper`.

[2019-08-14 13:32] fendor commented on #1356
Before trying to reproduce is, what is your stack version @ArthurHNL?

[2019-08-14 14:59] power-fungus commented on #1358
This seems interesting. However, cabal does not have a feature like this. I would like to have only a single officially supported method of installation.

[2019-08-14 18:43] bolt12 opened #1359 "HIE + coc.nvim"
Hello, I'm having trouble setting up HIE with coc.nvim.

I am using this settings for coc.nvim: https://github.com/neoclide/coc.nvim/wiki/Language-servers#haskell and I can get the linting to work on a file... However the completion does not work..

HIE is installed correctly and coc.nvim I think it's configured correctly too! :checkhealth is alright but, when I open some Haskell file and do :CocI

[2019-08-14 19:35] Avi-D-coder commented on #1359
Placing this in `"languageserver"` works for me.
[code]

[2019-08-14 21:39] jneira commented on #1356
Ok, i've reproduced it simply setting a path with spaces in `local-programs-path` field of `%STACK_ROOT%\config.yaml`:
[code]
When you run a stack command instead a script it emits a warning:
[code]
The warning is a little bit weird in the suggestions but i think that makes clear that they are aware of the issue. The improvement could be show the message when running a script (like hie `install.hs

[2019-08-15 02:04] power-fungus commented on #1356
@jneira should I add a check into the `install.hs`?

[2019-08-15 02:45] bolt12 commented on #1359
That resolved the error from :CocConfig but I cant still have autocompletion... could you please show me your init.vim/vimrc? @Avi-D-coder

[2019-08-15 04:57] Avi-D-coder commented on #1359
Nothing in my vimrc makes HIE work. How did you install HIE? Repost your CocLog.

[2019-08-15 10:29] bolt12 commented on #1359
@Avi-D-coder sorry for asking such a nonsense thing... I realized that I needed to do :call coc#util#install() manually and everything works fine!

I can get completion now! :D

But it only gives me the function names tho.

[2019-08-15 11:47] Anrock commented on #1359
@bolt12 not sure on full list of things HIE autocomps, but it should also at least complete language extensions and modules.

[2019-08-15 12:29] bolt12 commented on #1359
Is there anyway I can use the ghc-mod binary that lives in HIE with deoplete/neco-ghc nvim plugin? @Anrock  @Avi-D-coder

[2019-08-15 15:58] FrancoAra commented on #1219
I have the same issue, I'm on a Windows computer

[2019-08-15 19:28] fendor commented on #1219
@FrancoAra, Can you post your stack version and windows version?
Also, which command did you invoke to produce this error?
Is the project up-to-date, e.g. git pull does not pull in updates?

[2019-08-15 20:33] Anrock commented on #1359
I have no idea on this.

[2019-08-15 21:47] jneira commented on #1356
mmm, it would be great at least while stack itself doesn't warn anything.

[2019-08-15 22:32] Avi-D-coder commented on #1359
I don't think that's possible, what is your use case.

[2019-08-15 22:37] bolt12 commented on #1359
@Avid-D-coder, well it's pretty much use those plugins... They require ghc-mod to be installed and if I got it right in the build folder of hie there's a ghc-mod binary. Could I use it to power neco-ghc nvim plugins?

[2019-08-16 04:29] Avi-D-coder commented on #1359
What features does neco provide that Coc + How does not?

[2019-08-16 09:42] bolt12 commented on #1359
@Avi-D-coder, it show the types of the functions on completion!

[2019-08-16 23:36] jneira commented on #1219
I've reproduced it with both `stack-1.9.3` and `stack-2.1.3` and executing `stack build --stack-yaml=stack-8.4.4.yaml` and `stack install.hs hie-8.4.4`.
The error with `stack-2.1.3` is:
[code]

[2019-08-16 23:46] jneira commented on #1219
Strangely i have not ghc-8.4.4 installed but stack doesn't download it but uses the ghc system wide:

[code]

[2019-08-17 13:53] jneira commented on #1219
A `stack setup` doesn't install `ghc-8.4.4` but a `stack setup --reinstall` does it.
So it seems the error is triggered when you have a newer ghc (> 8.6) in the global path.
Probably this is the cause that makes the build work in the ci env.
I have to investigate more on this but maybe it will need open a ticket upstream.

[2019-08-17 21:54] fendor opened #1360 "Install: Wrong error message if cabal is outdated"
Error message is:
[code]
Call by a wrong function call

[2019-08-17 23:19] razvan-flavius-panda opened #1362 "ghcmod "Could not load module" for test file"
Getting the following `ghcmod` error message in the test file:

    Could not load module ‘Hedgehog.Range’
    It is a member of the hidden package ‘hedgehog-0.6.1’.
    Perhaps you need to add ‘hedgehog’ to the build-depends in your .cabal file.
    Use -v to see a list of the files searched for.

If I open a Lib file HIE works fine without any errors.

Using GHC 8.6.4
Issue can be reproduced bot

[2019-08-18 00:08] razvan-panda commented on #1362
For now I used the workaround of adding the test packages to the library part of the cabal file also:
  - hedgehog
  - hedgehog-fn

ghcmod sees the modules then and HIE works.

[2019-08-18 14:52] jneira commented on #1219
After installing `ghc-8.4.4` i have not able to reproduce again the error, even "uninstalling" it again, so there must be some other factor involved. 😟

[2019-08-18 17:10] #1360 closed

[2019-08-20 01:53] EdmundsEcho commented on #1358
I understand wanting to keep it as simple as possible.  May I ask why `stack` is not going to be a supported way to install `hie`?  It seems to me if you build for making it work with `stack`, you get the `cabal` capacity "for free".  I say that of course because `stack` uses `cabal` "under the hood".  Finally, my understanding is that maintaining the codebase on `stack` may/likely requires more w

[2019-08-20 07:53] lorenzo commented on #1359
@bolt12 so does HIE with coc.nvim! Unless you are referring to something I haven't seen yet

[2019-08-20 08:02] power-fungus commented on #1358
@EdmundsEcho There is more to installing `hie` than simply `stack install`. I described this in [this document](https://github.com/haskell/haskell-ide-engine/blob/master/docs/Build.md#steps-to-build-hie), which is the most-correct approximation of the requirements I found so far. The build script *does* rely on `stack install` in the background.

Generally, this is not the case - in neither direct

[2019-08-20 11:34] Anrock commented on #1359
For me it shows type only in preview window (one to the right on image) that must be triggered manually by selecting autocompletion element. Having a type in autocompletion window itself would be nice, but it seems like CoC issue, not HIE.
<img width="863" alt="изображение" src="https://user-images.githubusercontent.com/1689392/63343713-5361cc00-c357-11e9-8b27-6bb71d3bd74e.png">

[2019-08-20 20:18] razvan-panda commented on #658
I am having the same issue also and `cabal update` does not fix the issue.

[code]

[2019-08-20 20:48] razvan-panda opened #1364 "HIE error - "Got error while processing diagnostics: readCreateProcess:" in Atom / VSCode"
I am getting the following error:

HIE version 0.12.0.0 x86_64 ghc-8.6.4
cabal-install version 2.4.1.0
compiled using version 2.4.1.0 of the Cabal library

[2019-08-20 21:22] razvan-panda commented on #1364
I had done a `cabal new-build` before running in this issue.

The fix was to `rm -rf dist-newstyle/`

[2019-08-20 21:22] #1364 closed

[2019-08-20 21:38] jneira commented on #1356
@power-fungus i've just opened a pr upstream to make stack show the warning. We will have to wait to the next release but maybe we could wait.

[2019-08-21 01:39] EdmundsEcho commented on #1358
Thank you for clarifying.  The only question is whether there is any benefit or ability to "install locally" but in actuality, `hie` links to a global version of the tool.  This is accomplished using `copy-compiler-tool`.  If this suggestion were made somewhere in the documentation it might help reduce the "weight" of installing and maintaining the tool.  Thank you again for this much needed Haske