[2017-08-14 02:37] wz1000 commented on #285
You need to update to hoogle 5.0.13.

On 14-Aug-2017 05:45, "Ismail Mustafa" <notifications@github.com> wrote:

[2017-08-14 04:52] AlexeyRaga commented on #285
I'd add to it: if there IS hoogle db found, then there is no need to display an info popup since it doesn't require any attention and doesn't bring any value to the user.

[2017-08-14 06:06] wz1000 commented on #285
But hie can recognise different hoogle dbs for different projects. So if
you run `stack hoogle`, it will generate a hoogle db under `.stack/` that
HIE can pick up on.

On 14-Aug-2017 10:23, "Alexey Raga" <notifications@github.com> wrote:

[2017-08-15 02:53] ismailmustafa commented on #285
Upgrading to 5.0.13 worked. Thanks! Also @AlexeyRaga +1 on not displaying an info popup if a hoogle db is found. It's quite annoying. What about using `fmServerLogMessageNotification` here https://github.com/haskell/haskell-ide-engine/blob/master/src/Haskell/Ide/Engine/Transport/LspStdio.hs#L341? That way we can still find out which hoogle db is being used by looking through the logs.

[2017-08-15 11:53] #285 closed

[2017-08-15 20:12] Friede80 opened #288 "Request error on Windows"
Error thrown when running on Windows:

[code]

[2017-08-15 20:28] alanz commented on #288
This looks like the windows path with `e:` is not being handled properly.

Windows devs?

[2017-08-16 00:12] ismailmustafa opened #289 "Newline added on every save"
In VSCode every time I make a change to a file and save it, a newline is added to the end of the file. Assuming you make 100 changes and save after every change, this will result in 100 empty lines added to the end of the file.

[2017-08-16 12:56] alanz opened #290 "Does nothing if the project is not buildable"
If you add a non-existent package to the cabal file, and open the project in hie you do not get any kind of warning, but the messages are simply not responded to.

In particular, `textDocument/documentHighlight`

[2017-08-16 13:26] arrowd commented on #288
Shouldn't that be an URI (that is, start with file://) too?

[2017-08-16 13:28] alanz commented on #288
No,  `rootPath` is the previous requirement, superseded by `rootUri`.  Vscode sends both.

So `"rootUri":"file:///e%3A/Coding/haskell-ide-engine"`

[2017-08-16 16:26] alanz opened #291 "documentHighlight for data type"
When hovering over either `Foo` instance below, both are highlighted as type 'read'

[code]

Perhaps we should consider the one in the data definition a write, in the sense that this is where it is created.
Likewise for the data constructors.

[2017-08-16 16:54] arrowd commented on #288
Ok, then `%3A` should be a culprit. I guess, `uriToFilePath` should not just drop "file://" prefix, but also URL-decode the string?

[2017-08-16 16:58] alanz commented on #288
@arrowd I think is is resolved via https://github.com/alanz/haskell-lsp/pull/53

[2017-08-16 17:49] adelbertc opened #293 "Motivation for Nix build / better support for macOS?"
On macOS Sierra, cloning off HEAD and doing `stack install` has given me errors for:

* icu4c https://github.com/haskell/haskell-ide-engine/issues/275
* (std)c++
* zlib

Since I have Nix on my machine my workaround was adding:

[code]

to stack.yaml as well as forking + patching charsetdetect-ae and add my forked charsetdetect-ae with the patch as an extra dependency.

[code]

Perhaps this is a mo

[2017-08-16 19:00] adelbertc opened #294 "Not working with TypeApplications defined in cabal file"
Minimal reproduction:

Main.hs
[code]

foo.cabal
[code]

Clone-able Git repo here (though I may delete it in the future, hence why I reproduced it above): https://github.com/adelbertc/typeapptest

`cabal build` is happy with it, but HIE reports

[code]

However putting the LANGUAGE pragma makes it happy.

I confirm this is HIE since when I remove HIE configuration from my editor (Neovim) and re-op

[2017-08-17 22:06] ndmitchell opened #296 "Release the extension to VS Code marketplace"
As a Haskell developer, I have all the knowhow to do all the git pieces and build pieces required to get this project going. What I don't know all about is writing VS Code extensions and setting up npm, so having the VS Code extension released would be great. I recommend releasing it in whatever embryonic state it is and just rereleasing it every month or so.

(Well, actually I do know, since I wr

[2017-08-18 06:04] alanz commented on #296
Ok.  I have been holding off because things were not mature enough on the backend, and I was worried about floods of bug reports for things that are not really ready for use yet.

[2017-08-18 06:06] ndmitchell commented on #296
Is the vs code piece itself immature? If not, making it more easily available might help people fix the backend bugs.

[2017-08-18 06:10] alanz commented on #296
No, it is pretty solid, as it does not have to do much. The immaturity was in the backend, I am only just starting to feel confident about using it for daily tasks.

[2017-08-18 06:25] ndmitchell commented on #296
In that case I'd strongly consider a release. Last night I saw the screenshots and thought "wow". Then I saw the "run npm ..." and added looking at it to my todo list. With that one step removed, I'd have tried it there and then.

[2017-08-18 07:33] wz1000 commented on #289
I can't reproduce this. Anyway, it sounds like an issue with vscode, not HIE. Maybe make an issue on the vscode tracker?

[2017-08-18 07:36] wz1000 commented on #294
fixed here: https://github.com/haskell/haskell-ide-engine/commit/f7dbdd9ddcca66af30d53c53ae29f520a19e30e5

[2017-08-18 08:03] adelbertc commented on #294
@wz1000 Woa awesome, thanks! Dumb question.. where is that patch actually located? It doesn't seem to be on [master](https://github.com/haskell/haskell-ide-engine/commits/master) and I can't find it on any of the branches.. it is also 1AM here so I'm probably not thinking very well.

[2017-08-18 08:07] wz1000 commented on #294
@adelbertc https://github.com/wz1000/haskell-ide-engine/tree/wip

[2017-08-18 08:11] adelbertc commented on #294
Ahhh alright, I'll keep an eye on that. Thank you!

[2017-08-18 08:13] alanz commented on #296
Here goes nothing: https://marketplace.visualstudio.com/items?itemName=alanz.vscode-hie-server

[2017-08-18 08:13] #296 closed

[2017-08-18 12:21] ismailmustafa commented on #293
+1. I've tried following the instructions in the readme but I'm still getting errors building on macOS:

[code]

[2017-08-18 12:29] ismailmustafa commented on #289
I thought this was the case however I can only reproduce this when using HIE. Two cases that hint at HIE being the issue:

1. The problem only occurs on files with the `.hs` extension.
2. Uninstalling HIE fixes the issue.

[2017-08-18 16:55] adelbertc commented on #294
Works! Thank you!

[2017-08-18 16:55] #294 closed

[2017-08-18 18:34] adelbertc opened #299 "Bad URI when ghcmod returns diagnostics?"
Using the [Neovim LSP client](https://github.com/autozimu/LanguageClient-neovim) and looking at logs I see:

[code]

It seems Neovim is sending the current information to HIE, correct path and everything. But HIE is sending back the incorrect URI for some of the diagonistics:

[code]

[2017-08-18 18:56] adelbertc commented on #293
@ismailmustafa You'll need to have icu4c available if you're on macOS, relevant README section: https://github.com/haskell/haskell-ide-engine#installation

Alternatively if you have Nix you can do what I did above with Stack's Nix integration.

[2017-08-18 22:05] ismailmustafa commented on #293
@adelbertc I've followed the readme and have icu4c installed. In fact, I already had HIE installed once before. This is currently happening after pulling the most recent version from master and trying to install it again.

[2017-08-19 13:39] varosi opened #300 "Instructions for build on the main page doesn't work on Windows"
During ```stack install``` on the master branch it asks for some C libraries:

Configuring text-icu-0.7.0.1...
    Cabal-simple_Z6RU0evB_1.24.2.0_ghc-8.0.2.exe: Missing dependencies on foreign
    libraries:
    * Missing C libraries: icuuc, icuin, icudt

[2017-08-19 17:52] arichardson20 opened #301 "Error in VScode on Mac"
Hey, I'm fairly new to programming, but I was just trying to setup the engine with VScode on mac. I followed all the instructions, but when I open up the new window with f5, Vscode tells me "connection to server got closed. Server will restart."

I followed all the steps shown on the instructions, including the special icu4c setup. Any idea what's going wrong for me?

If you need more info, or I n

[2017-08-19 21:11] robrix opened #302 "Supporting new versions of ghc (with slightly less hassle)"
I’ve spent some time this morning working on upgrading everything (cabal-helper, ghc-mod, ghc-mod-core, HaRe… everything) to work with ghc 8.2.1. I’m not done just yet, but I had a couple of thoughts that might make this sort of task easier in future, and I wanted to see whether you think they’d be worth doing or not.

1. Use git submodules instead of git ref packages in stack.yaml.

    It’s inco

[2017-08-20 01:22] ismailmustafa opened #303 "Readme instructions for building on macOS still don't work"
This is the error I get:

[code]

[2017-08-20 03:26] nebtrx commented on #279
I'm having the same issue, I can confirm. I'm on the latest version as well. BTW, excelent job with this 🤘😎

[2017-08-20 05:16] wz1000 commented on #302
Sounds great! These changes would be very welcome. Thanks a lot for taking the time to work on this.

We hang out in #haskell-ide-engine on freenode, so you can drop in there any time.

I'm not sure about the git submodule change though, @alanz is better qualified to talk about that.

[2017-08-20 05:19] wz1000 commented on #279
@AlexeyRaga @nebtrx can you confirm if https://github.com/wz1000/haskell-ide-engine/commit/1f77505d61383ab4642d940c8d2c85e7bdfb64b9 solves your issue?

[2017-08-20 05:19] wz1000 commented on #299
@adelbertc can you confirm if https://github.com/wz1000/haskell-ide-engine/commit/1f77505d61383ab4642d940c8d2c85e7bdfb64b9 solves your issue?

[2017-08-20 05:32] AlexeyRaga commented on #279
@wz1000 Looks like it does fix this issue, I cannot reproduce it anymore so far.

[2017-08-20 07:34] wz1000 commented on #301
Can you give me the contents of `/tmp/hie.log`

[2017-08-20 07:57] nebtrx commented on #279
@AlexeyRaga @wz1000 Confirmed! The issue disappeared!

[2017-08-20 12:02] wz1000 commented on #303
I think the text-icu tracker would be a better place to report this issue, and you would be able to get more help there.

[2017-08-20 12:58] tonyfloatersu commented on #300
You may try this: [Issue 12](https://github.com/bos/text-icu/issues/12), the solution is from RyanGlScott.

This method seems to solve the same problem (stated by you) on me.

(BTW, my platform information if needed: GHC 8.0.2 with stack 1.5.0)

[2017-08-20 17:02] Friede80 commented on #300
I was able to build using Neil Mitchell's answer here: https://stackoverflow.com/questions/16127710/how-do-i-get-text-icu-working-on-windows

Although, I had to use ICU version 55, for some reason that was the only one that worked for me.

[2017-08-20 20:13] #279 closed

[2017-08-20 20:14] #299 closed

[2017-08-21 02:51] Friede80 opened #306 "Newline character added after all comments when refactoring is applied."
Before:
![image](https://user-images.githubusercontent.com/7852262/29501800-4263c11c-85f9-11e7-8d15-3df3bfff2000.png)

After applying the Eta Reduce hint (the fact that the hint is not actually applied is a known issue with apply-refact, but the newline issue manifests when applying any hint)
![image](https://user-images.githubusercontent.com/7852262/29501813-51df3fb8-85f9-11e7-90af-8b79dafccb99.p

[2017-08-21 05:12] Tehnix commented on #234
@ElvishJerricco would you happen to have that Atom implementation somewhere? I started on an initial attempt at setting up `hie` for [atom-languageclient](https://github.com/atom/atom-languageclient) in https://github.com/Tehnix/atom-haskell-hie, but I don't won't to duplicate efforts here.

[2017-08-21 05:51] wz1000 commented on #234
@Tehnix see https://github.com/atom-haskell/hie-lsp-adapter

[2017-08-21 13:10] robrix commented on #302
#305 has been merged & per discussion in IRC @alanz prefers not to use submodules, so I’m going to close this out.

[2017-08-21 13:10] #302 closed

[2017-08-21 19:41] xgrommx opened #307 "Problem with stack install"
Hello. When I try install haskell-ide-engine I got errors

[code]

How can I solve it?

Related with #303

[2017-08-21 21:12] varosi commented on #300
hm, all those ways are not trivial for installing a IDE Haskell environment. May be text-icu replacement could be considered? or maybe pre-built binaries.

[2017-08-22 02:35] arichardson20 commented on #301
I've decided to go with Haskero for VSCode, but thanks for your help. Sorry for the false alarm.

[2017-08-22 02:35] #301 closed

[2017-08-22 04:26] ismailmustafa commented on #303
@wz1000 I was about to post an issue on the text-icu tracker however I thought I would try building it first. I was successfully able to build it so I'm not convinced it's an issue with text-icu.

[2017-08-22 10:55] Tehnix commented on #234
@wz1000 thanks! Seems the only difference we had was very minor :)

[2017-08-23 22:52] xgrommx commented on #303
@ismailmustafa Small but maybe not good solution, some problem with icu4c

[code]

[2017-08-24 01:12] ismailmustafa commented on #303
@xgrommx Solution is not ideal but it works!!! Thank you.

[2017-08-26 18:24] jarandaf opened #308 "Go to definition of library methods"
Is it currently possible? It seems it only works for local methods.

[2017-08-27 15:59] wz1000 commented on #308
I don't think this is possible via the ghc api. We would have to use some third-party tool like `codex` or `hasktags`

[2017-08-27 19:40] IvanMalison commented on #308
@wz1000 Or maybe a bug should be filed against ghc to make this possible? What exactly is the issue?

[2017-08-28 02:09] xgrommx opened #309 "Support for ghcjs"
Hello @alanz Do u have some plans to add support for ghcjs? Also the same question about eta lang

[2017-08-28 11:30] domenkozar commented on #293
Upstreamed the charsetdetect-ae fix: https://github.com/aelve/charsetdetect-ae/pull/6

[2017-08-28 12:32] wz1000 commented on #308
This isn't a bug with ghc, as ghc doesn't know about the source files of installed packages, it just cares about the `.hi` and `.o` files.

In most cases, the source files of the dependencies aren't even available locally.

[2017-08-28 13:00] #293 closed

[2017-08-28 17:06] alanz commented on #309
No direct plans at the moment, the goal is currently to get something working properly for at least one GHC version.

That said, I do not think there is any specific reason that ghcjs should not work, nor eta so long as it has not diverged too much yet.

But we would need champions / PRs to actually do the work.

[2017-08-28 17:32] IvanMalison commented on #308
Yeah, I figured as much, but that doesn't mean that that information couldn't be embedded in those files right? stackage/hackage could be used to retrieve the missing source code if needed.

This is a feature that many other languages provide, it seems silly to have the answer for haskell to simply be 'this is not possible'.

[2017-08-30 16:24] wz1000 commented on #308
@IvanMalison well, like I said, it could be possible by making use of tools like codex and hasktags

There is a deeper UX issue as well here. Any edits you make to the source files of your dependencies won't be reflected in your program. Maybe it would be better to return the html hscolor source file generated by haddock to make this clear.

[2017-08-31 17:51] #307 closed

[2017-09-01 17:49] jarandaf commented on #308
This should be the expected behavior, as in many other languages (dependency source files are read-only).

[2017-09-01 18:04] IvanMalison commented on #308
Yeah, agreed, I'm not sure this would really surprise many people. If you're really worried about it, you could make any source downloaded as a dependency have read-only permissions.

Those tools are pretty unsatisfactory because a) they rely on heuristics for the most part b) You have to regenerate tags which is annoying c) They introduce additional cognitive load (why should I have to think abou

[2017-09-02 03:35] xldenis opened #315 "LSP fails with VSCode (installed from marketplace)"
Hey!

I just tried installing the extension from the marketplace (I saw the issue for that was recently closed). However whenever I open it up I get this error

[code]

It's not clear _why_ it's building `cabal-helper` nor why it's failing? I was able to run `stack install cabal-helper` without any issues so idk what it's doing there?

[2017-09-03 15:46] wz1000 commented on #308
@IvanMalison I don't see a way to get GHC to give us this info, so I think we will have to rely on tags or something similar, perhaps making use of the info GHC can give us(whether a symbol is a type constructor or a data constructor, the module it is defined in etc) to improve the accuracy. HIE can also handle setup and tag regeneration.

If you want to take a stab at it(using any method), PRs ar

[2017-09-03 15:57] wz1000 commented on #308
Since we would only use tags for external dependencies, tag would need to be regenerated only when dependencies change. Also, since we can tell by looking at the package a symbol is defined in whether the definition info should be queried from GHC or tags, the process could be entirely transparent to the user.

[2017-09-04 21:20] DanielG commented on #315
See https://github.com/DanielG/ghc-mod/issues/905

[2017-09-05 11:20] Tehnix commented on #315
So you don't have to dig around that much in the issue, which also links another issue, I'll repost how I got it fixed (although please note that I have no idea if this will affect other parts of your system, use at your own risk!):

To sum up how I fixed it (although still remains how it got there), I went to `~/.stack/programs/x86_64-osx/ghc-8.0.2/lib/ghc-8.0.2/package.conf.d` where there was a

[2017-09-08 18:12] ethercrow commented on #303
[code]
is as unsatisfactory, but doesn't involve picking homebrew's guts.

[2017-09-09 12:43] SzymonPajzert opened #317 "Error using with vscode. "Reason: unknown dependency `justusadam.language-haskell`"."
I got error while following instructions for usage with vscode:

[2017-09-09 14:42] ethercrow commented on #303
I removed text-icu dependency from yi-rope, so this should work now.

[2017-09-09 19:22] ismailmustafa commented on #317
Did you download `vscode-hie-server` through vscode, or did you follow the instructions in the readme and build it yourself from source? I have a feeling extension dependencies only work when using the former approach.

[2017-09-09 19:49] sheyll commented on #289
I have the same issue, I think it happens when brittany formats a file, when `files.insertFinalNewline` is `true`.
Then brittany adds some indentational whitespace to the new line generated by `files.insertFinalNewline` every time a file is saved.

[2017-09-09 20:09] SzymonPajzert commented on #317
I have followed instructions from READ.me. I'll check tommorow the first
way of doing it and update readme accordingly if it happens to work.

On Sep 9, 2017 20:22, "Ismail Mustafa" <notifications@github.com> wrote:

[2017-09-10 11:32] lspitzner commented on #289
lspitzner/brittany#25 has nothing to do with this.

I think @sheyll's analysis is close, although I am confused where the newline containing space comes from.

It is true that brittany adds a new line if the last line contained anything in the input (even if those contents were only spaces that don't get reproduced by brittany). But this stops after one iteration, as there now is a newline charact

[2017-09-10 14:53] lspitzner commented on #289
As it turns out, lspitzner/brittany#53 was unrelated, although it had a similar cause. Brittany never exposed any newline-appending behaviour when the `ppconf_hackAroundIncludes` config value was set to `False`, which it was when called via HIE.

But I think the cause is related: [the plugin uses Text.lines](https://github.com/alanz/haskell-ide-engine/blob/master/hie-brittany/Haskell/Ide/BrittanyP

[2017-09-11 14:20] alanz commented on #317
I just uninstalled and reinstalled via the marketplace, and it went in fine.

So if you want to play with it using the local version first install the required dependency, I guess.

[2017-09-11 21:31] #303 closed

[2017-09-13 16:46] #317 closed

[2017-09-13 16:47] SzymonPajzert commented on #317
Closed since installing via vscode works. But still we should update docs.

[2017-09-13 17:08] alanz commented on #317
I agree. And I thought I had, to be honest. But I think it is on an unmerged branch somewhere

[2017-09-18 14:16] saurabhnanda opened #319 "Prioritise compile errors over hlint errors"
If `hlint` throws a parse error (especially due to a syntax-related extension, like QuasiQuotes or Arrows), HIE doesn't show any compile errors. I feel compile errors should be prioritised over style/hlint errors.

[2017-09-18 14:17] saurabhnanda opened #320 "Ability to turn off hlint?"
Is it possible to turn off hlint especially in view of #319 ?

[2017-09-18 20:58] alanz commented on #319
Note also that in vscode you can filter the problems using the window on the bottom right, part of the bar with "Problems" on it

[2017-09-24 11:32] homam opened #322 "Request textDocument/hover and textDocument/definition failed"
I am having several problems with HIE and the VS Code extension.

1. On hover, nothing works and I get this error in the OUTPUT tab:

[code]

2. Go to definition does not work and I get this error:

[code]

I have installed the latest version of HIE [531490](https://github.com/haskell/haskell-ide-engine/commit/531490f0a0529c7d1529adf22b7b9c6b3281971f) and the extension manually [db5f5e](https://gi

[2017-09-26 14:48] xgrommx opened #323 "After build of a new version doesn't work hie"
Hello! I have some problem with a new build of hie. This is what I got
![recursionschemesexample hs app10 2017-09-26 17-44-10](https://user-images.githubusercontent.com/1499594/30866785-dd65153e-a2e2-11e7-813f-d38024bedb80.png)

[2017-09-26 15:00] alanz commented on #323
Which commit of hie?

The current master may require you to clear out `~/.cache/ghc-mod` and/or `~/.ghc-mod`. On linux, or whatever the equivalents are on other o/s's

[2017-09-26 15:29] xgrommx commented on #323
@alanz still error. I use master as branch

[2017-09-26 15:35] alanz commented on #323
Is the project you are working against publicly available? I would like to try and reproduce it.

Also, possibly try it with https://github.com/alanz/haskell-ide-engine/tree/ghc-8.2.1-wz1000-additions-2, which uses the current master branches of `cabal-helper` and `ghc-mod`.

[2017-09-26 16:10] xgrommx commented on #323
@alanz I got this error when I tried install your version
[code]

[2017-09-26 16:18] alanz commented on #323
Ok, this is still experimental, only tested on linux so far.

The only thing I can suggest that might help is to do

[code]

because sometimes the sub-projects build with the wrong versions of stuff when using git dependencies.

Otherwise roll back to the prior version.

[2017-09-26 16:21] xgrommx commented on #323
@alanz I still get error which I provided on image.

[2017-09-26 17:00] xgrommx commented on #323
@alanz I also doesn't work with pretty easy application via `stack new app`

[2017-09-26 19:40] alanz commented on #323
ok, I will take a look

[2017-09-27 11:22] alanz commented on #323
@xgrommx can you tell me what operating system you are on?

And you say it used to work, but now does not? Do you know which version used to work?

And this is the behaviour when it starts up?  Are you installing the plugin from the repo, or from the market?

[2017-09-27 11:24] alanz commented on #323
I think the problem is that the vscode plugin is unable to find the `hie` executable. I was unable to get a decent error message in this case. See https://github.com/alanz/vscode-hie-server/issues/17

[2017-09-29 01:02] xgrommx commented on #323
@alanz Solved! Not relevant anymore

[2017-09-29 01:02] #323 closed

[2017-09-30 01:21] FongHou opened #324 "Go to Definition within module opens redundant file"
Hi,

When "Go to Definition" on type or term within the module, VSCode always open another file, rather than just jump to the local definition. For example, I have Main.hs opened. "Go to Definition" opens another file at /var/folders/xm/vkg11d9n74ngq3zsbjlms04w0000gn/T/ghc-mod57475/Main168072824752498235644401115438165.hs (this is on MacOS). Is this a bug? anybody else see this behavior?

I'm usin

[2017-10-03 12:47] gabriel-fallen opened #325 "`stack build` fails with `master` branch"
`stack build` fails with just pulled master due to dependency problem:
[code]
Tried with both `stack.yaml` and `stack-8.2.1.yaml`.

Please, check and fix project dependencies.

[2017-10-03 20:09] #325 closed

[2017-10-06 11:10] homam commented on #324
Related to #322 and #279

[2017-10-07 05:21] FongHou commented on #324
Works if checkout Aug-31 commit [63a26084](https://github.com/haskell/haskell-ide-engine/commit/63a26084a67fdd5e0cb8dddeb43eba647f525623). It seems @wz1000's fix for #279 was lost.

[2017-10-08 14:13] gabriel-fallen commented on #325
@alanz wow! Thanks a lot for fixing it so fast!
Github newer send me updates on this issue and I tried to rebuild only today.
And it works like a charm! :)

[2017-10-09 02:49] Anrock commented on #300
Successfully built e3f921df897e7a5f4fe33da000b0eb70664c8c47 today on win10 x64.

[2017-10-11 12:34] varosi opened #328 "Presence in Stackage"
It'll be really nice if it's presented in LTS in Stackage:
https://www.stackage.org/

This will make installation even easier on major OSes without source download. Just:

and Voila!

[2017-10-11 21:23] Anrock opened #329 "HIE reports invalid file uri on Windows"
See https://github.com/autozimu/LanguageClient-neovim/issues/144
Looks like diagnostics from ghcmod are using invalid file path separator.

[2017-10-12 22:37] Anrock commented on #329
@alanz please take a look.

[2017-10-13 08:16] alanz commented on #329
Can you try again with current HIE master?

[2017-10-13 08:36] alanz commented on #320
Yes, see https://github.com/haskell/haskell-ide-engine/pull/330 and https://github.com/alanz/vscode-hie-server/tree/settings

[2017-10-13 11:37] Anrock commented on #329
@alanz Master stopped building on Win since 8b9b623 because of `unix` dep in `hie-build-plugin-0.1.0.0`
Latest buildable commit: 7f77e7e, issue still present there.

[2017-10-13 12:34] alanz commented on #329
Where is the `unix` dep? Any idea what is bringing it in?

[2017-10-13 13:22] Anrock commented on #329
I have no idea right now.
It looks like haskell tooling doesn't have something to list full dependency tree of package (omg, why?), so the only viable option i see now is to analyze diff of broken commit and find introduced dependency manually.

[2017-10-13 13:36] Anrock commented on #329
@alanz found it.
In 8b9b623 you switched from alanz/cabal-helper `94b7ad` to DanielG/cabal-helper `4af5dddb`
Previous commit of DanielG/cabal-helper `4af5dddb` - `4b3571a` introduces `unix` package to use instead of `time`.

[2017-10-13 14:35] Anrock commented on #329
@alanz so i've used local repo of cabal-helper with `4b357a` reverted, hie built fine.
Still file uri is wrong:
[code]

[2017-10-13 14:47] alanz commented on #329
Ok, thanks.

Can you paste an edited version of what you would be expecting to see?

[2017-10-13 14:54] Anrock commented on #329
You mean edited server response? Honestly i have no idea how LSP protocol works.

As far as i understood explanations of @autozimu in autozimu/LanguageClient-neovim#144 and [reference](https://en.wikipedia.org/wiki/File_URI_scheme#Windows) [urls](https://blogs.msdn.microsoft.com/ie/2006/12/06/file-uris-in-windows/) he posted
offending path is in `params.uri`
[code]
and it should look like
[code]
j

[2017-10-14 12:05] alanz commented on #328
I agree

But there are a number of dependencies that are not yet on stackage, and I am waiting for them.

Most notably are `cabal-helper` and `ghc-mod`, which are still in the process of being updated for GHC 8.2.1 and Cabal 2.0, which brought some pretty big changes.

[2017-10-14 20:03] nponeccop opened #331 "No completion in Neovim"
I have neovim + deoplete + LanguageClient set up, and completion works with TypeScript LSP server.

However, it doesn't work with haskell. E.g.

[code]
Then try adding an import and nothing happens. The HIE diagnostic log says that completion RPC is received (actually 2 of them - one with "autosave on click" and one with completion position) but nothing happens.

I already checked that hie is star

[2017-10-14 20:10] nponeccop opened #332 "Build fails if happy is not on the PATH"
Even `stack install happy` is not enough, unless you add ~/.local/bin to the PATH.

I think it's a problem with one of the dependencies which doesn't use proper `build-depends` and `build-tools` but tries to run `happy` in a legacy way.

So at least the build instructions should be updated.

[2017-10-14 22:01] Anrock commented on #331
`:call LanguageClient_setLoggingLevel('DEBUG')` and restart LanguageClient, then check LanguageClient.log, maybe something there.

[2017-10-14 23:35] nponeccop commented on #331
It didn't help however it seems `hie` writes more than one log. I found `/tmp/LanguageServer.log` (in addition to the main `-d -l` log which says

[code]
followed by instructions on how to setup the environment so `cabal-helper-wrapper` can be found.

Am I supposed to have `cabal-helper-wrapper` executable on PATH when I run hie? I was under impression that all I need is `hie`

[2017-10-14 23:47] Anrock commented on #331
Maybe on current master, i don't know. At least few commits back hie only was enough.

[2017-10-14 23:53] nponeccop commented on #331
I'm actually using e3f921df897e7a5f4fe33da000b0eb70664c8c47

[2017-10-14 23:57] Anrock commented on #331
Yeah, that one works for me without cabal-helper-wrapper. Could you post LanguageClient/Server logs?

[2017-10-15 00:08] nponeccop commented on #331
Are versions of Cabal supposed to match? hie was built with 2.x but `stack new` uses the last lts snapshot.

The logs are:
- `-d -l` log: https://pastebin.com/VcpQ7yfx
- /tmp/LanguageClient.log:
[code]
- /tmp/LanguageServer.log:
[code]

[2017-10-15 11:24] AlexeyRaga opened #333 "Compilation error on ghc-mod"
I am getting this error when compiling the latest HIE (mac os):

[code]

It looks like the `Setup.hs` is from `ghc-mod`, `c9b209c08779b2166300dc2ec69d7f5bb2955eb3`, branch `hie-integration-rebased-split-up-2`

[2017-10-15 15:08] halhenke commented on #333
Same thing on High Sierra OS X

[code]

[2017-10-15 18:25] DanielG commented on #333
I guess this is a preprocessor error, not sure why else `#!` would be a parse error. GHC itself seems to ignore that just fine. Since ghc-mod's `Setup.hs` doesn't mention `{-# LANGUAGE CPP #-}` it shouldn't be filtered through CPP at all though.

My guess is this is a stack bug since it looks like they're doing something weird: `-main-is StackSetupShim.mainOverride` in the output above.

[2017-10-16 02:33] AlexeyRaga commented on #333
It actually does mention `LANGUAGE CPP`:

[code]

[2017-10-16 13:30] DanielG commented on #333
Ah! I forgot about that, thats in the `ghc802` branch. I'll just remove that shebang then.

[2017-10-16 16:06] varosi commented on #328
Great!

[2017-10-16 17:49] alanz opened #334 "Update README with sublime text instructions"
Via @nh2 on IRC/Matrix

As for instructions, I just installed the "LSP" Sublime plugin (which is maintained here: https://github.com/tomv564/LSP), opened its settings, and wrote this config:

[code]

[2017-10-16 17:57] nh2 commented on #334
Example screenshot that shows an error highlighted: ![Example screenshot](https://user-images.githubusercontent.com/399535/31627058-36ab251a-b2ac-11e7-937c-3318794cdf7b.png)

[2017-10-16 22:28] nh2 commented on #117
Here's a newer version of above snippet that works on top of HIE commit cc71e5bd and nixpkgs `release-17.03` (https://github.com/NixOS/nixpkgs/commit/1e30a7c6170a469b36186ad210f7a52532d6ba4e):

[code]

[2017-10-16 22:45] nh2 commented on #117
I'm having trouble getting `ghc-mod` when called by HIE to work inside `nix-shell`:

[code]

[2017-10-17 19:24] IvanMalison commented on #308
As things currently stand, right? Or is there a major technical limitation you have found that would prevent making this sort of information accessible with changes to GHC? It seems like it should be possible to simply add this information to the .hi files, although I can imagine that such a change might be met with quite a bit of resistance for one reason or another.

Like most emacs useres, I ab

[2017-10-18 18:04] xgrommx opened #336 "Type holes"
Hello @alanz How about add support for type holes? This is really helpful thing

[2017-10-18 19:29] paparga opened #337 "Multiple errors, can't get it working"
Hi, I don't know what I'am doing wrong, I installed accordingly to readme.

**My machine configuration:**
[code]
**First errors:**
[code]
**Multiple errors when a file is loaded, one example**
[code]

**On textDocument/hover:**
[code]

Anyone knows what is happening?

[2017-10-18 21:05] xgrommx commented on #336
@alanz looks like it supported now?
![brainfuck hs app10 2017-10-19 00-02-38](https://user-images.githubusercontent.com/1499594/31742679-025de430-b461-11e7-9cf8-22062da62caf.png)
I built a new version of hie and got it! But maybe will be better use some more better user interface for it

[2017-10-20 00:37] IvanMalison commented on #82
Has this still not happened?

[2017-10-20 00:42] IvanMalison opened #338 "Add Emacs Support to README?"
Is there a reason that emacs support is not mentioned in the README.

It seems that @vibhavp is actively developing https://github.com/emacs-lsp/lsp-haskell

[2017-10-20 06:07] alanz commented on #82
Waiting for a later version of ghc-mod to be published.

At the moment hie uses a lot of stitched-together dependency packages, from git repos.

[2017-10-20 23:34] Anrock commented on #300
Latest buildable: 9a00bc84a3

[2017-10-23 09:40] csi-adziahel commented on #333
/cc @alanz

[2017-10-23 10:02] alanz commented on #333
Will rebase my ghc-mod branch

[2017-10-23 10:02] BjornMelgaard commented on #336
What about showing possible functions, that can fill type hole, based on current import list?

purescript has this feature

[2017-10-23 11:15] kRITZCREEK commented on #336
@BjornMelgaard GHC will get a version of this feature in 8.4, but it can't be implemented inside editor tooling since it needs access to the typing judgements of the type checker.

[2017-10-23 11:21] BjornMelgaard commented on #336
@kRITZCREEK wooooow O_O, thanks)

[2017-10-23 11:42] alanz commented on #333
See https://github.com/alanz/haskell-ide-engine/tree/ghc-mod-mac

[2017-10-23 15:29] csi-adziahel commented on #333
@alanz that fixes it, thanks!

[2017-10-24 06:23] traytonwhite opened #340 "Issue with cabal-helper and scope: field"
Hello,

After running:

[code]

I keep encountering the following error:

[code]

Not sure how to resolve this - or what other information you may need. I was able to install `hie` about a month or so ago using the same steps above.

Version of my `stack` is below:

[code]

This is running on Mac OS X. I don't think I have any other custom options.

Thank you!

[2017-10-24 06:51] alanz commented on #340
That is actually a benign warning, and a result of cabal-helper having to be buildable with many different cabal/ghc versions

[2017-10-24 16:45] traytonwhite commented on #340
Ah! I didn't even realize it was just a warning - seemed so ominous. Thank you!

[2017-10-24 16:45] #340 closed

[2017-10-25 04:34] sword865 commented on #337
I got similar error on mac:

[code]

[2017-10-25 04:36] pythonissam commented on #322
I'm also facing a similar issue. When a mouse pointer hovers somewhere on the main window,
the OUTPUT tab is focused mandatorily like below and I can't use other tabs comfortably. Can anyone help?

Thank you.

![focuses_output](https://user-images.githubusercontent.com/13606968/31980733-84be9050-b989-11e7-86e3-9cddee01c150.png)

[2017-10-25 05:58] saurabhnanda commented on #337
Some config file is missing the hlintOn key, from what the error message it
saying.

On 25-Oct-2017 10:04 AM, "Howie Tien" <notifications@github.com> wrote:

I got similar error on mac:

[Error - 12:28:31] haskell-lsp:Got setTraceNotification ignoring
[Error - 12:28:31] haskell-lsp:didChangeConfiguration error.
NotificationMessage {_jsonrpc = "2.0", _method =
WorkspaceDidChangeConfiguration, _para

[2017-10-25 09:06] alanz commented on #337
Sorry, my bad. Please try https://github.com/alanz/haskell-ide-engine/tree/wip to sort out the config message missing field problem

[2017-10-25 11:02] #333 closed

[2017-10-25 11:04] #320 closed

[2017-10-25 14:50] 9b17fe opened #342 "hie times out, when moving over package names"
When I move over the package names in an import statement (~10 times), hie times out
and doesn't respond anymore.
Steps to reproduce:
- Use this minimal emacs config: https://gist.github.com/9b17fe/ef870e9c948cfb7d7e2a3bf70fe6415f
- https://github/alanz/lsp-mode async branch
- `stack new hie-bork protolude`
- `emacs hie-bork/app/Main.hs`
- Move the cursor to the first letter of the package name in

[2017-10-26 00:13] #337 closed

[2017-10-27 08:46] Tehnix opened #343 "Ready for langserver.org?"
I was wondering if it would make sense to document HIE on http://langserver.org for Haskell. That would also make it a bit easier to track the progress of which features are implemented etc.

I would be more than happy to do it, though I'm a bit unsure as to how far the progress is atm. It's a simple PR to https://github.com/langserver/langserver.github.io.

Listed are (I've checked off what I cou

[2017-10-27 13:05] alanz commented on #343
Looks good, and yes, please do so.

FYI, it is also listed on https://github.com/Microsoft/language-server-protocol/wiki/Protocol-Implementations

[2017-10-27 13:08] alanz commented on #342
@9b17fe See https://github.com/alanz/haskell-ide-engine/tree/fast-hover, and for emacs https://github.com/alanz/lsp-mode/tree/async

[2017-10-28 09:16] Tehnix commented on #343
@alanz awesome!

PR tracked in https://github.com/langserver/langserver.github.io/pull/53. Once it's closed I'll close this one as well :)

[2017-10-28 10:08] 9b17fe commented on #342
Sorry for the late reply, like I said in IRC, this fixes the lag/time out. :+1:

[2017-10-28 10:08] #342 closed

[2017-10-30 03:06] Tehnix opened #344 "Integration with Nuclide (Atom editor)"
As shortly discussed with @JonCoens in #311 and over Twitter, this ticket is to track the progress of integrating HIE into Nuclide and to let others join if they want :)

The goal is to create a [nuclide-language-service](https://github.com/facebook/nuclide/tree/master/pkg/nuclide-language-service). From what I can gather the part that'll require some work is the RPC part that allows the integrati

[2017-10-30 17:34] varosi commented on #300
[code]

[2017-10-30 17:40] Anrock commented on #300
Instructions are ok, dependencies aren't. See https://github.com/DanielG/cabal-helper/pull/36

[2017-10-30 18:10] JonCoens commented on #344
The combination of [nuclide-ocaml-rpc](https://github.com/facebook/nuclide/tree/master/pkg/nuclide-ocaml-rpc) and [nuclide-ocaml](https://github.com/facebook/nuclide/tree/master/pkg/nuclide-ocaml) could also be a good starting point.

From my initial perusing, I find `codeAction`s out of Nuclide to never get a response from `hie`, and initializing a directory does not build anything.

[2017-11-01 00:34] MaxGabriel opened #346 "Configuration of Brittany"
Afaict, when used by HIE Brittany does not respect the configuration in `~/.brittany/config.yaml`. Could Brittany be made configurable by HIE or used in such a way that the configuration file is respected? This change may be best done in the Brittany library itself

[2017-11-01 02:00] MaxGabriel commented on #346
Ok, it looks like Brittany reads config values [`in Main.hs`](https://github.com/lspitzner/brittany/blob/5a12b630351695004d24daea58ded23cf7b44bbd/src-brittany/Main.hs#L293-L306).  @lspitzner How would you feel about a pull request which moved the `readConfigs` code into an exported module, so that tools like haskell-ide-engine could use it? It seems best for users that tools using Brittany have th

[2017-11-01 08:51] #334 closed

[2017-11-01 13:30] lspitzner commented on #346
Seems reasonable.

With `readConfigs` you currently have to either pass non-null list of potential config locations manually or the behaviour depends on the current working dir. The latter is probably not a good idea, if users have per-project config but `hie` only has once common instance. So i propose the slightly more involved:

- expose a variant of `readConfigs` that never depends on `cwd`;
-

[2017-11-04 05:01] Tehnix commented on #343
PR was merged, so I’m gonna close this :)

[2017-11-04 05:01] #343 closed

[2017-11-04 07:44] alanz commented on #343
Nice, thanks.

On 4 November 2017 at 07:01, Christian Kjær <notifications@github.com>
wrote:

[2017-11-07 13:01] Anrock commented on #300
@alanz https://github.com/DanielG/cabal-helper should build again on Windows since https://github.com/DanielG/cabal-helper/commit/eb178a5ba4c9432e951b6c206f8baf21257ecb28

[2017-11-08 02:04] Arulselvanmadhavan commented on #338
+1 for emacs support.

[2017-11-09 00:51] Tehnix commented on #315
@xldenis were you able to check if the above works for you?

[2017-11-09 20:42] xldenis commented on #315
It doesn't sorry, I don't have that issue. Mainly because I _am_ using cabal 2.0 and ghc 8.2.1. I believe I need to wait for the new version of `cabal-helper` to be released.

[2017-11-10 17:11] michael8090 commented on #329
any update here?

[2017-11-10 18:04] alanz commented on #329
I lost track of this, tbh. Sorry.

I will see what I can do this weekend.

[2017-11-10 21:09] Anrock commented on #329
@alanz so i've managed to build HIE using master DanielG/cabal-helper on Windows (just changed git link and added `semigroupoids-5.2.1` to `extra-deps` in `stack.yaml`, can make a PR).

Since latest Windows-buildable commit HIE paths had improved!
Was: `file:///C:\\Users\\Anrock\\Desktop\\test.hs`
Now: `file:///c%3A/Users/Anrock/test.hs`
Sadly, diagnostics in neovim still don't work :(
I guess tha

[2017-11-10 22:20] Anrock commented on #329
And my little investigation goes on. I've managed to find a place where windows paths are processed:
`src/Language/Haskell/LSP/TH/DataTypesJSON.hs` in https://gitlab.com/alanz/haskell-lsp.
Looks like [this commit](https://gitlab.com/alanz/haskell-lsp/commit/6b9923f56c86cbd63e9b887d6603602605be7e2a) added `%3a` piece, so i replaced it back with `:` and removed `toLower` of drive letter. Hlint error

[2017-11-11 04:36] Tehnix commented on #338
If it works I'd say let's add it to the README. I do wish the install instructions were a bit better though, so even emacs newbies (like myself) could follow a bit more easily. I also think it is worth to add explicit instructions on how to make it work with something like Spacemacs, since that very often gets recommended in the Haskell community, I feel like.

@IvanMalison Is that something you w

[2017-11-12 00:30] Anrock commented on #329
Little update.
I've traced temp path source to `hie-ghc-mod/Haskell/Ide/GhcModPlugin.hs#setTypeCheckedModule`. It cames from `GM.getTypecheckedModuleGhc' (myLogger rfm) fp` call, which returns a bunch of diagnostic messages for `fp` (file path, i guess). While `fp`  is correct, diagnostics are returned with uri pointing to temporary file.
Now i'm going to investigate ghc-mod (oh god) to determine

[2017-11-12 00:56] IvanMalison commented on #338
@Tehnix Maybe, but I actually haven't yet managed to get this working very well. From https://github.com/emacs-lsp/lsp-mode/graphs/contributors
It seems that @vibhavp and @alanz have done the most work on lsp-mode. There is also https://github.com/emacs-lsp/lsp-haskell, and it seems that this was recently updated with a significant change in https://github.com/emacs-lsp/lsp-haskell/commit/b4c84e48

[2017-11-12 08:57] alanz commented on #338
I am getting close to using this in my day-to-day work, and I set it up according to the README on  https://github.com/emacs-lsp/lsp-haskell.

But this is all on the back burner at the moment, as I focus on some GHC stuff, as there is a deadline approaching.

[2017-11-12 10:20] IvanMalison commented on #338
@alanz I guess my question is whether the emacs support is "ready enough" to be listed on the README.

[2017-11-15 05:20] waddlaw opened #350 "hie doesn't start with vscode."
Hello.
I usually using `vscode + hie` but It stopped working recently.

`output` pane was displayed like below;

[code]

How can I solve it?

## Environments

- vscode:  `1.18.0`
- Haskell Language Server extension: `0.0.5`

[code]

Thank you.

[2017-11-15 05:41] wz1000 commented on #350
Does your project build with stack? (i.e does `stack build` work)

It seems like ghc-mod is not able to find the ghc binary stack is using.

[2017-11-15 08:05] waddlaw commented on #350
I solved it maybe.

My project was enable `docker integration build` of `stack` (`stack build --docker`), because of to use database.Once disable it, above error fixed.

[2017-11-15 09:54] waddlaw commented on #350
How to use `hie` in docker build?
Not supported yet?

[2017-11-15 11:33] Anrock commented on #329
@alanz i'm kinda stuck.
I think `rfm` doesn't return mapped file and returns argument as is. And i can't find a way to check this - can't write to hie log from ghc-mod and can't find how to access `getMMappedFiles` in hie code. Any advice?

[2017-11-16 11:16] alanz commented on #329
I am impressed at your progress with this.  I will be updating hie shortly to use the newer cabal-helper, and will take a look at this.

But it is hard for me, not being on windows.

[2017-11-16 11:23] Anrock commented on #329
@alanz we can catch up on irc and do a live debugging session, for example

[2017-11-16 17:11] chshersh opened #353 "Use 'hie' as a library or installed executable: Type Checking"
I have a file with Haskell source code. I want to type check this file. In my case it means that I want to annotate each value with corresponding type. So later I can ask for type of any value.

Unfortunately, I cannot find documentation for how to do this :(

So any help is appreciated! Even if you just point to related functions that can help me a lot! :blush:

[2017-11-17 17:24] IronGremlin opened #354 "Vscode : Apply Hint having trouble with guards"
On windows 10, using VSCode, and having built HIE using most recent pull request -

Using apply hint seems to have some trouble when functions with guards are defined after the target of the hint.

See this [gist](https://gist.github.com/IronGremlin/4f5fdb4c1bec458cf3efd74ecb05f4ac) for an example of the behavior.

I haven't been able to isolate any specific behaviors, but, off the cuff, it really

[2017-11-18 01:17] xldenis commented on #315
From what I understand this means that HIE is not compatible with GHC 8.2.1? At the very least, it's not compatible with any stackage release that includes 8.2.1 and therefore Cabal-2.0

[2017-11-18 01:52] xldenis commented on #315
Updating to latest master seems to have fixed this issue! 😄

I have new issues but I'll open up threads for those separately.

[2017-11-18 01:52] #315 closed

[2017-11-18 02:07] xldenis opened #355 "HIE seems to stop working on some projects"
I've noticed that on some of my projects HIE seems to not do anything after displaying diagnostics once.

I'm using Sublime Text with the LSP plugin (latest version 0.4.0) and latest master `Version 0.1.0.0, Git revision 9e39517408fd2948c60ac49e56267c93051f8878 (1066 commits) x86_64`.

I turned on all the debug options available in LSP and it produces this:

[code]

It's almost as if HIE stops res

[2017-11-18 02:09] xldenis opened #356 "HIE code actions seem to not work"
I can't tell if this is a Sublime side problem or an HIE one (or both!).

When I do manage to get HIE to respond, it correct suggests code hints like so:

![image](https://user-images.githubusercontent.com/451373/32975975-5a23cb7e-cbd3-11e7-8db4-52f1f93c27cc.png)

But when I attempt to apply them it causes a new tab to a file called `changes` to get opened up.

![image](https://user-images.githubu

[2017-11-18 15:28] alanz opened #357 "Nix / Nixos support"
See https://github.com/NixOS/nixpkgs/issues/31697

[2017-11-18 15:33] mrkgnao commented on #357
Here are two logs with `hie --lsp --vomit`. I generated a `hie` executable from the Nix derivation in the linked thread, using `nix-build`, and put it on my `$PATH` as `real-hie`. I then made a wrapper script called `hie`:

[code]

The first one is from a `nix-shell`+Cabal project, where VSCode was started from inside a Nix shell.

[code]

The second one is a Stack project with `nix: {enable: true

[2017-11-18 15:44] alanz commented on #357
Please show the contents of `/tmp/hie.log`

[2017-11-18 16:44] mrkgnao commented on #357
So the problem in the Stack project turned out to be the old `ghc-mod` `dist/setup-config` thing, and deleting the `dist/` folder fixed it.

The Nix project, on the other hand, seemed to be an incompatibility in GHC versions. I compiled `hie` from source using `stack-8.2.1.yaml`. Here's the output from VSCode:

[code]

[2017-11-19 18:59] robinvd commented on #355
I have the same problem, it happens on a project with just cabal (no stack or stack.yaml file). It indeed displays correct error messages once. I will post my logs later

[2017-11-19 19:14] xldenis commented on #355
Interesting, I use stack for everything.

[2017-11-19 20:57] xldenis commented on #356
The author of LSP has reported this is a problem on their end. Closing this issue.

[2017-11-19 20:57] #356 closed

[2017-11-20 09:23] alanz opened #358 "Report when dist and .stack-work exist"
`ghc-mod` has a heuristic to choose between cabal and stack based projects.

This is (partly) based on the presence of a dist dir, which is taken to indicate a cabal project.

Issue a warning message on startup if both `dist` and `.stack-work` are present in the project root.

[2017-11-20 14:03] michael8090 commented on #329
Thanks for your quick response, now it can build on windows!

I've spent the whole weekend on trying to setting up a decent hasekll developing environment on windows for learning the language but with no luck. This is the only thing I feel comfortable to work with. Great job!

[2017-11-20 14:33] alanz commented on #329
But it is still giving the incorrect path in error messages?

[2017-11-20 16:57] Anrock commented on #300
@varosi current master should be buildable on Windows.

[2017-11-20 16:59] Anrock commented on #329
@alanz yup, still reporting diagnostics for temporary ghc-mod file instead of actually edited.

[2017-11-20 17:30] alanz commented on #329
As expected

[2017-11-20 18:19] varosi commented on #300
Great! Thanks! It's working for master 04af8885a89402168cf464b119697d2539df1e61

[2017-11-20 18:19] #300 closed

[2017-11-21 21:02] Anrock commented on #288
@alanz works for me, no error, path is proper.

[2017-11-22 02:19] dfordivam commented on #117
I tried this but on VSCode I get this error

[Error - 11:15:03 AM] Request textDocument/hover failed.
  Message: IdeError {ideCode = PluginError, ideMessage = "getSymbolAtPoint: \"module not loaded\"", ideInfo = Null}
  Code: -32603

And there was one more error reported regarding failure to load .so/.dll for lens library due to undefined data.text.breakOn closure..

Is there a way to debug what i

[2017-11-23 15:28] SirensOfTitan opened #360 "Defaulting to Global Stack Directory If No Local stack.yaml exists"
I want to just edit an adhoc haskell file and get reasonable typehints.

Right now, my file has a dependency on the `cryptonite` library (which is installed globally within stack).   I get an error while importing Crypto.Hash:

[code]

... I had the same issue with ghc-mod in the past and don't quite remember how I fixed it.  I essentially want haskell-ide-engine to fallback to global stack if it

[2017-11-23 17:17] Pitometsu opened #361 "find usages/references"
It's a feature request:
Use something like [haskell-indexer](https://github.com/google/haskell-indexer) to implement functionality such "find usages/references"

[2017-11-24 04:12] xldenis commented on #355
https://github.com/tomv564/LSP/issues/209#issuecomment-346739248

[2017-11-24 04:51] xldenis commented on #319
From what I can tell this issue has been resolved?

[2017-11-24 05:01] xldenis commented on #355
Investigation shows that this is likely this error: https://github.com/DanielG/ghc-mod/issues/586.

I built a version of hie using ghc-8.2.1 by running `stack build --stack-yaml=stack-8.2.1.yaml` which appears to have changed nothing apart from turning up the fan speed on my computer.

If you'd like for me to run any tests I'd be happy to but I don't really know how to move forward from here since

[2017-11-24 06:58] alanz commented on #319
Yes

[2017-11-24 06:58] #319 closed

[2017-11-24 14:11] wpoosanguansit opened #362 "How to check what is wrong with the set up?"
Hi,

I have installed Neovim and HIE with stack --nix.  hie command is in the path and seems to be working fine as I do not see any error.  However, in Neovim things do not seem to be working as there is no highlight or anything showing hints or error when I open .hs file.  I checked the vim.rc and see that the configuration for HIE is loaded correctly.  Is there any documentation on how to set th

[2017-11-24 16:34] ggVGc opened #363 "hlint config seems to be ignored"
I have a stack project with a .hlint.yaml file at the root, with some warnings disabled. This works fine if I run hlint directly on a file, but when using HIE it seems the configuration is ignored, and I still get all warnings.
I am not sure what other details would be useful.
My simplest .hlint.yaml contains only the line `- ignore: {name: Redundant bracket}` which correctly disables this warning

[2017-11-25 04:41] nponeccop commented on #362
You can
1. Enable the HIE log (see the extra command line options to `hie` below)
2. Use a working lsp server such as the typescript's to see that everything works on neovim side

[code]

[2017-11-25 05:19] nponeccop commented on #331
Current version 04af8885a89402168cf464b119697d2539df1e61 works for me

[2017-11-25 05:19] #331 closed

[2017-11-25 06:26] nponeccop opened #365 "Respect ghc-options"
If I have something like this in `.cabal` HIE outputs the suppressed warnings:

[code]
I.e. `stack build` shows 1 warning but HIE shows a dozen

[2017-11-25 06:37] nponeccop opened #366 "Faster completion"
While exact criteria is hard to establish, current 2-4 seconds to complete an identifier or an import on i3-4004U CPU seems too slow to me to be useful. This type of slowness is inherited from ghc-mod, I think. So something should be done with the completion performance once HIE is feature-complete, as now people can type faster than complete.

[2017-11-25 06:46] nponeccop opened #367 "Implicit forall"
Now neovim displays `print` in completion dialog as

[code]
Why not cut the `forall` for rank-1 types? It takes space in the list of completions so the signature gets truncated:
[code]
Also I wonder if it's feasible to suppress module names as well if someone wants to see longer signatures at the cost of less info.

[2017-11-25 11:17] ggVGc commented on #366
I'm not sure how much could be done here? There's already caching going on, which to me improves things a lot. But haskell is inherently a slow language to compile(well, not compared to C++...).
I wouldn't think it comes fomr ghc-mod, but rather from actual ghc. There might be something to be done by using ghc options?

[2017-11-25 12:06] wz1000 commented on #366
To be honest, the completion system needs a complete rework. It is slow and buggy, and also can be a lot smarter(module and pragma completion, taking into account local definitions, whether it is a type or value completion etc.)
I suspect using a data structure like a prefix tree might also speed it up a lot, as currently it is O(n) in the number of symbols in scope(which can be huge if you have a

[2017-11-25 12:08] wz1000 commented on #365
I believe https://github.com/DanielG/ghc-mod would be a better place to report this issue.

[2017-11-25 12:46] nponeccop commented on #366
@ggVGc Completion speed doesn't depend on compilation speed in a perfect world :) You just return stale results from the previous compilation immediately instead of starting compilation and waiting for it to complete.

Also, ghc front-end isn't designed with incrementality in mind, and a lot can be done there to speed it up by avoiding repeated work.

[2017-11-25 12:52] nponeccop commented on #365
Done: https://github.com/DanielG/ghc-mod/issues/918

[2017-11-25 13:11] wz1000 commented on #366
@nponeccop @ggVGc yes, compilation speed shouldn't be the cause here as we are processing the cached compilation data.

However, compilation does add a fair amount of sluggishness to HIE, because of the single threaded IDE service provider process, which is responsible for executing all requests and does so in a blocking manner.

Requests that trigger recompilation are much slower than all other r

[2017-11-25 13:30] nponeccop opened #368 "Report more HaRe commands in capabilities response"
Currently only 1 HaRe command is reported in capabilities response:

[code]

I couldn't make it working from neovim though, but it works if I run `ghc-hare` executable manuall.

[2017-11-25 13:37] nponeccop opened #369 "'key "languageServerHaskell" not present' error in WorkspaceDidChangeConfiguration"
Neovim displays the following message on start and HIE keeps working seemingly normally:
[code]
From the HIE log I can see that it sends it using `window/logMessage` in responce to the following:

[code]

[2017-11-25 13:45] nponeccop opened #370 "no handler for textDocument/references"
When I try to use references in neovim (through `:Denite references`) it crashes with this message:

[code]

Is it an issue of HIE or of the neovim LSP client which sends a message for a capability not advertised?

[2017-11-25 14:08] wz1000 commented on #370
Project wide references haven't been implemented yet. use
textDocument/documentSymbol for references in the file.

On 25 November 2017 at 19:15, nponeccop <notifications@github.com> wrote:

[2017-11-25 20:02] nponeccop commented on #370
I've read the spec more carefully and it seems that `textDocument/references`  is a capability of LSP 2.0 and we can only opt out of 3.0 capabilities.

So is it a good idea to provide a stub implementation returning no references so the clients expecting it to be implemented as per the spec (e.g. neovim) don't crash?

[2017-11-26 13:16] Nostradamos opened #372 "cabal-helper build fails"
Cloned latest commit (6f46f1a62cae837bf4c3d317fadbd8c93539fb40)
but `stack install` fails on this error:
[code]

[2017-11-26 17:57] DanielG commented on #365
@wz1000 this is not cool. Don't just redirect users upstream without doing any triage. Please come back with a test case or reproduction instructions relevant to ghc-mod.

[2017-11-26 20:17] nponeccop commented on #365
I couldn't reproduce the problem with `ghc-mod check`: it properly reports 1 warning.

[2017-11-27 02:00] wpoosanguansit commented on #362
Thank you.  Let me try that.
    On Friday, November 24, 2017, 11:41:51 PM EST, nponeccop <notifications@github.com> wrote:

You can

   - Enable the HIE log (see the extra command line options to hie below)
   - Use a working lsp server such as the typescript's to see that everything works on neovim side
let g:LanguageClient_serverCommands = {
    \ 'haskell': ['hie', '--lsp', '-d', '-l', '/home/

[2017-11-27 04:40] nponeccop opened #375 "Use severity:3 (info) for hlint errors and warnings"
Now it uses warnings (severity:2) so hints and warnings are blended together in neovim.

[2017-11-27 05:25] nponeccop commented on #375
severity:4 is used correctly for hlint "hints". However, hlnt warnings use the same severity as ghc warnings. I think we could use severity: 3 (info) for hlint errors and warnings.

[2017-11-27 06:16] #363 closed

[2017-11-27 06:19] #365 closed

[2017-11-27 06:33] alanz commented on #372
What operating system are you on?

[2017-11-27 06:35] alanz commented on #350
Nope, not yet.

Perhaps create a new issue that it should be supported.

It is actually one of the original goals of hie, given that the ide can talk via a protocol.

[2017-11-27 06:41] alanz commented on #375
Makes sense.

Would you be interested in making a PR? It is quite straightforward.

[2017-11-27 09:58] waddlaw opened #376 "feature request: stack build --docker support"
Relevant to [#350](https://github.com/haskell/haskell-ide-engine/issues/350#issuecomment-344491805).

Currently, not supported `stack build --docker` yet.
Occurs error like this.

[code]

I hope that will be implemented this feature.

[2017-11-27 10:03] waddlaw commented on #350
@alanz Thank you for your reply.
I made new issue [#376](https://github.com/haskell/haskell-ide-engine/issues/376).

[2017-11-27 10:03] #350 closed

[2017-11-27 20:56] Ciantic commented on #306
See this: https://github.com/lspitzner/brittany/issues/4

What does Format Document does to you? To me it adds newlines on every line with Windows 10 as well.

[2017-11-28 07:18] #375 closed

[2017-11-28 17:15] falsandtru commented on #372
I got a similar error these last few days.

[code]

I resolved this by using lts-9.14.

[code]

[2017-11-28 21:08] nponeccop commented on #372
@Nostradamos can you try building now and confirm that the issue is fixed?

[2017-11-29 16:37] Fresheyeball opened #380 "Doesn't work with cabal projects"
The README.md is contradictory. In the Features section it says

but the editor integration section says

Please make editor integration work outside of stack, as some of us are using different build tools such as cabal and nix.

[2017-11-29 23:45] Tehnix commented on #380
Actually, it's not, the first is about what `hie` supports, and the second is just an assumption that you built `hie` itself, using one of the two suggested methods, which both use `stack`. The editor integration as such should work with no need for stack :)

Are you saying you would like for another way to build the binary?

[2017-11-30 00:15] nponeccop commented on #380
Technically you still can build the library with a pure cabal, just you need to build all the deps manually, and there may be version mismatches.

[2017-11-30 09:14] alanz commented on #380
We have a lot of custom dependencies on specific git repos/commits.

Stack allows us to capture this, other methods do not.

If anyone wants to make a PR for nix support matching what is in the stack files, or set up a script to make a sandbox or some such for cabal, I will gladly merge it.

And having a git repo/commit is my number one request for cabal projects.

[2017-11-30 18:18] Fresheyeball commented on #357
I have but a bounty on this issue. https://www.bountysource.com/issues/51713360-nix-nixos-support would love to see this resolved ASAP.

[2017-12-01 16:12] alanz commented on #369
Are you still seeing this? It was fixed a while back, please check against current master

[2017-12-01 17:58] nponeccop commented on #369
Yes, it still happens with the current master in `nvim`. Both in nvim `:messages` (see above) and in the hie log (below):
[code]

[2017-12-01 18:09] alanz commented on #369
Can you post a bigger chunk of the log? From hie startup to that point.

On 1 December 2017 at 19:58, nponeccop <notifications@github.com> wrote:

[2017-12-01 18:14] nponeccop commented on #369
[code]

[2017-12-01 18:25] alanz commented on #369
Thanks, I will take a look when I can.

[2017-12-03 12:36] juho-p commented on #372
I also had issues with installing using `stack install`. The following error message was produced:

    --  While building package ghc-mod-5.9.0.0 using:
          /usr/bin/ghc --make -odir /home/juho/build/haskell-ide-engine/.stack-work/downloaded/0ctJ1Puyy1Om/.stack-work/dist/x86_64-linux/Cabal-1.24.2.0/setup -hidir /home/juho/build/haskell-ide-engine/.stack-work/downloaded/0ctJ1Puyy1Om/.stack-w

[2017-12-03 20:01] nponeccop commented on #372
It isn't normally required. But our circleci.yml uses a different approach due to caching needs. Maybe @alanz could test a clean build with instructions from Readme and see if the problem can be reproduced.

Also, @juho-p, what does `stack --version` show? If it's less than 1.5.1 you need a newer stack.

[2017-12-03 20:08] juho-p commented on #372
`stack --version` shows `Version 1.1.2 x86_64 hpack-0.14.1`, which I guess is too old? Even with this stack version, `hie` seems to work at least for my basic use case, which is very nice.

[2017-12-03 20:13] alanz commented on #372
What I have found is that stack does not always deal gracefully with git-style dependencies and sub-projects.

So if my build goes funny like that, I will first do

[code]

From the main project directory

[2017-12-03 20:22] falsandtru commented on #372
I've also run `$ rm -rf .stack-work`, before installing.

[2017-12-03 20:26] alanz commented on #372
You need to do the recursive one. Each subproject has a .stack-work too

[2017-12-03 20:29] falsandtru commented on #372
Indeed.

[2017-12-03 21:15] domenkozar opened #381 "Doesn't work with Atom 1.22.0"
Using https://github.com/Tehnix/ide-haskell-hie/ I can observe running hie in process list, but no support in browser (nothing happens on hover).

@alanz says it's line 22 in https://paste.pound-python.org/show/a3JzTsxiZ0bUL7r9swa4/

[2017-12-03 21:25] alanz commented on #370
@nponeccop can you try that branch I just committed. It returns an empty list for now, but will stop any crash at least.

[2017-12-03 21:26] alanz commented on #381
The `workspace/didChangeWatchedFiles` message is not currently handled by `hie`

[2017-12-03 21:53] domenkozar commented on #357
@fresheyeball @imalsogreg do you want to have IDE support for projects using nix-shell/nix-build or is stack+nix enough?

[2017-12-03 21:55] domenkozar commented on #381
@alanz with your branch I'm able to see HIE working in Atom.

[2017-12-03 22:23] domenkozar commented on #380
It should be easily possible with https://github.com/input-output-hk/stack2nix once we squeeze out a few bugs there.

[2017-12-03 22:33] unode commented on #355
I have a similar output with neovim:

[code]

Above was with `Version 0.1.0.0, Git revision 19d5494f519934c0208d6816fcee7545e6aef443 (1092 commits) x86_64` from https://github.com/alanz/haskell-ide-engine/commit/19d5494f519934c0208d6816fcee7545e6aef443

Using current master has the same result.

[2017-12-03 22:33] domenkozar commented on #117
Once we fix https://github.com/NixOS/cabal2nix/issues/313 then https://github.com/input-output-hk/stack2nix could be quick way to achieve this.

[2017-12-03 22:41] ElvishJerricco commented on #117
@domenkozar I'm not sure about stack2nix in this case. I think you really want HIE built with your project's Haskell package set, not the one in this repo's stack.yaml, if for no other reason than to ensure ghc-mod is built with the same GHC version as your project (which may be something exotic, like HEAD or even a fork).

To me this just means we need proper Hackage releases for everything. Once

[2017-12-03 22:44] domenkozar commented on #117
@ElvishJerricco wouldn't it be better to just ship each project with ghc-mod and cabal-helper?

[2017-12-03 22:47] ElvishJerricco commented on #117
@domenkozar I don't understand. What does "ship" mean in this context?

[2017-12-03 22:52] domenkozar commented on #117
We could build hie with stack2nix and then each project can have ghc-mod and cabal-helper in dependency closure.

[2017-12-03 23:02] ElvishJerricco commented on #117
IIRC, hie has a compile time dependency on ghc-mod, since it uses ghc-mod as a library, not an executable. That ghc-mod ought to be one built with your project's GHC version, which sort of mandates that hie be as well.

Regardless, I'm just not seeing a downside to the typical flow of things here. Get it on Hackage, then get it in stable package sets, then it's easy for anyone to drop it into thei

[2017-12-04 01:15] imalsogreg commented on #357
@domenkozar Preferably nix-shell aware; most of my work is on projects with dependencies managed by nix.

[2017-12-04 06:31] nponeccop opened #382 "neovim LanguageClient warns on rootPath and settingsPath"
The former is deprecated, and the later is non-standard. They get logged in LanguageServer.log created at temp folder (`/tmp` on Linux and `%temp%` on Windows):

[code]
from the source it seems it is harmless:

[LanguageClient.py#L103](https://github.com/autozimu/LanguageClient-neovim/blob/0d9a8160bd1eec817c2ca455037951db2605b8e7/rplugin/python3/LanguageClient/LanguageClient.py#L103) called from [

[2017-12-04 06:35] autozimu commented on #382
They’re harmless warnings.

I should have use info instead of warning.

[2017-12-04 06:47] #381 closed

[2017-12-04 06:52] nponeccop commented on #329
I couldn't reproduce the bug with temporary files. I receive normal:

[2017-12-04 07:33] Anrock commented on #329
@nponeccop yay! Which cabal-helper (project, commit) are you using?

[2017-12-04 07:40] nponeccop commented on #370
`:Denite references` doesn't crash anymore. It just displays an empty pane.

[2017-12-04 07:40] #370 closed

[2017-12-04 07:53] nponeccop commented on #329
See the PR. Also check whether you have build failures in `%temp%\LanguageServer.log`

[2017-12-04 10:16] domenkozar commented on #117
@ElvishJerricco I was just talking to @alanz on IRC.

You're right, best is to get hie in hackage. As a stop gap, we could use stack2nix for each stackage LTS.

Then all that's needed to work within nix-shell is some glue, which will pick hie based on some convetion. For example by default it runs `hie`, but if ghc version available is X.X.X, then `hie` tries to run `hie-X.X.X`.

[2017-12-04 13:12] mgsloan commented on #372
`stack clean --full` essentially does recursive removal of all the .stack-work folders.  Stack 1.6.1 should be released in a week, and IIRC, it has some fixes that improve git support

[2017-12-04 15:14] nponeccop opened #386 "cabal-helper requires but doesn't build cabal-install executable"
I hit this problem yesterday while working on #385

But now I remember that it was reproduced by few other people:

@falsandtru at #372
@SirensOfTitan at #360

It seems only to happen with clean builds. I'll try to reproduce it reliably.

[2017-12-04 15:27] nponeccop opened #387 "cabal-helper building progress is on hie's stderr"
While cabal-helper is building its cache ([Runtime/Main.hs](https://github.com/DanielG/cabal-helper/tree/master/src/CabalHelper/Runtime) and its dependencies) the progress is displayed on stderr of our `hie` process. However, we don't seem to report the results correctly so the user experiences a silent failure and has to dig in auxillary logs.

For example we could send a progress notification (`

[2017-12-04 16:12] alanz commented on #387
There is some discussion on the LSP protocol page about a progress message, and I think rust may use it.

I will investigate.  Of course we need to track the state of cabal helper to know that this is happening.

[2017-12-04 16:47] nponeccop commented on #387
We can just use a legacy log message for now if we need to rebuild cabal-helper and if it failed/succeeded

[2017-12-04 16:58] nponeccop commented on #387
Btw here it's how it looks in the test suite:

https://circleci.com/gh/haskell/haskell-ide-engine/98

Note strange "building" starting with "Downloading nightly-2017-06-16" (we don't even use it but it's hardcoded in the cabal helper) in the middle of test suite
[code]

[2017-12-04 22:49] Fresheyeball commented on #357
@domenkozar I don't use `stack`. I'm in the same boat as @imalsogreg.

[2017-12-05 00:34] nponeccop commented on #288
This is a duplicate of #329, it should work now.

@Friede80 can you confirm?

[2017-12-05 00:46] nponeccop commented on #194
The STM issue doesn't happen anymore on Windows 7 x64.

![image](https://user-images.githubusercontent.com/528415/33584073-0932e5a6-d934-11e7-8c24-828235ef8e89.png)

[2017-12-05 01:07] nponeccop commented on #196
Since pipes are normal files with special names, I think we could attack the issue by implementing [named pipes API](https://msdn.microsoft.com/en-us/library/windows/desktop/aa365590(v=vs.85).aspx) in [Win32 library](https://github.com/haskell/win32)

[2017-12-05 01:17] nponeccop commented on #355
@unode can you check /tmp/LanguageClient.log and /tmp/LanguageServer.log for any clues?

@xldenis can you delete the cached cabal-helpers and retry? They are in `~/.cache/cabal-helper/` and ghc-mod rebuilds them if they are not there. Note that we have cabal-helper version updated, so everybody need to regenerate the cache

[2017-12-05 01:22] nponeccop commented on #354
Can you execute `stack install apply-refact` to install refact.exe and use it to apply the refactorings manually?

[2017-12-05 01:26] DemiMarie commented on #196
There is also my SlipRock library (https://github.com/DemiMarie/SlipRock)
which I am working on.

On Mon, Dec 4, 2017 at 8:07 PM, nponeccop <notifications@github.com> wrote:

[2017-12-05 01:35] nponeccop commented on #196
Bringing in `libuv` seems too much to me. Maybe you could help @winterland1989 to finish his work on libuv integration into GHC itself: https://github.com/winterland1989/stdio/tree/libuv/bench/libuv , https://ghc.haskell.org/trac/ghc/ticket/8400

[2017-12-05 04:32] xldenis commented on #355
So far no luck! I've removed the cabal helpers and nothing changed. I'm currently rebuilding from _latest_ master as my previous version was:
[code]

I'm building with `stack build --stack-yaml=stack-8.2.1.yaml`

[2017-12-05 04:43] xldenis commented on #355
Here is a log of me booting up HIE in sublime and waiting for diagnostics to pop up.

[code]

[2017-12-05 05:40] nponeccop commented on #355
From messages like

[code]
it seems we have a racing condition. Hopefully it's just the logger.

The popups come from these lines:

[code]

[2017-12-05 06:07] nponeccop commented on #355
The `showMessage` is emitted from here:

https://github.com/haskell/haskell-ide-engine/blob/master/src/Haskell/Ide/Engine/Transport/LspStdio.hs#L826

and it's sort of failed assertion, so it's good that it's so loud in Sublime.

[2017-12-05 06:27] nponeccop opened #389 "Parallel circleci build"
I have a beta ready on https://github.com/nponeccop/haskell-ide-engine/blob/master/.circleci/config.yml

It fails though but fails in parallel 🥇

https://circleci.com/gh/nponeccop/haskell-ide-engine

![image](https://user-images.githubusercontent.com/528415/33592984-b9bb844e-d963-11e7-88bd-d3805e9c8afe.png)

I will work on it tomorrow

[2017-12-05 07:33] Tehnix commented on #389
Perhaps not the scope of this, but would it be possible to build the binaries for HIE on CircleCI?

[2017-12-05 07:44] nponeccop commented on #389
The script does it (saves the binaries)

[2017-12-05 07:56] Tehnix commented on #389
Awesome! I could imagine that being used to make the setup process super simple then :)

[2017-12-05 09:33] winterland1989 commented on #196
@nponeccop, I'm busy with creating an full stack app these days, i'll come back to I/O topic in next month hopefully.

[2017-12-05 10:39] unode commented on #355
Removed all log files, restarted neovim and this is what I get:

[code]

[code]

`/home/unode/system/bin` is where `hie`'s binary is located. No clue why it would be looking for hlint configuration there.

[code]

[2017-12-05 22:25] nponeccop commented on #389
There's no such thing as cross-distribution linux binary, but with some tricks it could probably work. After all, `stack` managed to get cross-platform `ghc` by building several flavors of it, so we could do the same.

[2017-12-06 03:23] nponeccop opened #390 "HLint and neovim errors"

[2017-12-06 03:24] nponeccop commented on #390
@unode wrote:

I have a similar output with neovim:

[code]

Above was with `Version 0.1.0.0, Git revision 19d5494f519934c0208d6816fcee7545e6aef443 (1092 commits) x86_64` from https://github.com/alanz/haskell-ide-engine/commit/19d5494f519934c0208d6816fcee7545e6aef443

Using current master has the same result.

[2017-12-06 03:32] nponeccop opened #391 "Giant popup in Sublime"

[2017-12-06 03:32] nponeccop commented on #391
@xldenis wrote:

So far no luck! I've removed the cabal helpers and nothing changed. I'm currently rebuilding from _latest_ master as my previous version was:
[code]

I'm building with `stack build --stack-yaml=stack-8.2.1.yaml` and that produces a binary:

[code]

Wow! it doesn't crash now but leads to an almost _worse_ error...
![image](https://user-images.githubusercontent.com/451373/33590258-c

[2017-12-06 03:35] nponeccop commented on #391
From messages like

[code]
it seems we have a racing condition. Hopefully it's just the logger.

The popups come from these lines:

[code]

[2017-12-06 03:39] nponeccop commented on #355
Since the original issue is gone and now we have 2 different issues, I'm closing this issue. I created 2 issues and pasted the relevant info there:

- #391 for @xldenis issue
- #390 for @unode issue

@robinvd if you still have any issues please open a new issue (or reopen this one)

[2017-12-06 03:39] #355 closed

[2017-12-06 15:21] xldenis commented on #391
My suspicion is that it's improperly building the executable as if it's the only targget...

[2017-12-06 19:36] xldenis commented on #391
I build my project iwht `stack build` and the error never happens.

[2017-12-06 23:53] lspitzner commented on #306
Having tested `brittany` in isolation (both executable and library), it seems unlikely that `brittany` is the cause for this issue. At worst, it might replace `\r\n` with `\n`. I have not attempted to reproduce via HIE. I think a good next step would be to replace `brittany` with some "identity formatter" in the plugin and see how that behaves.

[2017-12-07 16:41] taktoa commented on #117
Going back to the issue I originally raised, I think it might actually be advantageous _not_ to use `haskell-process-wrapper-function`, since I think a lot of the brittleness involved in running processes under emacs could be entirely avoided if there were some way to run the server separately, and just have emacs connect to it.

Ideally, you could have multiple instances of the server open, and t

[2017-12-07 22:27] mkunikow commented on #372
Hi,
I have the same issue and stack clean --full does not help.

[code]

[code]
[code]

[2017-12-07 23:42] stellarhoof opened #393 "Hoogle lookups not working on local db"
As per the README I've tried:
[code]
I've enabled logging but it (unhelpfully) shows the same information as in the popup in VSCode:
[code]
Then on trying
[code]
I get
[code]
which makes sense. It's using the local db. However on opening `https://github.com/dhall-lang/dhall-haskell/blob/master/src/Dhall.hs` and trying to get the type for `Control.Applicative` doesn't work.

`hoogle --version` retu

[2017-12-08 00:02] stellarhoof commented on #393
Also hovering on `atomically` on `src/Haskell/Ide/Engine` doesn't return documentation like in the gif in the README.

[2017-12-08 07:58] mgsloan commented on #372
It is a bad sign that cabal-helper wants to run cabal.  Generally, I find that cabal-helper and ghc-mod are messy and fragile, but that's another topic.  You might have success doing

[code]

To install the `cabal` program.

[2017-12-08 11:32] wz1000 commented on #393
@alanz changed the hover request to immediately respond even if a recompile
is in progress. However this meant disabling documentation lookup due to
some technical issues. I am working on getting this re-enabled ASAP.

On 08-Dec-2017 05:12, "Alejandro Hernandez" <notifications@github.com>
wrote:

[2017-12-08 12:02] alanz commented on #393
Speed, accuracy. Choose one :)

[2017-12-08 13:10] AlexeyRaga commented on #393
1. Make it work
2. Make it beautiful
3. Make it fast

;)

[2017-12-08 13:20] alanz commented on #393
Actually the  docs are always accurate, it is just where they come from, whether a bigger or smaller db is consulted.

[2017-12-08 17:30] nponeccop commented on #372
The question is how we fix that once and for all. Is there anything we can do to improve dependency management in `cabal-install` so it installs `cabal-install` the way build tools dependencies are installed?

[2017-12-08 17:44] alanz commented on #372
I'm pretty sure that one of the things cabal-helper is supposed to do is to make sure that an appropriate version of cabal is available.

Ping @DanielG

[2017-12-08 17:46] damienflament opened #394 "Help packages maintainer"
Hi!

I added an [haskell-ide-engine package](https://aur.archlinux.org/packages/haskell-ide-engine/) to the ArchLinux User Repository. But your git repository has not any tags to fix the version source code state, even if [the Cabal package is tagged as 0.1.0.0](https://github.com/haskell/haskell-ide-engine/blob/701723324eef5101a0c1bbcfac0d58d6ffaaaef0/haskell-ide-engine.cabal#L2).

I will be help

[2017-12-08 18:11] DanielG commented on #372
@mgsloan it is perfectly alright for cabal-helper do want to run `cabal`, we use it to download and install the Cabal library if needed. This isn't technically necessary for stack since we always ought to have the right version of cabal lying around somewhere but no-one ever wrote the code path to short circuit all the install logic for stack. In fact I noted this before: https://github.com/Daniel

[2017-12-08 19:59] nponeccop commented on #372
Is it possible to ensure that `cabal-install` is installed before `cabal-helper` by the means already available in `.cabal` and Cabal-the-library?

See https://github.com/haskell/cabal/issues/220
and https://www.haskell.org/cabal/users-guide/developing-packages.html (`build-tool-depends`)

Also I wonder if just adding `cabal-install` to dependencies, build-tools  and/or `setup-depends` will help u

[2017-12-08 20:07] nponeccop commented on #394
There is a concept of `-git` packages in AUR. At this point (haskell-ide-engine doesn't have stable releases yet) you should add `haskell-haskell-ide-engine-git` instead. See (https://aur.archlinux.org/packages/haskell-haskell-src-exts) for why 2 times haskell.

Also I wonder what happened to `cblrepo` tool? Is it used in any way these days?https://github.com/magthe/cblrepo

[2017-12-08 20:18] DanielG commented on #372
The dependency on the `cabal` executable is declared in [Setup.hs](https://github.com/DanielG/cabal-helper/blob/master/Setup.hs#L38) but that only applies to `Cabal < 2` so I guess we should probably add cabal to `build-tool-depends` actually.

[2017-12-08 20:26] damienflament commented on #394
In the official ArchLinux repositories, only Haskell libraries are prefixed with _haskell_. Executable tools are not. This prefix is always used in the ArchHaskell repository.

Concerning _cblrepo_, I don't see any reason to use it as you use Stack to manage building. So the building process is quite simple. Maybe I'm wrong ?

Concerning the _git_ package, you're right.

Thanks !

[2017-12-08 21:14] #394 closed

[2017-12-08 23:04] damienflament commented on #267
![hie-logo](https://user-images.githubusercontent.com/2023682/33788723-13946ae0-dc74-11e7-8c43-efc2944d6aad.png)
I just tweaked the original Haskell logo.

What do you feel about that one ? Not really innovative. But maybe a starting point ?

[2017-12-09 01:32] waddlaw commented on #267
I'm very interested in this! What is the concept of the logo?
Must include `λ`? :)

[2017-12-09 02:50] nponeccop commented on #267
I like the `>λie` logo above

[2017-12-09 03:02] nponeccop opened #395 "Cabal-helper uses older snapshots for its runtime part"
It appears that circleci builds use inconsistent snapshots. Below is an excerpt from build 100, `stack test -j 2 haskell-ide-engine` step. You can see that "runtime" cabal-helper and/or `testdata` package is built using `nightly-2017-06-16` while its `library` part uses `lts-9.14` (which is correct).

[code]

[2017-12-09 03:42] nponeccop commented on #389
![image](https://user-images.githubusercontent.com/528415/33792245-ef6eb84e-dc70-11e7-953e-67f107cdd60a.png)
Finally all 3 builds are green. Few issues related to caching remain.

- [ ] Hoogle generate is not cached
- [ ] Stack upgrade --git is not cached (should we attempt to install the latest stack at all?)
- [ ] There is no clear mechanism to update caches. Ideally we should use whatever cache

[2017-12-09 08:51] alanz commented on #267
@waddlaw No specific concept, but should be "relevant" in some way.

And @damienflament 's one is definitely a candidate.

So perhaps let us know if you want to make an attempt, and we will wait for it and then do a small poll on it.

[2017-12-09 09:14] damienflament commented on #267
@waddlaw The concept is simply to take the two lines present in the Haskell logo, add a third one to make a _E_. Then add another one vertically to make the _I_.

![haskell_logo](https://user-images.githubusercontent.com/2023682/33794292-1e989790-dcc9-11e7-9ce5-5c47d72200fe.png)

![hie_logo_without_point_on_i](https://user-images.githubusercontent.com/2023682/33794298-464cc734-dcc9-11e7-9300-75f9c

[2017-12-09 09:40] damienflament commented on #267
@alanz I'm not really happy with the current logo. But currently I have not any new idea to improve it. A poll may reveal some talented people and new idea.

It lacks colors ! I will think about it. Then I will give you a SVG file.

[2017-12-09 10:46] damienflament commented on #267
Here some colour variations:
### 1. [Thompson Wheeler](https://wiki.haskell.org/ThompsonWheelerLogo)
![hie_logo](https://user-images.githubusercontent.com/2023682/33794855-5136d666-dcd4-11e7-96aa-9b60d91a34a9.png)

### 2. [Haskell website](https://www.haskell.org/static/img/haskell-logo.svg)
![hie_logo_haskellweb](https://user-images.githubusercontent.com/2023682/33794943-ed65d356-dcd5-11e7-8ddd-7

[2017-12-09 10:52] saurabhnanda commented on #267
Any examples of other LSP implementations with a logo
​

[2017-12-09 11:23] mgsloan commented on #267
I like it!  I'm no longer very involved with this project unfortunately, but that looks pretty good to me.  Might be interesting to play around with making the E backwards like mathematical existentials

[2017-12-09 11:31] Tehnix commented on #267
@saurabhnanda I checked out all LSP servers on https://langserver.org, and couldn't find a single one that had it, at least not on their frontpage.

I think this is because the servers are usually subprojects of something else, and therefore hasn't required an identity. HIE on the other hand is a bit more grand unifying, and I think it makes sense here :)

Personally I like the yellow `iE` in 5.,

[2017-12-09 11:42] damienflament commented on #267
@Tehnix

![hie_logo_haskellweb_yellow](https://user-images.githubusercontent.com/2023682/33795262-64fe6538-dcde-11e7-9274-25223ea428f2.png)

[2017-12-09 11:47] Tehnix commented on #267
@damienflament I like it! It kinda feels like the `iE` is sneaking up behing the lambda :)

[2017-12-09 11:57] damienflament commented on #267
@mgsloan

![hie_logo_there_exists](https://user-images.githubusercontent.com/2023682/33795375-7257c81c-dce0-11e7-8454-287014d02540.png)

[2017-12-09 12:01] Tehnix commented on #322
@pythonissam the output tab problem was solved in later version of the HIE VSCode plugin :) Can't comment on the `hare` problem though :/

[2017-12-09 12:08] damienflament commented on #267
@saurabhnanda Maybe we need to find a symbol which express the concepts behind the LSP. Then haskellify it.

I don't find anything relevant has LSP is just implementing standard code editor features to an external process and allow communicating using JSON-RPC.

[2017-12-09 12:37] alanz commented on #395
When you change some deps (like cabal-helper), you have to manually "run without cache", to restart the build clean.

[2017-12-09 12:54] damienflament commented on #267
Here the SVG file: [HIE_logo.svg](https://gist.github.com/damienflament/6f8a1b43386157f36881b3f70a9bc232#file-hie_logo-svg)

[2017-12-09 14:17] alanz commented on #267
This stuff is looking really great.

What is the next step?  How do we make a decision?

[2017-12-09 14:18] Tehnix commented on #267
Twitter poll, with it being linked on /r/haskell (can reddit do polls?)? Or just make up a decision here, since I don't think anyone will have much against it :)

[2017-12-09 14:30] alanz commented on #267
There is also the danger of bikeshedding, which can send it off into endless delay/stupidity.

Maybe we should just list this thread, and ask people to give reactions on the individual ones as listed. With that emoji thing GH now has.

[2017-12-09 14:31] alanz commented on #267
Except we would have to break https://github.com/haskell/haskell-ide-engine/issues/267#issuecomment-350448770 out into its component parts.

[2017-12-09 14:54] damienflament commented on #267
I created an **[open images poll](http://www.anonvote.com/poll/dr587990y)**.

Not any subscription required. You can share it on Twitter and Reddit.

What do you think about it ?

N.B: The poll allow to vote for multiple images. But this feature can be disabled.

[2017-12-09 15:12] alanz commented on #267
Looks great, time to publicise it

[2017-12-09 15:13] alanz commented on #267
I will send a mail to haskell-cafe, and link it on reddit

[2017-12-09 15:21] alanz commented on #267
Done, at https://www.reddit.com/r/haskell/comments/7in9ab/haskellcafe_haskell_ide_engine_logo_poll/

[2017-12-09 16:04] nponeccop commented on #395
ok I've initiated build 101 to see

[2017-12-09 16:11] nponeccop commented on #322
[code]
HIE doesn't use ghc-mod executable (it uses it as a library) so this part is irrelevant.

@homam @pythonissam  Can you retest with current hie and VSCode extension?

[2017-12-09 17:38] soylens opened #396 "applyHint doesn't support CRLF files"
Applying HLint suggestions malfunctions. Logging shows that `applyHint`'s output is malfunctioning.
Related:https://github.com/alanz/vscode-hie-server/issues/33

[2017-12-09 18:02] soylens opened #397 "Formatting Document adds blank lines to CRLF separated files"
Using with VS code Integration
Each time I do the Format Document, a blank line is added between the neighboring 2 lines(including the blank lines previously inserted during the same process)

[2017-12-09 18:37] lspitzner commented on #397
most likely duplicate of #306.

[2017-12-09 19:15] hanjoosten commented on #350
I have the same issue. I have built hie, and it definetly is in my path. However, when I start code, I get the error message:

![image](https://user-images.githubusercontent.com/1159672/33798646-cad5181e-dd1c-11e7-9a9e-afcb2915c614.png)

If I start hie from the console, I get the following output:

[code]

I'm on Windows 10. There is no ghc-mod, but stack build works fine

Any ideas?

[2017-12-09 19:38] nponeccop commented on #350
Stack doesn't use `ghc-mod` executable, `hie.exe` is enough.

The problem is not in hie-engine, but in Typescript code of hie-server:

https://github.com/alanz/vscode-hie-server/blob/a8cc80783ea8133e42747b1f5c623a38a1acd8f0/src/extension.ts#L121-L126

`which` is not present on Windows, and even on Linux/MacOS something less fragile should be used.

Interestingly there are already such modules on `

[2017-12-09 20:00] hanjoosten commented on #350
Thanks for these suggestions! On my windows machine, I copied where.exe to which.exe . This did the trick for me.
Of course this is only a workaround. Other people could benefit from this, while there is no fix on Windows.

[2017-12-09 20:07] theindigamer commented on #267
@damienflament , maybe have i∈ instead of iE or i∃ (which looks like i3)? I think the three lines (plus diagonal instead of verticals) look much cooler than the joined thing, so something like (the lengths of the arms can be tweaked...)

[code]

[2017-12-09 20:22] nponeccop opened #398 "Support snippets"
https://github.com/Microsoft/language-server-protocol/blob/master/snippetSyntax.md

They are a part of LSP protocol and a requested feature of vscode-hie-server:

https://github.com/alanz/vscode-hie-server/issues/32

[2017-12-09 20:45] nponeccop commented on #395
**Update:** The inconsistency is still there in https://circleci.com/gh/haskell/haskell-ide-engine/101. It's a clean build and you can check that "no cache is used" during `Restoring cache` step.

[code]

Probably we should ask @DanielG to see if it's normal and safe behaviour or it's problematic.

[2017-12-09 21:08] nponeccop commented on #395
Here they are:

https://github.com/haskell/haskell-ide-engine/blob/72516f9e5a38f4964be62bfb89565ea83869ca43/test/TestUtils.hs#L71-L75

[code]
Should I change them to the respective resolvers we use for 8.2.2, 8.2.1 and 8.0.2? Is there a non-fragile way to avoid such hardcoding?

[2017-12-09 23:20] nponeccop commented on #395
Although the build is not yet complete, the fix worked:

[code]
Note that there are no "downloading snapshot" messages unlike in the beginning of this thread.

[2017-12-10 02:32] soylens commented on #306
It seems this is a problem with the vsCode integration, not the HIE server

[2017-12-10 02:32] soylens commented on #397
This is likely a problem with vsCode Integration

[2017-12-10 02:59] soylens commented on #396
Likely a problem with vsCode Integration

[2017-12-10 03:51] soylens opened #400 "HIE depends on hlint.yaml and cabal-helper-wrapper in its build dir"
Following the installing instructions, the hie ends up using libraries in the project direcotory(i.e. <hie_project_dir>/.stack_work), supposingly they should be installed to the global stack project(i.e %STACK_ROOT%/snapshots)
This causes duplicating libraries in both locations, which is space ineffecient

[2017-12-10 03:58] nponeccop commented on #400
Hie is linked statically. That is, the libraries aren't used at runtime, everything is in `.local/bin/hie`.

Many libraries are installed at .stack_work, because they don't belong to snapshots. But %STACK_ROOT%/snapshots should still contain some 350+ libs.

For 32-bit 8.0.2 check for example snapshots/i386-linux-nopie/lts-9.14/8.0.2/lib/i386-linux-ghc-8.0.2/ folder. It contains some 300 libs.

[2017-12-10 03:59] soylens commented on #400
When i renamed the hie project directory, hie ended up not functioning
How is that supposed to be?

[2017-12-10 04:04] soylens commented on #400
btw are you really sure?
cuz i got only 190 lobs in the snapshot

[2017-12-10 04:09] nponeccop commented on #400
I think 190 libs are normal. I may have libs there from other projects as well on my system. For most functions of hie to work you need only `hie.exe` on your %PATH%.

What exactly stopped working?

[2017-12-10 04:15] soylens commented on #400
So im using the VS code integration.
when i rename the dir,
Linting stops working, ghc-mod doesnt respond, formatting doesnt work, go to def doesnt work even in the same file
basically the server doesnt respond anything and nothing works
I can chenk more if you could tell me where the log lies or how to work woth HIE under command line

[2017-12-10 04:16] soylens commented on #400
Is it normal that with all libs statically linked, hie.exe is still only 119MB large?

[2017-12-10 04:23] nponeccop commented on #400
Yes, the static libs due to various historical and performance reasons use a very inefficient format, so a very little fraction of them is the code - the rest are section headers and so on.

119 is normal. 32-bit stack on linux is 44MBs.

You can check dynamic dependencies of a windows exe using this tool: http://dependencywalker.com/.
On linux it's `ldd`.

[2017-12-10 04:27] nponeccop commented on #400
The log is in `%temp%\hie.log` on Windows.

To work with command line run `hie.exe --lsp` and see if it crashes or not. In this configuration it doesn't create any logs but VS code plugin passes extra arguments.

`ghc-mod` must work with only `hie.exe`, so let's focus on it.

[2017-12-10 04:35] soylens commented on #400
The DepVerifier shows some dlls in c:\windows and some not found api-ms-....dll and ext-ms-....dlls

[2017-12-10 04:39] soylens commented on #400
It doesnt crash, and when run in command line, the output didnt change
The only difference is that it doesnt respond to the addons

[2017-12-10 04:50] soylens commented on #400
I cannot find hie.log under %temp%

[2017-12-10 05:01] soylens commented on #400
https://gist.github.com/soylens/30096602d210e73793810fab1e117602

[2017-12-10 05:17] soylens commented on #400
@nponeccop

[2017-12-10 06:25] soylens commented on #400
Is there an operation to "merge" the project to the global project?

[2017-12-10 06:25] nponeccop commented on #400
It's 2 am here. Talk to you tomorrow :)

Both of your logs contain bad uris:

[code]
There is `f%3A` instead of correct `F:`. This is a manifestation of a bug in `haskell-lsp`. The bug was fixed in https://github.com/alanz/haskell-lsp/pull/63 but it hasn't been merged yet. @alanz?

The issue you experiences is a duplicate of #329. We'll update everything soon.

[2017-12-10 06:28] soylens commented on #400
Are you sure this is the cause?

[2017-12-10 06:31] nponeccop commented on #400
I'm sure that `%3a` causes big problems. But I'm not sure that this `%3a` bug is the only problem you have. Let's fix it and see

[2017-12-10 06:40] soylens commented on #400
So do I have to do `stack clean` or whatever before building the later HIE upon update?

[2017-12-10 06:41] nponeccop commented on #400
`git pull` and `stack install` is enough

[2017-12-10 06:43] soylens commented on #400
Thx have a good sleep

[2017-12-10 08:07] soylens commented on #400
I just noticed that the code range of the diagnostics were L20C0 to L20C100000, this might be the cause for another of my issue

[2017-12-10 08:28] alanz commented on #395
Because the resolvers affect the GHC used, they have to be hardcoded like that for the tests, unfortunately.

We should perhaps add a comment in the stack-XXX.yaml files to remember to update the test file when changing the resolver.

[2017-12-10 08:35] alanz commented on #400
HIE installs a whole lot of stuff into the project `'stack-work` directory because it is using git-based dependencies for some things, and these go in the local directory.

Once all the dependencies are in a stackage snapshot, this will cease to be a problem.

[2017-12-10 09:05] nponeccop commented on #395
I was thinking of parsing the three `stack.yaml` or something like this. Are you not merging?

[2017-12-10 09:07] alanz commented on #395
How? We need to support GHC 8.0.2, 8.2.1, 8.2.2

Each needs its own snapshot, its the way stack works.

[2017-12-10 09:12] nponeccop commented on #395
I mean like this:

[code]
Note `readResolverFrom $` and `IO String`.

[2017-12-10 09:14] alanz commented on #395
Because then you end up cloning a whole bunch of git repos into the test
subdirs.

On 10 December 2017 at 11:12, nponeccop <notifications@github.com> wrote:

[2017-12-10 09:47] nponeccop commented on #395
I still don't understand :(

The new code is equivalent in external behaviour to the old one. Except that "resolver: nightly-2017-06-16" string is defined in one place instead of two places.

readResolverFrom parses the argument file (stack.yaml or stack-8.2.2.yaml) and returns the resolver string, just like it does now.

[2017-12-10 09:55] wz1000 commented on #393
I've got hoogle working with async on my branch now!

https://github.com/wz1000/haskell-ide-engine

It will be merged into this repo in a couple of days.

[2017-12-10 09:58] soylens commented on #400
Is it planned to be uploaded to the hackage tree any sooner?

[2017-12-10 10:05] alanz commented on #395
I missed the `readResolver` bit.

And after I replied I thought that something like it would be the way to go.

Does such a thing exist?

[2017-12-10 10:06] alanz commented on #400
That's why I am currently focusing on `cabal-helper`. It is blocking a `ghc-mod` update, which is blocking `HaRe` and `HIE`

[2017-12-10 10:06] waddlaw commented on #267
![hie-logo](https://user-images.githubusercontent.com/24648398/33803859-e76268fe-dddc-11e7-83c2-fee0c24f7d6d.jpg)

@alanz @damienflament
How is this?

[2017-12-10 10:12] nponeccop commented on #395
It doesn't exist yet but I can use https://hackage.haskell.org/package/yaml library (the same one Stack uses) to correctly parse the `resolver` root-level key. Then I only need some plumbing to pass IO effect from `setupStackFiles :: IO ()`. If you agree it should be an easy endeavor.

[2017-12-10 10:13] alanz commented on #395
Please do, it will definitely simplify things

[2017-12-10 10:14] nponeccop commented on #267
IMO too many details. It won't look good as an icon.

[2017-12-10 10:24] mkunikow commented on #372
`stack install cabal-install` fixed problem, thank you so much for help

[2017-12-10 10:41] MitchStevens commented on #267
That circular overlay is good though, keep working on simplifying the design and it'll be a ripper!

[2017-12-10 11:05] damienflament commented on #267
@waddlaw

It's **Haskell IDE Engine**. It's a Language Server, not an IDE !

Your logo stands for an Integrated Development Environment.

[2017-12-10 11:18] soylens commented on #400
So I just checked and all packages pulled by git during `stack install` are in the hackage tree. So i suppose what you mean is that due to compatability issues, hiw uses outdated versions of those packages?

[2017-12-10 11:34] soylens commented on #400
@alanz BTW is Cabal-helper still alive? It stopped updating into Hackage since Jan 2017 and seems to be failing the builds for quite a time.

[2017-12-10 12:28] alanz commented on #400
yes, see https://gitlab.com/dxld/cabal-helper/pipelines and https://github.com/DanielG/cabal-helper/network

[2017-12-10 12:41] soylens commented on #400
Thx, I'll keep myself updated to this

[2017-12-10 14:50] waddlaw commented on #267
Oh, I see. Thanks.
`HIE` is Haskell Ide Engine. OK, I'll try fix.

[2017-12-10 16:48] #395 closed

[2017-12-10 17:10] stellarhoof commented on #393
@wz1000 Does it have a way of getting the fully qualified name of the identifier? It'd be great if I could go straight into `hoogle --info` instead of getting a list of candidates.

[2017-12-10 21:38] owiecc commented on #267
![hie](https://user-images.githubusercontent.com/6896639/33809665-d5107bfa-ddfa-11e7-85e7-6c3d118302e1.png)

[2017-12-11 01:50] nponeccop commented on #329
Current status of this bug is that we wait for various fixes if @wz1000 to be merged, and then we'll see what to do with https://github.com/alanz/haskell-lsp/pull/63 which fixes this incorrect `%3a` escaping

[2017-12-11 06:07] alanz commented on #267
@damienflament , can you add @owiecc 's one to the poll?

[2017-12-11 09:15] damienflament commented on #267
@alanz the poll can't be modified until created. We need to create a new one.

Maybe should we wait for the end of the current poll.

Then we make a new one with the winner and the those new proposals: @owiecc one, @waddlaw one if  he modified its actual logo to better match HIE, and any other proposal done until Friday.

[2017-12-11 11:29] alanz commented on #267
Ok, makes sense.

[2017-12-11 13:29] damienflament commented on #267
A variation of my logo proposal (idea from fredefox on Reddit):

![hie_logo_little_i](https://user-images.githubusercontent.com/2023682/33833355-ae43be58-de7f-11e7-9ccc-6cee49223fb0.png)

[2017-12-11 16:04] soylens commented on #396
Logging shows that `applyHint`'s output is malfunctioning, which leads us back here

[2017-12-11 16:05] soylens commented on #396
See https://gist.github.com/soylens/0a790bf1c719a829d7c3def391ec2bf2

[2017-12-11 18:40] owiecc commented on #267
![hie cross](https://user-images.githubusercontent.com/6896639/33847513-0dc77ccc-deab-11e7-9b69-b52b3e9c3a63.png)

[2017-12-12 01:36] nponeccop commented on #396
Note that the `hie` of @soylens is also affected by the `%3a` issue. A fix for which exists https://github.com/alanz/haskell-lsp/pull/63 but not yet merged in `haskell-lsp` which is a dependency of `hie`. I can create a fork of `hie` which uses the patched `haskell-lsp` so we can see if it helps.

[2017-12-12 10:12] wz1000 commented on #393
@stellarhoof it does tell you the package and module the symbol comes from.

[2017-12-12 12:07] soylens commented on #396
what has been the reason to delay the merge? is something failing with `wz1000's async stuff`?

[2017-12-12 13:09] soylens commented on #396
so I cloned myself a HIE source and added ```haskell
liftIO $ logm $ "applyHint:commands=" ++ show commands
[code]
which is either a problem of HIE or apply-refact's `applyRefactorings`

[2017-12-12 20:02] nponeccop commented on #396
The @wz1000 PR was not ready until today: https://github.com/haskell/haskell-ide-engine/pull/403

[2017-12-12 22:51] nponeccop commented on #369
It still happens on @wz1000 branch

[2017-12-12 23:21] nponeccop opened #406 "getCompletions: module not loaded"
On @wz1000 branch in Neovim LanguageClient I get:

[code]
and few of the errors of #369 and #390

Neovim apparently doesn't react on `publishDiagnostics` messages from HIE. I'll investigate and keep you informed.

[2017-12-13 03:07] soylens commented on #396
It could also be apply-refact that malfunctions

[2017-12-13 09:39] lettier commented on #267
![haskell-ide-engine-logo-david-lettier](https://user-images.githubusercontent.com/1661343/33931843-49c1cf60-dfbf-11e7-8ec1-486bc0268d49.png)

:+1:

[2017-12-14 05:03] saurabhnanda opened #409 "Bullet-proof installation instructions"
Over the past week I've directed 4 newbies in my team to the HIE installation instructions and all 4 of them messed it up. I'm just opening this as a reminder for myself. I plan to figure out what went wrong a raise a PR to fix this.

[2017-12-14 06:14] saurabhnanda commented on #409
Okay, this is what I have, till now. Is this acceptable for a PR: http://www.vacationlabs.com/haskell/environment-setup.html#installing-vscode-hie

[2017-12-14 13:19] waddlaw commented on #267
![hie](https://user-images.githubusercontent.com/24648398/33994178-d8d8fc42-e11c-11e7-89f0-585a12b06b30.png)

[2017-12-14 13:23] saurabhnanda commented on #267
Absolute random thought -- how about renaming to Haskell IDEntity and
building the brand around that?

[2017-12-14 15:45] saurabhnanda commented on #267
It's a word play. **IDE**ntity. And the fact that it's going to be the
underlying base for multiple IDE plugins.

Another option could be insIDE

On 14-Dec-2017 7:44 PM, "Damien Flament" <notifications@github.com> wrote:

[2017-12-15 06:27] alanz opened #410 "New LSP features"
See https://code.visualstudio.com/updates/v1_19#_language-server-protocol

"The language server protocol was extended with the following new feature: a completion context given access to the trigger character, more completion item and symbol kinds as well as markdown support for completion items and signature help. The protocol additions are available in the 4.0.0-next.x version of the client and

[2017-12-15 06:39] alanz commented on #389
Nice.

See also https://github.com/haskell/haskell-ide-engine/pull/408

[2017-12-15 07:12] nponeccop commented on #389
Yep. I'll rebase tomorrow

[2017-12-15 07:30] nponeccop commented on #406
It seems that the neovim LanguageClient switched to a Rust-based wrapper, so now nvim starts Python, Python starts Rust and Rust starts Haskell

The new version produces yet another set of errors :( E.g.

[code]

[2017-12-15 10:39] xgrommx opened #411 "Problem with installing a new version of HIE"
Hello @alanz I have some problem with installing a new version of HIE. Here my terminal
[code]

[2017-12-15 10:46] alanz commented on #411
master has switched the default `stack.yaml` to be one using GHC 8.2.2

The old behaviour can be had by

[code]

[2017-12-15 11:36] xgrommx commented on #411
@alanz What is difference between 8.0.2 and 8.2.2 for HIE? Maybe some interesting features?

[2017-12-15 12:06] alanz commented on #411
Basically the same.

The main thing is that the GHC hie was installed with must match the GHC used in the project you are using hie on.

Otherwise it will not be able to load the project and provide information about it.

[2017-12-15 13:16] alanz commented on #267
Ok, by my clock the poll has closed, with the consistent winner being the first one.

@damienflament can you set up another one with that and the new entries, some time?

[2017-12-15 17:31] sniperrifle2004 opened #412 "Memory characteristics questions"
I have a stack project, which defines a bunch of simple executables (~20). I use atom with atom-ide-ui as a client to hie. Now hie's memory usage starts out quite normal (~150MB), but as I open more of the executables source files the memory usage shows an alarming growth rate reaching over 2GB of usage when most of them are opened and after a while it can more than double that again (What activit

[2017-12-15 18:37] nponeccop commented on #411
@xgrommx You need a new version of Stack, too.

[2017-12-15 21:16] damienflament commented on #267
As the poll may not be persistent, the results are below:

Total votes: **578**

Rank | Preview | Votes | Rate (%)
------|------|--------|------
**1** | ![hie_logo_haskellweb](https://user-images.githubusercontent.com/2023682/34060284-4a352c14-e1e3-11e7-92e7-d693835ce4ca.png) | **223** | **39**
2 | ![hie_logo](https://user-images.githubusercontent.com/2023682/34060279-49266040-e1e3-11e7-9183-4728b

[2017-12-15 21:24] damienflament commented on #267
@waddlaw , @lettier and @owiecc please share a PNG file with a height of 128 px for each logo you want to be added to the poll.

You can submit many logos. The poll will allow multiple votes for each participant.

Thanks !

[2017-12-15 21:45] owiecc commented on #267
![hie cross 128](https://user-images.githubusercontent.com/6896639/34061477-d80adc0a-e1e8-11e7-82cb-d18c2d1d4699.png)
![hie ribbons 128](https://user-images.githubusercontent.com/6896639/34061478-d8244e56-e1e8-11e7-93c7-7867189c1bb9.png)
I modified them quickly for 128px. I kept the canvas square as a logo will probably be used in that context most of the times.

[2017-12-15 23:40] damienflament commented on #267
@owiecc It's up to you. But by doing that you added space on top and bottom of the logos. This make them look smaller.

[2017-12-16 00:28] lettier commented on #267
Hello @damienflament

# 1

![haskell-ide-engine-engine-no-border-lettier](https://user-images.githubusercontent.com/1661343/34065213-c6ef6b4a-e1cd-11e7-84e0-c8824cd0565d.png)

# 2

![haskell-ide-engine-engine-border-lettier](https://user-images.githubusercontent.com/1661343/34065220-d4a9215e-e1cd-11e7-96d9-e4927c3d6b63.png)

# 3

![haskell-ide-engine-gears-lettier](https://user-images.githubuserco

[2017-12-16 05:44] waddlaw commented on #267
@damienflament

![logo](https://user-images.githubusercontent.com/24648398/34067664-a6b84296-e26f-11e7-8cce-5eba89382e20.png)

[2017-12-16 09:05] gareth-rowlands-akqa commented on #267
My 2c:

I like @lettier option 2. Visually, it's an engine. With lambdas.

I prefer it to logos that include "HIE" or "IE". When the project uses words and letters, I think "Haskell IDE Engine" is best - that name was quite carefully chosen. To me, "IE" is Internet Explorer. And "HIE" is the Highlands and Islands Enterprise, the birth defect Hypoxic Ischemic Encephalopathy, or an archaic verb mean

[2017-12-16 11:14] nponeccop commented on #267
I'm a non-native speaker and to me `hie` looks just another short name in `/bin` not used elsewhere :)

[2017-12-16 13:02] garethrowlands commented on #267
@nponeccop I think `hie` is perfectly reasonable as the name for the binary. I was just trying to justify my preference for a graphic in the logo rather than the acronym. Sorry if I sounded rude.  (I posted under gareth-rowlands-akqa).

[2017-12-16 15:35] soylens commented on #396
@nponeccop Do you have any idea to this problem?
I recompiled with ghc8.2.2 and those udpated git repos but it still is there, i

[2017-12-16 21:31] nponeccop commented on #396
We should ask the authors. Also, can you check that `%3a` is fixed?

[2017-12-16 21:38] nponeccop commented on #400
@soylens Can you reproduce the issue and recollect the logs with updated `hie`?

Note that it only makes sense to use the 8.2.2 version if your project is 8.2.2 too - ghc versions must match

[2017-12-17 01:15] damienflament commented on #267
The new poll is available here: http://freeonlinesurveys.com/p/Cw1FRJ2G?qid=1017541

[2017-12-17 05:38] pythonissam commented on #322
@nponeccop Cool! It's working nicely. Thank you!

[2017-12-17 13:37] soylens commented on #400
BTW what I did were mostly standalone files.
I did as you said. the parts of applyHints didnt change(as expected for the recent updates didnt touch these parts), so I wouldnt bother typing in the same thing again. Although some new DocumentHeight info emerge, I wouldnt take them as related to this issue.

[2017-12-17 13:38] soylens commented on #396
It didnt when I built yesterday. Per what you said, and it holds for now, the fix for `%3a` is yet still not merged.

[2017-12-17 13:44] soylens commented on #396
With the newest version, the parts of applyHints didnt change(as expected for the recent updates didnt touch these parts), so I wouldnt bother typing in the same thing again. Although some new DocumentHeight info emerge, I wouldnt take them as related to this issue.

[2017-12-17 13:45] soylens commented on #400
Nope, it still doesnt work unless the build dir remains in place.

[2017-12-17 15:05] soylens commented on #396
Im building with the version pulled at UTC+8 23:00 17.Dec

[2017-12-17 15:08] soylens commented on #396
BTW why not use resolver set as ghc-*.*.*, using nightly builds constantly creating minor different version changes of the same package in different snapshots

[2017-12-17 15:30] nponeccop commented on #396
https://github.com/haskell/haskell-ide-engine/pull/403 was supposed to fix `3a` without the need for
https://github.com/alanz/haskell-lsp/pull/63 . Do `%3a` problems still happen?

Because we want to avoid daily changes of snapshots. Stability helps with reproduction of bugs.

[2017-12-17 15:36] soylens commented on #396
well, first, YES, `%3a` is still here with me.
And BTW It seems that THIS issue with applying Hints is actually caused by `makeDiffResult`
For I eventually realized to print the `appliedFile`

[2017-12-17 15:41] soylens commented on #396
[code]
so there you go, I think this would help

[2017-12-17 15:44] nponeccop commented on #396
So `appliedFile` is correct, but you use VSCode and the result there is wrong.

[2017-12-17 15:50] soylens commented on #396
Yea, I havnt really read the entire LSP details, but according to my logs, I believe that these things here are packed into a `WorkspaceEdit` and then passed to VS Code. And it seems the diff results, from which the `WorkspaceEdit` is genereated, are mistaken.

[2017-12-17 15:52] soylens commented on #306
have you tried formatting the entire document?

[2017-12-17 15:58] soylens commented on #397
@lspitzner
Most likely not. My issue works like this
1. Blank lines added between every 2 line, regardlessly if they are empty
2. if i'm formatting the entire doc,
            replace the whole doc
   if i'm formatting selection
            replace the selected parts with THE SAME LINES OF the file added blank lines
So I end up with code from somewhere entirely else jumping into my selection and t

[2017-12-17 16:00] soylens commented on #396
It's midnight here, imanna sleep and be looking at these in the afternoon.

[2017-12-17 16:03] nponeccop commented on #397
Can you check the line endings in your files? Does this issue happen with both DOS (CR LF aka `0x0A 0x0D`) and Unix (LF aka `0x0D`) line endings?

[2017-12-17 16:17] lspitzner commented on #397
@soylens that sounds bad indeed. 2) almost sounds like it deserves a separate issue.

[2017-12-18 00:39] meck commented on #406
I tracked this down [here](https://github.com/autozimu/LanguageClient-neovim/issues/213) the message dosen't show up using the latest rust wrapper. However autocomplete almost never works for me, still looking for the source of that problem...

[2017-12-18 00:57] FongHou commented on #391
Same problem in VS Code. I'm using stack 1.6.1 with ghc 8.2.2.

Really a blocker to use HIE, which is awesome! Hope it'll be resolved soon.

Thanks

[2017-12-18 11:52] soylens commented on #396
Confirmed that this is caused by incorrect handling on line endings.
Regardlessly of the settings of VS Code, HIE's linting results are always `\\n`, leading to mistaken diff results.
So the linting only works correctly with UNIX line endings, and the `\\r`s are the cause of missing lines.

[2017-12-18 11:53] soylens commented on #397
@nponeccop Yup confirmed. HIE only work with LF EOLs.

[2017-12-18 12:13] soylens commented on #397
@nponeccop Yup confirmed. HIE only work with LF EOLs because according to the Haskell standards, LF should be used, but however causes problem when doing diffs with files with CRLF EOLs

[2017-12-18 21:49] domenkozar opened #414 "Error out on GHC mismatch"
Given the recent GHC bump to 8.2.x, many people will get mismatches of GHC and currently hie doesn't report this. I suggest it errors out with a clear message.

[2017-12-18 23:16] nponeccop commented on #397
Haskell standards are largely irrelevant because we must support whatever GHC supports. And it works with CRLF/Windows lines just fine

[2017-12-19 02:05] nponeccop opened #415 ""Using ghc-mod from multiple threads" warning"
In the latest HIE/LanguageClient/Neovim `/tmp/LanguageServer.log` (stdout/stderr of `hie` executable) contains the following:

[code]

[2017-12-19 02:18] nponeccop opened #416 ""Didn't get typechecked module" message"
From what I understand the cache of typechecked modules is supposed to be "monotonic": once completion works for a module, it never stops working.

But apparently it's not the case. I load a haskell file in neovim and completion works. But after some time it stops working, and when I try to complete something there is the following message in `hie.log`:

[code]

The message is produced by hie-ghc-

[2017-12-19 03:11] nponeccop commented on #400
okay. I ran `strace` on HIE and found that `hie` actually uses 2 files from its build directory:

1.  `cabal-helper-wrapper` from `$builddir/.stack-work/install/i386-linux-nopie/lts-9.14/8.0.2/libexec/i386-linux-ghc-8.0.2/cabal-helper-0.8.0.0/cabal-helper-wrapper`
2.  `hlint.yaml` from `$builddir/.stack-work/install/i386-linux-nopie/lts-9.14/8.0.2/share/i386-linux-ghc-8.0.2/hlint-2.0.11/hlint.yaml

[2017-12-19 03:25] nponeccop commented on #390
@unode The languageClient.log messages are all harmless:
- The first two indicate that `hie` sends non-standard keys in json data (it does so because vscode does)
- The last one just indicates that `vim completion manager` (which is optional) not installed. The check is done in `LanguageServer` by catching an exception, so the message is ugly.

The hlint message in `LanguageServer.log` is a duplic

[2017-12-19 03:31] nponeccop commented on #406
@meck yes I had to compile the binary manually due to https://github.com/autozimu/LanguageClient-neovim/issues/220 and now it works

[2017-12-19 03:38] nponeccop commented on #369
Works fine with current master fa3a4b12188412bbb86d3273d0c32c13674c2355 after all workarounds (related to neovim) applied.

[2017-12-19 03:38] #369 closed

[2017-12-19 03:49] nponeccop commented on #406
Works fine with current master fa3a4b12188412bbb86d3273d0c32c13674c2355 after all workarounds (related to neovim) applied.

[2017-12-19 03:53] nponeccop commented on #393
@stellarhoof Does this problem still happen after the fixes?

[2017-12-19 04:05] nponeccop commented on #386
#372 is the main issue as discussion with cabal-helper author happens there

[2017-12-19 04:05] #386 closed

[2017-12-19 04:07] nponeccop commented on #362
Closing as there is no feedback and/or actual issue

[2017-12-19 04:07] #362 closed

[2017-12-19 04:11] nponeccop commented on #354
We have recently found out that hints don't work with CRLF files (with Windows line ends).

Can you retest with latest HIE (it changed a lot in the last 14 days) and see if the problem still appears with unix-style line separators?

If the problem disappears then it's a duplicate of #396

[2017-12-19 04:15] nponeccop commented on #324
It works for me now.

@FongHou Can you recheck with last hie? If it still happens, which version of GHC do you use?

[2017-12-19 04:19] nponeccop commented on #306
This is probably a duplicate of #397

@lspitzner can you check that whether the problem happens to LF-separated (unix-style) files?

[2017-12-19 04:22] chris-martin opened #417 "Build fails: "Invalid flag name" with stack 1.5"
This is what I get when I run `stack install --nix`:

[code]

I'm using the latest stack available from nixpkgs-unstable, version 1.5.1

[2017-12-19 04:30] nponeccop commented on #417
We test with the stack you get with `stack upgrade` (currently it's 1.6.1)

[2017-12-19 04:32] chris-martin commented on #417
thanks, I'll fix the docs

[2017-12-19 04:33] nponeccop commented on #82
Is this a duplicate of #328?

[2017-12-19 04:35] nponeccop commented on #417
Is the issue gone with 1.6?

[2017-12-19 04:37] nponeccop opened #419 "Neovim instruction is outdated"
The plugin moved to `next` branch (rust-based), so while the old instruction sort of works, it installs an outdated version full of bugs.

[2017-12-19 04:40] chris-martin commented on #417
It seems to be building with 1.6.1. I'm not sure how to get 1.6.

[2017-12-19 04:43] nponeccop commented on #417
I meant 1.6.1, sorry

[2017-12-19 04:50] nponeccop commented on #382
The problem doesn't happen with the last LanguageClient

[2017-12-19 04:50] #382 closed

[2017-12-19 04:59] #417 closed

[2017-12-19 07:59] xgrommx commented on #411
Thanks @nponeccop and @alanz

[2017-12-19 07:59] #411 closed

[2017-12-19 09:15] stellarhoof commented on #393
Worse, now it's just stuck on `Loading...`. I cannot get any type information whatsoever. Not even for my own project (using VSCode btw). Checking the logs I see `hie: /Users/berserk/.stack/snapshots/x86_64-osx/lts-9.17/8.0.2/pkgdb/package.cache: GHC.PackageDb.readPackageDb: inappropriate type (not enough bytes)`.
Is it relevant that I compiled `hie` with GHC 8.2.2 and it's looking at the pkgdb fo

[2017-12-19 09:58] AlexeyRaga commented on #393
I compile `hie` with GHC 8.0.2 and there is no problem in `Dhall` (or other projects I work with):

![dhall](https://user-images.githubusercontent.com/1394391/34151299-e6861934-e4fe-11e7-9b17-b5573fab3deb.gif)

Perhaps the fact that you use `hie` compiled with a different version of GHC causes the problem.

It would be nice if we could have different executables, like `hie-8.0` and `hie-8.2` and t

[2017-12-19 11:11] soylens commented on #396
Actually I think we can just add `liftM (T.filter (/='\r')) $` to the diff parts cuz VS Code handles EOL converting

[2017-12-19 11:31] soylens commented on #396
It doesnt seem to work though. I rebuilt HIE with updated code but nothing changed. HIE doesnt even say that the build is dirty.
Makes me think. I tested the readFiles(Prelude and Data.Text.IO) in GHCi, and it shows that the EOL is handled automatically, then what is causing this?

[2017-12-19 12:44] soylens commented on #396
My trackdown goes down to a ghc-mod temp directory, in which the `\r\n` is parsed into `\n\n`

[2017-12-19 14:46] nponeccop commented on #393
Yes, `hie` requires GHC version to be the same but doesn't warn about mismatches, see #414.  So rebuild `hie` with `--stack-yaml=stack-8.0.2` and retry

[2017-12-19 14:55] nponeccop commented on #396
I think the long term solution is to properly support all separators everywhere instead of adhoc replacement of `\n` with `\r\n`. However we may want a quick hotfix for now. Any thoughts @alanz ?

[2017-12-19 18:53] stellarhoof commented on #393
I built my project with `8.2.2` and I got mixed results:
If using a global hoogle db:
[code]
I can get info for all the symbols in scope but not for modules such as `Control.Monad`, whereas `hoogle --info Control.Monad` works fine.

However if using a local hoogle db:
[code]
I still get `Loading...`

[2017-12-19 20:05] nponeccop commented on #393
@AlexeyRaga Your screencast doesn't attempt to hover over module names. You only hover over symbols.

[2017-12-19 20:36] srid commented on #391
<img width="1817" alt="screen shot 2017-12-19 at 3 35 41 pm" src="https://user-images.githubusercontent.com/3998/34177663-50a27d76-e4d2-11e7-8098-f83a14bcc19e.png">

I get the same popup in VS Code and it is really annoying as it pops up on every edit.

[2017-12-19 20:38] srid commented on #391
VS Code UI doesn't necessarily lend well to issues like this: https://github.com/Microsoft/vscode-go/issues/998

[2017-12-19 21:16] nponeccop commented on #391
In this case it's a diagnostic which is mistakenly reported to vscode as a message. So it's our guilt, not theirs.

[2017-12-19 21:58] nponeccop commented on #391
Can someone replace `fmServerShowMessageNotification` with `fmServerLogMessageNotification` and report if it helped?

https://github.com/haskell/haskell-ide-engine/blob/fa3a4b12188412bbb86d3273d0c32c13674c2355/src/Haskell/Ide/Engine/Transport/LspStdio.hs#L789-L792

[2017-12-19 22:07] srid commented on #391
@nponeccop Yes, that fixes it!

[2017-12-20 01:33] FongHou commented on #324
latest HIE works for me now. with GHC 8.2.2.

[2017-12-20 02:50] #324 closed

[2017-12-20 16:43] halhenke opened #420 "ghcModPlugin "type" command removed"
Hey,

I'm not completely familiar with how this whole repo fits together but I notice that the `showType` command from https://github.com/alanz/vscode-hie-server no longer works - seems to be due to these changes from #403

https://github.com/haskell/haskell-ide-engine/pull/403/files#diff-7b73da39d2cdccd6267a96bbb00d7fd6L56

I'm just wondering - is there another way that we should try to request t

[2017-12-20 17:19] wz1000 commented on #420
Sorry, I removed it while hacking around a bit, didn't realise anything
used it. I will add it back.

On 20-Dec-2017 10:14 PM, "Hal Henke" <notifications@github.com> wrote:

[2017-12-20 17:23] wz1000 commented on #415
Are you sure there is no other instance of hie running?

[2017-12-20 18:55] Anrock commented on #329
@nponeccop could you please list PRs with 'various of @wz1000' so i can track progress on this?

[2017-12-20 18:58] halhenke commented on #420
Thanks! 👍

[2017-12-20 21:35] stellarhoof opened #423 "Feature request: hover over module names"
This grew out of #393

[2017-12-21 01:50] nponeccop commented on #419
This instruction is not enough to get `hie` working. Because of https://github.com/autozimu/LanguageClient-neovim/issues/220 the prebuilt exe is outdated and doesn't contain the fixes necessary for `hie` to work.

So the user needs to have `cargo` installed and issue `make release` in the plugin folder to rebuild the exe (and also rebuild it on every plugin update until the above issue is resolved

[2017-12-21 01:52] nponeccop commented on #415
I'll keep watching.

[2017-12-21 01:58] nponeccop commented on #329
The 'various fixes' (18 commits) have been already merged in https://github.com/haskell/haskell-ide-engine/pull/403

However the https://github.com/alanz/haskell-lsp/pull/63 is still not merged and neither @alanz nor @wz1000 have replied there.

As a workaround for now you can change `stack.yaml` to use `haskell-lsp` from that branch instead of from hackage.

[2017-12-21 02:01] nponeccop commented on #393
@stellarhoof great!

[2017-12-21 13:08] #420 closed

[2017-12-21 19:23] shlevy opened #425 "HaRe plugin tests fail without cabal-install in PATH"
This causes tests to fail during the build in nixpkgs, where we compile `Setup.hs` directly instead of using `cabal-install` in the generic haskell builder.

[code]

[2017-12-21 19:25] shlevy commented on #425
Also, while debugging this I noticed a PATH search for `stack` as well.

[2017-12-21 19:39] shlevy commented on #357
https://github.com/NixOS/nixpkgs/pull/32947 fixes this I think.

[2017-12-21 19:52] alanz commented on #357
Does anything need to change in https://github.com/haskell/haskell-ide-engine#installation-with-nix because of this?

[2017-12-21 19:56] shlevy commented on #357
@alanz Those instructions are still reasonable for building and installing a local checkout with stack + nix, but end-users will probably want to install from nixpkgs which they can do with my PR. If it would be welcome, I'd be happy to also add nix expressions to make it possible to do a self-contained (not via stack) nix build from a nix checkout.

[2017-12-21 19:58] shlevy commented on #357
Note that there may be some confusion on my part if this addresses the issue here. The idea with that PR is that your nix environment (nix-shell, nix-buffer, whatever) would build haskell-ide-engine with the same haskell package set as your package is using, and that would fix the version mismatch here. But @Fresheyeball is testing to see if that's enough.

[2017-12-21 19:58] Fresheyeball commented on #357
@shlevy would you mind reaching out on slack?

[2017-12-21 20:01] shlevy commented on #357
@Fresheyeball Which slack?

[2017-12-21 20:04] Fresheyeball commented on #357
Idk, I am on fpchat.

[2017-12-22 10:06] nponeccop commented on #419
Ok they were fast to close that issue in the neovim plugin

[2017-12-22 10:06] #419 closed

[2017-12-22 11:28] dingorth commented on #391
@nponeccop Confirmed. It works.

[2017-12-22 22:15] stevenyvr987 opened #426 "haddock error"
I'm getting a haddock error
[code]
It looks like the comment line `-- *` in file hie-build-plugin/Haskell/Ide/BuildPlugin.hs is being interpreted as a section header by haddock, but section headers can't seem to be defined inside code, only at the top-level or within a `module` statement.

Here is a simplified example in a file called x.hs:
[code]
If I process x.hs by haddock, I don't get an error

[2017-12-23 02:20] nponeccop commented on #426
Interestingly we merged https://github.com/haskell/haskell-ide-engine/pull/424/files some time ago

[2017-12-23 08:07] soylens opened #427 "Atom integration currently not working on Windows"
`ide-haskell-hie` states that it has to communicate with HIE using TCP/sockets due to blocking STDIO on windows.
(See https://github.com/Tehnix/ide-haskell-hie/blob/master/lib/ide-haskell-hie.js function `startServerProcess`)
I suppose that https://github.com/haskell/haskell-ide-engine/issues/196 has to do with this.
We better update the README to clarify this. But see VS Code integration works un

[2017-12-23 16:40] meck commented on #416
I've been looking at this as well.  I have the same messages, but I think its related to [Language Client](https://github.com/autozimu/LanguageClient-neovim), it seems to correspond to the errors there:
 `Some arguments are missing, requesting from vim. Keys: ["buftype", "filename", "line"]. Exps: ["&buftype", "s:Expand(\'%:p\')", "line(\'.\') - 1"]`

 I am thinking the rust wrapper maybe failing

[2017-12-23 17:01] autozimu commented on #416
No, that’s not an error and that message is totally fine. The message basically says those information are not included in the request, languageclient needs to ask vim to fulfill those info though RPC call.

[2017-12-23 18:19] nponeccop commented on #416
@autozimu You definitely need to have it at `INFO` log level so people don't get misleaded

[2017-12-23 18:23] nponeccop commented on #427
Windows perfectly supports non-blocking stdio either via threads :) or via overlapped io. Some runtimes ported from Unix world support neither. For example GHC currently has relatively poor IO implementation for Windows, e.g. no IOCP/overlapped IO. But fortunately it does support threads on Windows, so `hie` uses that approach.

[2017-12-24 01:24] nponeccop commented on #406
I ger the following in current neovim LanguageServer:
[code]

[2017-12-24 12:13] soylens commented on #427
I deleted thePlatform checks in the integration and checked again.
Here are some results.
HIE starts.
Formatting
Atom Linter shows that there are suggestions available but does not display them.
I dont know if this has to do with the `blocking stdio`

[2017-12-26 13:23] domenkozar commented on #426
cc @shlevy

[2017-12-26 13:30] shlevy commented on #426
@nponeccop This issue was a little over 12 hours after the merge, so probably @stevenyvr987 hadn't pulled yet? Certainly the error message doesn't contain the extra spaces my PR added.

[2017-12-26 18:29] stevenyvr987 commented on #426
Yes, I had not pulled one more time before reporting the issue. After pulling, I tried `stack haddock` on the project, and although I still can't do it successfully, at least the error reported in this issue is gone. I'll close the issue now.

There still seems to be a problem with `stack haddock`. I am using most recent version of stack and lts-10.0 of stackage. I'll try to figure out the error m

[2017-12-26 18:29] #426 closed

[2017-12-27 21:52] nponeccop commented on #389
Some more remaining issues:

- [ ] Avoid re-download of GHC 8.0.2 by tests
- [ ] Use lts-10 Docker image for 8.2.2
- [ ] Excessive verbosity of 8.0.2 tests
- [ ] Decide on whether to use git stack (with --only-snapshot useful feature) and how to pin its git revision
- [ ] Excessive verbosity of 8.2.2 stack install
- [ ] Hackage index is not cached

[2017-12-27 22:43] nponeccop commented on #415
Closing this as I can't reproduce it myself

[2017-12-27 22:43] #415 closed

[2017-12-27 22:57] nponeccop commented on #267
I wonder if we should make a second tour among 1-5-7 :) or we should declare 7 the winner. The poll doesn't make it clear which is which either.

[2017-12-27 23:01] nponeccop opened #429 "Language server exited unexpectedly in Neovim"
I get these errors in neovim sometimes:

[code]

[2017-12-27 23:04] nponeccop opened #430 "Failed to fill whole buffer in Neovim"
This could be a bug of neovim LanguageClient:

[code]

[2017-12-27 23:18] nponeccop opened #431 "Hoogle output is ugly in CircleCI tests"
There is an upstream issue in Hoogle: https://github.com/ndmitchell/hoogle/issues/231

[2017-12-28 00:10] damienflament commented on #267
@nponeccop Yes. This poll is not specifically made for images. But it does not resize images (contrary to the previous one).

![image](https://user-images.githubusercontent.com/2023682/34396471-988da846-eb6b-11e7-8f4c-3fcc48883b16.png)

[2017-12-28 04:42] nponeccop opened #432 "Haddock internal error during stack hoogle"
If I do
[code]
in the root of HIE sources, I get the following error:
[code]

This is a manifestation of https://github.com/haskell/haddock/issues/565

[2017-12-28 11:57] jvanbruegge opened #433 "Fails to install on ArchLinux"
I tried the arch package and `stack install` both resulting in the same error:
[code]
I attached the log too
[clock-0.7.2.log](https://github.com/haskell/haskell-ide-engine/files/1591143/clock-0.7.2.log)

[2017-12-28 18:22] mgsloan commented on #433
@jvanbruegge Try putting the following in your config.yaml

[code]

Hopefully this will be unnecessary once https://github.com/commercialhaskell/stack/issues/3518 is resolved.

[2017-12-28 21:17] nponeccop commented on #433
For me `ghc-build: nopie` works (but I use the 32-bit fork of Arch at https://www.archlinux32.org/)

[2017-12-28 21:18] jvanbruegge commented on #433
Yeah, just tried it and it works for me too. Maybe it would help to leave a note in the readme for the time being.

[2017-12-28 21:18] #433 closed

[2017-12-29 19:47] shlevy commented on #357
@imalsogreg @Fresheyeball The nixpkgs PR is now merged, testing appreciated 😄

[2017-12-31 09:39] jchia commented on #391
@nponeccop The workaround works for me, too.

[2017-12-31 12:52] ismailmustafa commented on #267
Perhaps we should run the same poll again, but this time advertise it on reddit and IRC. I don’t think ~50 votes is very representative of the community. Also, @damienflament’s upgraded logo didn’t make it into this poll.

[2017-12-31 12:54] alanz commented on #267
I think we should wait for the festive season to be over too, and then run it. So in about a week.

[2017-12-31 13:41] damienflament commented on #267
@ismailmustafa If your talking about the logo variation I introduced [in this comment](https://github.com/haskell/haskell-ide-engine/issues/267#issuecomment-350724300), I made it to show it to the community. But it's not my favourite. As it didn't get any upvote neither here and on Reddit, I didn't add it to the poll.

About advertisement, I added [a comment](https://www.reddit.com/r/haskell/comme

[2018-01-02 12:05] saurabhnanda opened #434 "Haskell / Google Summer of Code 2018"
The ideas page at https://summer.haskell.org/ideas.html seems to have no project ideas related to HIE. A PR needs to be raised at https://github.com/haskell-org/summer-of-haskell/

[2018-01-03 11:13] capitanbatata opened #435 "Building cabal-helper fails on Windows 10"
While trying to build HIE on windows 10 I get he following error:

[code]

I don't know whether windows is a supported platform, but this might be related to long path names.

[2018-01-03 19:43] nponeccop commented on #435
Windows is a supported platform.

[2018-01-03 20:37] capitanbatata commented on #435
Maybe I can help with setting up an appveyor CI then, and updating the build instructions on windows.

[2018-01-03 20:50] nponeccop commented on #435
Did you manage to resolve it? Your paths seem to be 140 chars, way less than the infamous `MAX_PATH` of 260

[2018-01-03 21:13] capitanbatata commented on #435
No, I Googled around without any luck. Should I set the `MAX_PATH` environment variable to 260 then?

[2018-01-03 21:16] nponeccop commented on #435
MAX_PATH is not an environment variable, you cannot get past that limitation if you hit it. But I doubt you have this long path issue

[2018-01-04 05:38] saurabhnanda commented on #434
@alanz @wz1000 friendly reminder to raise a PR to get HIE included in the HSoC/GSoC idea list.

[2018-01-09 12:33] damienflament commented on #267
What do we do about this poll ?
Currently, it got only 98 voters.

[2018-01-09 12:39] alanz commented on #267
I see #7 got 47% of the vote, which iirc is the one that won the first round too?

In which case it is the winner, and we start updating the README etc to use it.

[2018-01-09 12:44] alanz opened #438 "Eclipse LSP client"
Eclipse has [LSP support](https://projects.eclipse.org/projects/technology.lsp4e) and there is a [java client](https://github.com/eclipse/lsp4j) for it.

Use these (or any other resources) to build a haskell-ide-engine client/plugin for eclipse.

[2018-01-09 12:45] alanz commented on #438
cc @DanielG

[2018-01-09 15:25] nponeccop commented on #438
http://eclipsefp.github.io/ (now unmaintained as @JPMoresmau doesn't have time) had a fairly rich feature set. So we can just revive EclipseFP and use LSP4E when possible.

From what I see, LSP4E lets you configure arbitrary language servers, so it's exactly like LanguageClient for neovim.

[2018-01-09 15:28] alanz commented on #438
Sounds good. I tried firing up an eclipse earlier today, by my java skills have left me.

What should happen is that the client side is trivial, in the form of saying what kind of files it handles and how to launch the server. That is the whole point of the protocol.

[2018-01-10 09:09] qwfy commented on #412
I have the same problem, a simple stack project with two executable (several hundreds of LOC in total), the memory goes up to 4~5 GiB over time and CPU goes up to 40%~60% regularly, make the OS unusable, had to uninstall.

[2018-01-11 06:53] alanz opened #439 "Matching hie GHC version to the project GHC version"
Come up with a process to launch the right hie, to match the compiler. And this has to work for stack and cabal, so stack install is not an option, necessarily.

I think there are two alternative approaches

1.    Make a concierge process that does the initial handshake until the initialize message with the project root is given, then detect the GHC version and spawn the appropriate hie version. T

[2018-01-12 00:27] Michael2109 commented on #372
I've tried using `stack install cabal-install` but had no luck. Stack and Cabal are up to date. What is the solution to this?

[2018-01-14 01:15] unode commented on #390
I can't reproduce this anymore with the instructions provided. But I'm having other issues.

Since both haskell-ide-engine and LanguageClient.neovim are moving quite fast these days, I'll wait for an official release for further tests.

Thanks for the support!

[2018-01-15 09:14] alanz opened #440 "Add setting to disable markdown rendering"
For those clients such as emacs that do not support it.

[2018-01-15 09:15] alanz commented on #434
See https://github.com/haskell-org/summer-of-haskell/pull/36

[2018-01-17 10:41] waddlaw opened #442 "brittanyCmd not working"
environemt:

[code]

Run formatting, get this error:

[code]

Is there any way to fix?

[2018-01-17 12:59] alanz opened #443 "Suppress hlint hints when there are GHC errors"

[2018-01-17 17:56] reactormonk opened #444 "On MTL-style: display which functions use which constraint"
[code]
The IDE would highlight `foo` when hovering over the `MonadReader` constraint, and likewise `liftIO` when asking about the `MonadIO` constraint.

[2018-01-17 18:51] nponeccop commented on #443
Note the hints are already of lower priority after #375 / #378

[2018-01-20 10:13] alanz commented on #439
Also, report an error if we discover that a project is using a mismatched GHC, via an LSP error message.

[2018-01-20 11:23] damienflament commented on #267
I closed the poll as nobody voted since January, 3rd.

Here the results:

Total votes: **168**
Total voters: **97**

Rank | Index | Preview | Votes | Rate (%)
:------:|:-------:|-----------|--------:|------------:
**1** | **7** | ![image](https://user-images.githubusercontent.com/2023682/35182581-31639070-fdd8-11e7-9377-54f88ccf5b16.png) | **47** | **27.98**
2 | 5 | ![image](https://user-images.gi

[2018-01-20 12:23] alanz commented on #267
So we go with the top one, it won the prior round too.

There were some nice options there, I must say. Thanks to all who submitted candidates.

[2018-01-20 14:03] damienflament commented on #267
I uploaded the SVG file and some PNG exports to [this gist](https://gist.github.com/damienflament/848dbe79064186d83496b26605ea93b6).

[2018-01-20 14:09] alanz commented on #267
Could you make a PR, that adds a directory called logos with those in it?

[2018-01-21 20:58] #267 closed

[2018-01-23 12:58] Tehnix commented on #427
Ah, I never really got around to the Windows part in the Atom client since I didn't have Windows to test on.

I gathered from looking at the other LSP clients that Windows needed special handline (e.g. https://github.com/atom/ide-php/blob/master/lib/main.js#L26), but that might be a wrong assumption 🤔

I could simply remove the OS check, and try to see if we get some results, if someone is up for

[2018-01-23 14:10] Tehnix commented on #439
As a temp fix, currently I'm using a wrapper script around HIE to make it start the right hie version,

[code]

And to built the different binaries from source, I use (with some redundancies),

[code]

I don't know if this could be useful for others? I currently have just put it on my path, and then altered the VSCode plugin to call `hie-wrapper` instead of plain `hie`.

[2018-01-24 09:36] Tehnix commented on #439
While this would preferably be in Haskell, I think this provides a fine transition until we get that part integrated fully. Furthermore, if we get any form of binaries built for HIE, we can easily extend the script to also download these binaries, if they are not found for the specific GHC version. I'd be more than happy to do that part :)

[2018-01-24 09:42] alanz commented on #439
I think this is a great step, and basically what I had in mind for the initial approach anyway.

And the only future change would be to rewrite the wrapper in haskell, which should help with it being more cross-platform friendly.

And possibly extending cabal-helper to spit out the GHC version for us.

[2018-01-24 09:50] Tehnix commented on #439
I'm a little unsure on the next step. It can easily be added to the VSCode `hie-vscode.sh` and I can change the Atom integration to launch through a script instead of HIE directly, but stuff like Neovim would be left for manual setup of the script.

Should I just go ahead with the two first, and then perhaps make a README entry under Neovim on how to add the wrapper script? It would mean keeping a

[2018-01-24 09:53] alanz commented on #439
I think we should add the wrapper to the vscode repo, and the build script
to hie (perhaps as a Makefile?), but make the use of the wrapper in vscode
subject to a config setting, which does not use it by default.

We can flip that default later.

On 24 January 2018 at 11:50, Christian Kjær <notifications@github.com>
wrote:

[2018-01-24 09:53] Tehnix commented on #439
I'll start working on it 👍

[2018-01-24 11:07] Tehnix commented on #439
Should all be done, I'll make the README update after the remaining PRs are merged.

[2018-01-24 19:19] alanz opened #449 "Manage -Werror"
If hie has been built via stack install, and you open it in hie, then errors per file are not shown because pedantic mode  enables `-Werror`, and this complains about something in the cabal file.

It probably makes sense to actively turn off `-Werror` in all cases.

[2018-01-24 23:40] Tehnix commented on #427
@soylens If you could try the Atom integration again, that would be awesome! As for the logging, you can set the HIE logging path in the settings pane for `ide-haskell-hie`, which should allow you to get some further debugging info.

[2018-01-25 09:55] ShrykeWindgrace commented on #435
Hi,

do you have updates on this  subject? I'm having the same issue on a win10 machine with latest stack.

[2018-01-25 13:50] ShrykeWindgrace opened #450 "Erroneous import highlights in ST3"
Modules imported from packages listed in "build-depends" section of the cabal file are highlighted as "Could not find module", even if they are installed globally and `stack build` works. Also, all modules in my project have the similar highlight.

How do I circumvent this problem?

Config: Ubuntu16.04, stack-1.6.3, latest hie, latest ST3

[2018-01-26 09:26] txsmith opened #451 "HIE stops working in VS Code when apply-refact fails"
I've noticed the following issue with `apply-refact`: mpickering/apply-refact#33

I'm not sure whether this is intended behavior on the side of `apply-refact` or not, but...
As soon as apply-refact throws a parse error, HIE stops working completely in VS Code: no more hints or compiler errors are shown, hovering over terms stops working, etc.

It would be very nice if we would not have to reload t

[2018-01-27 03:32] AlexeyRaga opened #452 "Hoogle version mismatch"
Currently `hie` is linked with a particular version of `hoogle`, and if a currently installed `hoogle` has a different version then `hie` doesn't show documentation and complains about version mismatch.
The way to fix it is not quite obvious: one would need to figure out which version of `hoogle` is required by `hie`, install that specific version and rebuild documentation (make sure that `stack h

[2018-01-27 04:03] soylens commented on #427
Yup, as of now, the only problem seems to be Linter.
BTW, it still doesn't process the files outside the current opened folder, which I think is a bug/feature of linter or Atom itself.

[2018-01-27 10:29] wz1000 commented on #452
Sounds good. However, how will this make sure that `stack hoogle` uses the correct version?

[2018-01-27 12:55] AlexeyRaga commented on #452
BTW, Neil just relaxed the version check to first 3 version components. This should help for patch releases in `hoogle`.

[2018-01-27 13:02] ndmitchell commented on #452
I'm not sure how much `stack hoogle` really does for you - see https://github.com/commercialhaskell/stack/blob/a9042ad6fa1d7c813a1c79713a518ee521da9add/src/Stack/Hoogle.hs. It basically just calls `hoogle generate --local`, which isn't a massive saving. It also generates all the Haddock first, but I think you can do that with a separate command.

[2018-01-27 13:03] ndmitchell commented on #452
BTW, it would be `stack exec -- hoogle generate --local` if you did want to do it yourself.

[2018-01-27 21:53] nponeccop opened #453 "Describe hie in the digest of Gabriel Gonzales (author of pipes etc)"
https://github.com/Gabriel439/post-rfc/pull/126

@alanz @wz1000

I don't know the names/urls of hie servers for atom/sublime/etc

[2018-01-28 08:17] alanz commented on #453
The available clients are listed at

https://microsoft.github.io/language-server-protocol/implementors/tools/
and
http://langserver.org/

[2018-01-28 21:05] nponeccop commented on #453
This is not always enough. For example, for vim7/neovim it's enough to install `LanguageClient-neovim`, but for `vscode` you need a separate Haskell-specific extension.

[2018-01-28 21:18] alanz commented on #453
Whenever someone asks on the IRC channel about how to set things up I ask
them to make a PR on the readme for HIE.

Because we are going to need to build up documentation about how to set it
up per client. But only people actually doing it can make those docs.

On 28 January 2018 at 23:05, nponeccop <notifications@github.com> wrote:

[2018-01-28 21:19] nponeccop commented on #453
Sure

[2018-01-30 04:51] nponeccop commented on #372
@alanz  The upstream problem is closed now. Is hie updated to use the fixed cabal-helper?

[2018-01-30 06:58] alanz commented on #372
There is now a new release of cabal-helper (0.8.0.0) but which has a bug, fixed in current master.

I am doing some final testing of the ghc-mod side of it at the moment, then will be able to push something.

[2018-01-30 13:35] alanz commented on #439
This is now supported (configuration-wise) in emacs, via https://github.com/emacs-lsp/lsp-haskell/pull/9

[2018-01-30 15:18] nponeccop commented on #435
Was it really the long path issue? I'll investigate

[2018-01-30 17:28] nponeccop commented on #435
Your comment implied that you encountered the same problem as in this issue. But apparently it was a completely unrelated issue as the path in the first message of this issue is way too short, and there are no "path not found" messages in the original log either.

https://github.com/DanielG/cabal-helper/issues/40

[2018-01-31 08:58] ShrykeWindgrace commented on #435
@nponeccop You may be right. It seems that by a weird coincidence the fix rolled in exactly when I changed the checkout folder.

[2018-01-31 13:54] alanz commented on #439
The best way forward may be some kind of `concierge` process that receives the  LSP `initialize` message from the client, determines the project GHC version, and then calls something like `exec` to replace itself with the right one.

See http://hackage.haskell.org/package/unix-2.7.2.2/docs/System-Posix-Process.html#v:executeFile and
https://stackoverflow.com/questions/4204915/please-explain-the-ex

[2018-02-01 05:23] hgiasac commented on #412
I have same problem. Memory go up 8GB RAM if I keep hie server running for a day
I use MacOS and Visual Code plugin

<img width="803" alt="screen shot 2018-02-01 at 12 19 33 pm" src="https://user-images.githubusercontent.com/1615675/35662393-79d70064-074a-11e8-977c-e354da536daa.png">

[2018-02-02 06:09] nponeccop commented on #204
Some information from LSP4E (Eclipse LSP Client project): https://github.com/eclipse/lsp4j/issues/130

[2018-02-02 06:21] alanz commented on #204
The Phoityne debugger uses this at the back https://hackage.haskell.org/package/haskell-dap which implements the vscode debug protocal, as I understand it.

Using a standard protocol makes sense to me, but it is not as widely implemented as LSP.  See https://code.visualstudio.com/docs/extensionAPI/api-debugging

And there is a [ticket](#438) asking for LSP4J support, it is a complex ecosystem.

[2018-02-02 11:47] alanz opened #459 "Detect and report GHC version mismatch"
If `hie` has been compiled with one GHC, and is being used on a project with a different one, report this to the user via an LSP error message.

At the moment it silently fails to load modules.

[2018-02-02 14:38] shlevy commented on #357
@domenkozar This seems very hard to integrate in with nixpkgs haskell package sets

[2018-02-02 15:22] michalrus commented on #357
@domenkozar, so if I add this `ghc-8.2.nix` to my project’s `default.nix`/`shell.nix`… will it see correct dependencies declared in that same `default.nix` (e.g. by `callCabal2Nix ./.`)?

@shlevy is this what you mean, that it won’t?

[2018-02-02 15:30] domenkozar commented on #357
@shlevy why would you need that?

[2018-02-02 15:57] shlevy commented on #357
@domenkozar Because we're defining package environments for our projects based on nixpkgs (plus our own overlays), and we want (well, need) to have the same dependencies (not just the same GHC version!) to use hie with our projects.

[2018-02-02 15:58] shlevy commented on #357
So I want to make an env that contains "the hie appropriate for this project" and launch that hie per-project.

[2018-02-02 17:24] michalrus commented on #357
^ Exactly. What’s the point otherwise?

[2018-02-02 20:50] domenkozar commented on #357
Afaik HIE does this at runtime using ghc-mod, so you'd have to run it with nix-shell of your environment.

[2018-02-03 02:42] soylens commented on #400
Has this problem been resolved? @alanz

[2018-02-03 03:07] soylens commented on #406
Emacs lsp-haskell keeps reporting
[code]
using emacs-mac 25.3
Is this a duplicate of this issue?
It seems to take some time loading all modules, also When I tested on windows. but usually it returns normal after a couple of seconds after hie starts. But here it takes rather long time, i've been waiting for minutes and it still reports this.

[2018-02-03 08:58] alanz commented on #400
We switched to using hlint from hackage, so the hlint.yaml should be the global one.

We put out a new version of cabal-helper (to hackage) but there was a silly bug, now fixed in master.

So until that is published to hackage, it will use the one from the build dir

[2018-02-04 11:17] alanz opened #460 "Manage initial module loading UI process"
At the moment, when a file is opened, we request diagnostics on it as usual, and return a "Module not Loaded" error message.

Once the compilation is complete, if it succeeds, then we start getting hover info etc.
If the compilation fails, we continue to get the "Module not Loaded" warning.

We need to manage UI messaging better.

1. Initial "Loading module" message rather than an error
2. Return

[2018-02-04 11:32] alanz opened #461 "Messaging hangs if the client sends a junk filepath"
I have a misconfiguration of my emacs, and under some circumstances it sends a junk filepath when trying to jump to a search result.

e.g.
`src/Language/Haskell/Refact/Refactoring/src/Language/Haskell/Refact/Refactoring/Foo.hs` instead of
`src/Language/Haskell/Refact/Refactoring/Foo.hs`

But, when this happens, `hie` hangs and does not send any further reply messages.

Under no circumstances shoul

[2018-02-04 18:08] nponeccop commented on #453
ok it's largely done (by me)

[2018-02-04 18:08] #453 closed

[2018-02-04 18:11] domenkozar commented on #117
I've packaged hie for Nix: https://github.com/domenkozar/hie-nix

[2018-02-04 18:19] nponeccop commented on #427
Can we close this issue and open the one that describes current state of Atom support on Windows better?

[2018-02-04 18:24] nponeccop commented on #460
See also the monotonicity considerations of #416. Essentially is

5. What if module compilation fails, but we have stale compilation results for it?

Especially in the case 4.

[2018-02-04 18:27] nponeccop commented on #459
Is it a duplicate of #414?

[2018-02-04 19:02] nponeccop commented on #288
Closing as it seems fixed, just there's no confirmation from the original reporter.

[2018-02-04 19:02] #288 closed

[2018-02-04 19:08] nponeccop commented on #6
Are there any parts of this issue which are still relevant?

[2018-02-04 19:10] nponeccop commented on #7
What about `.cabal` errors? Now there are errors which are returned without any file position information, so we can't put them as diagnostics.

[2018-02-05 05:24] soylens commented on #427
Sure. It's better when the team takes care of it @nponeccop

[2018-02-05 05:24] #427 closed

[2018-02-05 15:28] lorenzo opened #462 "No other features work while there is a compilation error"
Making errors while coding is quite common, and a good IDE should help fixing them. Currently, when a compilation error happens in a project (syntax error, type mismatch or otherwise), no other feature in the IDE engine work.

Would it be possible to retain certain features that would make fixing the error easier, like hovering on a symbol, or finding definitions?

[2018-02-05 20:17] nponeccop commented on #462
There is some support for that in the form of caching the last good state of each module, but there are few issues: #460 , #416

Full support is very hard to implement, and it can be split roughly into three parts:
- robust parsing
- robust name resolution
- robust type checking

[2018-02-08 10:13] sertel opened #463 "Not working in Atom 1.23.3 x64"
Hi,

I wanted to use this ide integration with Atom but it does not seem to work.
My configuration is as follows:
- Atom 1.23.3 x64
- Hie Version 0.1.0.0, Git revision aa024449a8173f04b342a06449e2c6072f657339 (1180 commits) x86_64 ghc-8.2.1
- atom-ide-ui 0.8.1
- ide-haskell-hie 0.8.0

Any help would be highly appreciated.

Thanks,
Sebastian.

[2018-02-08 10:58] sertel commented on #463
Seems to be covered in issue #439

[2018-02-08 10:58] #463 closed

[2018-02-08 15:43] LeanderK opened #464 "Working with TypeApplications"
I am playing around with visible type application and HIE prints to my output:

[code]

according to https://github.com/jaspervdj/stylish-haskell/issues/156, i should enable `TypeApplications` in `language_extensions`. How can I do that?

[2018-02-08 16:56] LeanderK commented on #464
i think a restart solved the issue

[2018-02-09 01:22] IronGremlin commented on #354
I've been unable to actually get HIE up and running again due to unrelated issues that have nothing to do with this project, and it is unlikely that I'll have time to resolve this before it becomes a completely moot point.

[2018-02-09 01:22] #354 closed

[2018-02-10 16:04] AnthonyJacob opened #466 "HaRe & HIE-P-API installation failed on Windows10"
[code]

[2018-02-10 21:11] AnthonyJacob opened #467 "Make autocomplete more fuzzy."
Currently when I write `file`, i get only suggestions which start with `f`. It would be great to remove this requirement, so that if I write `file` I will see suggestions like
[code]

[2018-02-11 17:41] LeanderK commented on #464
it did not, I just noticed that I just had not type-applications in my code anymore. It's still not working

[2018-02-11 17:46] LeanderK opened #468 "HIE just stops working"
(I don't know where to open the issue)
After some time HIE just stops responding. For me, it happens pretty often and makes the whole vscode plugin pretty unusable.
for example:
- Show Type is not returning anything
- hovering over a type just shows `loading`
- Insert Type is not doing anything
- Format Document is not doing anything

[2018-02-11 17:50] LeanderK commented on #464
I just noticed this is another plugin.
Sorry for opening this issue!

[2018-02-11 17:50] #464 closed

[2018-02-11 18:17] LeanderK commented on #468
Maybe I've done something wrong and it never worked at all? Here is my output:

[code]

[2018-02-11 18:41] simonmichael opened #469 "setup recipe for IDEA needed"
I was able to build master without trouble on osx. +1

I've so far failed to see it doing anything with Intellij IDEA though. I installed the LSP plugin. Beyond this I'm not sure what plugins should be used. I left the JetBrains Haskell plugin enabled. I tried with and without the IntelliJ-Haskell plugin enabled.

[2018-02-11 21:52] LeanderK commented on #468
I think #452 may be the culprit, but I am not sure.

[2018-02-12 06:00] moodmosaic opened #470 "stack --stack-yaml=stack-8.0.2.yaml install fails"
[code]

Executing
[code]

yields the following error:

[code]

Note that I've enabled Win32 long paths as per the instructions.

[2018-02-12 06:01] moodmosaic commented on #470
Sebsequent runs of

[code]

yield

[code]

[2018-02-12 06:02] moodmosaic commented on #470
(Why do I get those `�[0m`, �[93m, and �[31m` remains another question. (I guess, because, Windows.)

[2018-02-12 06:51] mgsloan commented on #470
There's some discussion of windows + ansi codes here -https://github.com/commercialhaskell/stack/issues/3797 .

[2018-02-12 10:47] moodmosaic commented on #470
tl;dr, though 😕 What is the gist of it? (Thank you for pointing this out.)

[2018-02-12 14:20] simonmichael commented on #469
Some progress: https://github.com/gtache/intellij-lsp#add-a-language-server describes how to configure server in the IDEA preferences. (Or, a intellij-lsp-haskell plugin can be created.)
I enabled Help > Tail Log in Console, then in IDEA Preferences > Languages & Frameworks > Language Server Protocol > Server Definitions, I tried:

- Executable, Extension: hs, Path: /Users/simon/.local/bin/hie, Ar

[2018-02-13 13:24] JonasRSV opened #471 "Stack Build fails"
Stack version 1.6.3
ghc version 8.2.2

Output of stack build:

stack build
haddock-library-1.4.4: unregistering
HaRe-0.8.4.1: build (lib + exe)
hie-plugin-api-0.1.0.0: build (lib)
haddock-library-1.4.4: configure
haddock-library-1.4.4: build
haddock-library-1.4.4: copy/register
Log files have been written to: /Users/jonval/WARNING/LSPS/haskell-ide-engine/.stack-work/logs/
Progress: 3/5
--  While b

[2018-02-13 14:39] JonasRSV commented on #471
Resolved by using lts-10.0 as resolver instead

[2018-02-13 14:40] #471 closed

[2018-02-15 10:31] MisLink commented on #470
Got the same issue on default stack.yaml. I think the problem is `Please ensure that commit 47e200a728a575f407ee6f9893d9a1e77b1b5325 exists within https://github.com/alanz/ghc-mod.git`

[2018-02-16 00:07] dpren commented on #467
I'm working toward this – Currently refactoring completions so they're cached and indexed in advanced upon module updates.

I'm open to suggestion on algorithms/libraries.
http://hackage.haskell.org/packages/search?terms=fuzzy

`yi-fuzzy-open` seems a good place to start.

[2018-02-19 01:24] michalrus commented on #357
It does, working v. well. =) Thank you, @domenkozar!

[2018-02-19 02:38] nakaji-dayo commented on #468
@LeanderK For the first error, I think you need to run "stack hoogle" again in the project directory using hoogle-1.0.16 (Perhaps it is necessary to delete ".stack-work/hoogle").

[2018-02-19 02:41] nakaji-dayo commented on #468
Regarding the last error, I am also in trouble.

My project using the following.
- haskell-ide-engine master branch
- vscode-1.20.1
- lts 10.5
- hoogle-5.0.16

[code]

[2018-02-19 14:21] michalrus commented on #468
For me it works for some projects; for others (bigger), it hangs after a few initial messages. I asked on IRC,

[2018-02-19 14:32] LeanderK commented on #468
@nakaji-dayo I forgot to update the ticket. I also did that and didn't resolve the issue for me. It loads now the hoogle-db, but still stops responsonding.
@michalrus yeah, some way to restart ghc-mod would be great!

[2018-02-19 14:41] michalrus commented on #468
++

Sample log below, but there doesn’t seem to be anything interesting in it.

`publishDiagnostics` is the last message from the server, and then nothing.

[code]

[2018-02-19 15:04] michalrus opened #475 "stderr output should go to the/a log file"
While trying to come up with an idea of how to debug https://github.com/haskell/haskell-ide-engine/issues/468#issuecomment-366712277 I added `2>$HOME/hie.stderr` to my wrapper script and…

[code]

This would’ve been awesome to have in the log file specified with `-d`. I’d lose much less time to pinpoint the issue!

Maybe some sort of `dup2()` syscall could be used to achieve that without many chan

[2018-02-19 15:07] michalrus commented on #468
@LeanderK, sorry for the noise, this one is probably different from yours. =) See https://github.com/haskell/haskell-ide-engine/issues/475 for reference.

[2018-02-19 15:29] michalrus commented on #117
Also, if you can specify path to a HIE wrapper in your editor, you can use a wrapper like https://github.com/michalrus/kornel/blob/fd314f372e8316a9642f07b1ccf6793ed486b667/hie.sh to *not* have to run editors inside `nix-shell`s.

[2018-02-19 15:56] michalrus commented on #468
In case anyone’s interested, I did the silliest thing possible.

HIE outputted this on its stderr:
[code]

In `default.nix` of the project, I changed `nix-shell`’s `shellHook`, while the original one was setting up correct environment variables:

[code]

How did all other things work, I don’t know. =)

[2018-02-19 19:29] michalrus opened #476 "HLint is not respecting `arguments:` (`-XQuasiQuotes` etc.) defined in project’s .hlint.yaml"
If I define a non-standard `my-project/.hlint.yaml`, it will be picked and used by regular hlint:

[code]

… while on fragments with quasi quotes, e.g. `[sql|select 5|]` from https://hackage.haskell.org/package/postgresql-simple, HIE will report HLint errors: parse errors — ones which would also happen with `hlint` in terminal above, if I didn’t specify `-XQuasiQuotes` in `.hlint.yaml`.

[2018-02-19 20:13] MaskRay commented on #475
The stderr of the language server goes to the `*lsp-* stderr*` buffer in Emacs.

I'd also like to know how to make logging more intuitive as we are also trying to make diagnostics simpler in the cquery language server https://github.com/cquery-project/cquery/issues/357

[2018-02-19 20:58] michalrus commented on #475
Oh! Right. But I wouldn’t think of that, among hundreds of other buffers. :crying_cat_face:

[2018-02-19 21:12] michalrus commented on #475
Maybe stderr could also go to `*Messages*`?

[2018-02-19 22:33] michalrus commented on #308
Ohh, this would be so amazing to have. :heart:  Hoogle is nice, but nothing beats `C-.` and a quick informed look at the library code I’m currently calling.

[2018-02-20 05:59] AlexeyRaga opened #477 "HIE asks to add MultiParamTypeClasses to each file"
Although `MultiParamTypeClasses` is enabled by default (via `defailt-extensions`) HIE asks me to add it to each file:

![image](https://user-images.githubusercontent.com/1394391/36409358-427c90ba-165f-11e8-85fc-6c0957dec46f.png)

standalone `hlint` doesn't complain and `stack` builds it fine.

Adding `- arguments: [-XMultiParamTypeClasses]` to `.hlint.yaml` file doesn't help either.

[2018-02-20 10:49] domenkozar commented on #357
@Fresheyeball @imalsogreg could you provide a Nix project you'd like to see HIE working with? I think with hie-nix it should be trivial, but I want to make sure we agree that's the acceptance criteria for this to pass :)

[2018-02-20 11:23] AlexeyRaga commented on #477
UPD: the problem seems to be not in `HIE`, but in `stylish-haskell`, closing this issue.

[2018-02-20 11:23] #477 closed

[2018-02-20 14:06] srid commented on #357
Here's a skeleton Nix project:
https://github.com/ElvishJerricco/reflex-project-skeleton

The frontend package can be compiled using ghcjs, although for editor integration purposes one could compile it using ghc. It even targets android and iOS.

Should be a good candidate to test HIE support?

[2018-02-20 20:08] Denommus commented on #406
Also getting this on Emacs.

[2018-02-21 07:32] alanz commented on #357
Once this thing settles down to best practice, can someone make a PR on the README, for future NIX users?

[2018-02-21 13:13] ktonga commented on #346
`help found` :)
Just a heads up, I've started with the Brittany PR so I can then work on this change.

[2018-02-21 14:46] alanz commented on #460
There is also case 0, hie GHC version does not match project GHC version

[2018-02-21 15:09] alanz commented on #476
Ok, we *are* using the hint file, but not processing the arguments field, as well call it as a library, and leave hlint to decide what config file to use.

So it is a bit of a chicken and egg situation.

[2018-02-21 16:04] michalrus commented on #476
Updated the description accordingly!

[2018-02-24 04:42] pythonissam opened #480 "Using latest brittany"
The previous version of brittany seems to have bugs like [this](https://github.com/lspitzner/brittany/issues/92). Would you update HIE to use the latest version of it?

[2018-02-25 02:38] AlexeyRaga commented on #346
Oops, I haven't realised that someone is working on it and made a PR to Brittany a couple of days ago:
https://github.com/lspitzner/brittany/pull/121

[2018-02-25 02:44] ktonga commented on #346
@AlexRaga no problem! I'll find something else to help with. Nice work BTW!

[2018-02-25 10:08] Yanpas opened #481 "Doesn't work in the large project (pandoc)"
I'm using vs code extension and ide-engine in pandoc project. Language server just doesn't work at all.

Version 0.1.0.0, Git revision 5b8150471ad416329d987edec99332e113c2d0e4 (1203 commits) x86_64 ghc-8.2.2
Windows 10

These are the only lines in log:
[code]

[2018-02-26 09:24] kfigiela commented on #412
I can confirm this as I am having the same issue here. As memory grows, there is heavy CPU usage allocated by `kernel_task` on macOS (however, fans are not spinning like crazy). It probably has sth to do with low level stuff such as memory allocation as whole OS gets very laggy. For sure it is not an out of memory condition that causes OS being non responsive. As soon as I kill hie, things immedia

[2018-02-28 11:05] marmistrz opened #483 "HIE fails when run from within VSCode"
cross-reporting https://github.com/alanz/vscode-hie-server/issues/54

[code]
I installed `haskell-ide-engine-git` from AUR (Arch Linux). I can't find `cabal-helper-wrapper` anywhere in my FS.

[2018-02-28 15:34] alanz commented on #483
Make sure you have `cabal-helper` installed, and perhaps `cabal-install`.

[2018-02-28 15:47] marmistrz commented on #483
It looks like the AUR package didn't pull `cabal-helper` as a dependency. I took it from the repos. The wrapper is now in

    /usr/lib/x86_64-linux-ghc-8.2.2/cabal-helper-0.8.0.2/cabal-helper-wrapper

Still, after installing, `hie` seems to insist on using the build root location instead:

[code]

[2018-02-28 15:52] alanz commented on #483
Then it is related to how AUR does things. Perhaps @DanielG can help, on https://github.com/DanielG/cabal-helper

[2018-02-28 16:12] marmistrz commented on #483
Well, AUR does nothing obviously weird: the package is just built and installed.

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=haskell-ide-engine-git

[2018-02-28 16:23] alanz commented on #483
Its not an install problem, its a runtime problem. ghc-mod uses cabal-helper, and between them there are some expectations about what can be found where, to get configured.

[2018-02-28 16:35] marmistrz commented on #483
It looks like setting the environment variable mentioned in the error message seems to work around the problem:

    cabal_helper_libexecdir=/usr/lib/x86_64-linux-ghc-8.2.2/cabal-helper-0.8.0.2/

[2018-03-01 02:52] nakaji-dayo commented on #468
The error about insertType has beed fixed.
https://github.com/alanz/vscode-hie-server/pull/53

[2018-03-01 13:31] marmistrz commented on #483
It looks like the resulting binary hardcodes some paths during configure/make, and does it absolutely wrong
[code]
the system-wide paths are not in the executable anywhere:
[code]

[2018-03-05 04:19] pythonissam commented on #480
Thanks a lot!

[2018-03-05 15:57] dpren commented on #467
Closed by https://github.com/haskell/haskell-ide-engine/pull/484

[2018-03-05 15:57] #467 closed

[2018-03-06 13:56] KarlFish commented on #209
This project hasn't had a REPL/Console in a while, looks like this issue is out of date.

[2018-03-06 14:29] alanz commented on #209
yes indeed, no longer supported.

[2018-03-06 14:29] #209 closed

[2018-03-06 23:05] KarlFish opened #487 "Hacking.md documentation references removed features"
https://github.com/haskell/haskell-ide-engine/blob/master/docs/Hacking.md

The repl no longer exists, and the project is using the LSP instead of localhost http server (as far as I can tell)

[2018-03-07 06:18] #487 closed

[2018-03-07 14:59] KarlFish commented on #481
It's probably related to the fact that pandoc uses [CPP macros](https://github.com/jgm/pandoc/blob/b6182afcfe4c3381bc9286970500d4a5adfbd38d/src/Text/Pandoc/Class.hs#L11-L14).

Loading `Preprocessor.hs` shows an error about gcc preprocessor, but don't show any warnings in my buffer.

[code]

I'm not sure why your log is empty, when i open `pandoc/src/Text/Pandoc.hs` I don't get any warnings/errors,

[2018-03-07 15:16] wz1000 commented on #481
Hmm, strange. Latest HIE(f526f9761dff62990befaf94ea8a21443d7463a1) works with pandoc for me.
It might take a while to load the file.

CPP should also work, HIE has some specific workarounds to ensure CPP doesn't break.

[2018-03-07 15:19] wz1000 commented on #481
Try running hie with --vomit and seeing what you get.

[2018-03-07 16:17] KarlFish commented on #481
Ah, my preprocessor example was invalid CPP. That exact example without the parens at the end of the flag works in hie. However, pandoc does not load for me.

[code]

Using neovim LanguageClient with the wrapper as my lsp binary, the logs are:
[code]

[2018-03-08 08:32] alanz commented on #439
Hie is like ghci in that it actually loads the project, to get info.  For
that to work, the GHC version built into hie must be able to load the
compiled products.

So it must match.

I would imagine we could get it from cabal-helper or ghc-mod.

On 08 Mar 2018 01:54, "Gastón Tonietti" <notifications@github.com> wrote:

[2018-03-08 16:10] Yanpas commented on #481
Updated to f526f9761dff62990befaf94ea8a21443d7463a1 seems to work.

[2018-03-08 16:10] #481 closed

[2018-03-08 16:28] LeanderK commented on #468
I don't experience this anymore, I will keep an eye on it in the next days and close this issue if the error has just magically disappeared

[2018-03-08 22:33] LeanderK opened #490 "Don't mark HLint parse errors as errors"
I have some `hlint` parse errors that happen because `haskell-source-exts` can't handle my code, but it compiles fine. I think only ghc-mod parse errors should handled as errors.

EDIT: I use an Extension that is not robustly handled by `haskell-source-exts` and nearly every file is marked red, which is a bit annoying.

[2018-03-09 08:10] mitutee commented on #466
I have just experienced the same issue while building HIE with `stack --stack-yaml=stack-8.2.1.yaml install
`  at Ubuntu 16.04

[2018-03-10 13:33] ktonga commented on #439
Just to make it visible here, as per [this comment](https://github.com/haskell/haskell-ide-engine/pull/491#issuecomment-372017672) it seems the new approach is a bit different from the one described using a concierge process.

Are we sure about this new handshaky launching? I don't think any LSP client implementation has such facility to invoke multiple times a command for launching the server, so

[2018-03-10 13:41] alanz commented on #439
I think we are feeling our way on this, and perhaps some approaches will work better with some clients than others.

I think the concierge option will be the most bullet-proof eventually, but it does need a fair bit of config.

Also, eventually the right version of hie can be determined by the project dependencies if using nix or stack.

At the moment, "doing the simplest thing" has resulted in it

[2018-03-10 17:49] domenkozar opened #492 "Format imports"
I'm missing a way to format imports. This would save me some time. For example:

[code]

To become

[code]

[2018-03-10 20:10] LeanderK opened #494 "Unable to start HIE: Could not find module ‘Distribution.PackageDescription.Parse’"
I think HIE is unable to start.
Last line: `(exit 1): failed`
I am using `ghc-4.8.1` with stack.
[code]

[2018-03-11 08:15] ktonga commented on #439
While implementing this on #493 I found that using `cabal-helper` for finding the GHC version has a few pitfalls I would like to enumerate and discuss if you will.

1. `cabal-helper` **requires** `ghc` to be on the $PATH, but that not always is the case, for instance if you use `stack` o `cabal configure` with `-w` option.

2. To use `compilerVersion` you're asked for the project's *root dir* (the

[2018-03-11 08:26] alanz commented on #439
I think we should plumb this through ghc-mod, which takes care of looking after those details.  cabal-helper, is basically a part of ghc-mod, and is not really intended to be used standalone.

So it would involve adding a `compilerVersion` command to ghc-mod, which simply calls cabal-helper with command "compiler-version".

cc @DanielG

[2018-03-11 08:47] alanz commented on #492
This could be implemented as a command, executed via `runPluginCommand` (See https://github.com/haskell/haskell-ide-engine/blob/master/src/Haskell/Ide/Engine/Transport/LspStdio.hs#L586), to return a `workspaceEdit`.

[2018-03-11 08:49] alanz commented on #494
GHC 8.4.1 is not currently supported

[2018-03-11 08:50] #494 closed

[2018-03-11 08:55] alanz commented on #490
It is possible to turn off the hlint check, in vscode, by setting `languageServerHaskell.hlintOn` to `false`.

I am not sure if this configuration setting is enabled for other clients at the moment, make an issue on the relevant client if not.

I will also look at turning off hlint parse errors.

Can you give a short  example of a file that has this problem?

[2018-03-11 08:58] alanz commented on #466
Is this building with hie current master, and latest stack?

And what does `ghc-pkg-8.2.1 check` show you?

[2018-03-11 09:01] alanz commented on #412
There is at least one memory leak in GHC itself which causes memory usage to rise over time.

It is possible there are more in HIE too.

We have not been able to track this down yet, though.

[2018-03-11 11:25] mitutee commented on #466
Full output on the latest master ( after `gch-pkg check` looks the same ):
[code]

`ghc-pkg-8.2.1 check` - command not found.

[2018-03-11 14:32] LeanderK commented on #490
Here https://github.com/ndmitchell/hlint/issues/450 is one and I opened another on haskell-src-exts https://github.com/haskell-suite/haskell-src-exts/issues/403.

[2018-03-11 14:34] LeanderK commented on #494
Ok, I thought it was relevant anyway. Is this even part of HIE? Should I raise the issue on `cabal-helper`?

[2018-03-11 16:13] lspitzner commented on #492
Brittany already has a PR (that really is 99% done and I do a really bad job as a maintainer to not have done the remaining 1% and merging.) that does this. See https://github.com/lspitzner/brittany/pull/83, which should be considered open still (github does not like me reorganizing branches).

[2018-03-11 19:42] LeanderK commented on #468
Since I am overeagerly switching to `8.4.1`, HIE is not even starting 😀 But before, on `8.2.2`, HIE was in the end doing its job and I didn't experience this issue anymore.
In retrospect, i think it was the cumulative experience of encountering several issues at once:
- insertType not working, so no answer when explicitly calling HIE
- my code constantly breaking haskell-src-exts
- my hoogle-db be

[2018-03-11 19:42] #468 closed

[2018-03-11 22:29] mgsloan commented on #439
I have not dug into the details related to his here.  However, it may be
helpful that "stack install haskell-ide-engine --copy-compiler-tool" will
place it in a special bin directory which will be on the PATH when stack is
used with that ghc version.

On Mar 11, 2018 12:26 AM, "Alan Zimmerman" <notifications@github.com> wrote:

[2018-03-11 23:37] DanielG commented on #439
@ktonga using cabal-helper directly is just not going to do what you want as you've found. You have to do this at a level where the build system in use (i.e. cabal-install, stack or plain GHC) is known. `cabal-helper` doesn't know anything about build systems, all it does is give you access to some stuff both cabal-install and stack dump to disk.

I think the right place to do this is definetly gh

[2018-03-11 23:45] DanielG commented on #439
Come to think of it I didn't consider cabal old-build properly. In that case using cabal-helper to determine the GHC version instead of calling `ghc --numeric-version` is pretty much a must if we want this to work reliably in situations where the user calls `cabal configure -w`.

I think in that case we can just defer erroring out straight away in `findCradle` and do it whenever `runCHQuery` is ca

[2018-03-12 00:11] ktonga commented on #439
Great, thank you a lot @DanielG for taking the time and explaining all that to me. I'll try to wrap my head around everything you've just said and open a PR on ghc-mod to add this new functionality.

[2018-03-12 17:37] lspitzner commented on #492
@domenkozar The PR is now about to be merged and released. brittany would format your example as

[code]

and you can try other examples at https://hexagoxel.de/brittany/, which I have updated to the PR's branch already. Feedback welcome if you find any examples that are formatted in some unfortunate fashion.

[2018-03-12 18:00] alanz commented on #492
@lspitzner Is there any way to tweak that?

Because having the itemised import stuff way off on the right looks really odd to me.

[2018-03-12 18:52] lspitzner commented on #492
@alanz using IndentPolicyLeft has an effect; with that all "hanging indentation" is avoided. But otherwise there is no configuration (yet). What layouting would you prefer? Iirc stylish haskell is rather similar, only it uses "paragraph fill" instead of "one line per item".

[2018-03-12 18:57] alanz commented on #492
I feel myself descending into bikeshedding, so I will put one response then refrain further.

I would personally prefer something more like

[code]

Or even a paragraph fill type thing, but at that indentation.

[2018-03-12 19:05] lspitzner commented on #492
Oh, right! the column is configurable, using `lconfig_importColumn` in the config file. We discussed the best default a bit and ended up changing the default from 60 to 50. I had not really considered to put it as low as 20, but that should work like you have it there. (Cannot test right now because I `cabal update`d and now I have to rebuild half the world, will report in a bit.)

[2018-03-12 19:14] lspitzner commented on #492
with `lconfig_importColumn = 21` you'd get

[code]

Btw I don't mind the bikeshedding - a formatter's design is mostly about the bikeshed's default colour after all. Only perhaps this thread is the wrong place for it. But feedback over at https://github.com/lspitzner/brittany/pull/124 is certainly welcome.

[2018-03-12 19:15] domenkozar commented on #492
@alanz so all this needs is brittany bump? :)

[2018-03-12 19:16] lspitzner commented on #492
@domenkozar I'd need to release a new brittany version first :-)

[2018-03-12 19:19] lspitzner commented on #492
and that will probably happen in the next days (there is one other PR lined up to be reviewed, but otherwise it is ready).

[2018-03-12 19:23] alanz commented on #492
And I guess you can't do

[code]
?

[2018-03-12 19:36] lspitzner commented on #492
No, not yet. The config setting currently affects the column for both the explicit-list-items and for the `as`. But this seems to be a trivial addition, I'll look into it later.

[2018-03-13 08:38] marmistrz opened #497 "Test.Quickcheck not found even though installed"
Cross-reporting from: https://github.com/alanz/vscode-hie-server/issues/56

Open the following file:
[code]
under Arch Linux. Then the following false positive is reported:

[code]

[2018-03-13 11:40] alanz commented on #497
How do you build your project? using stack? cabal?  Does it build ok using one of those two?

[2018-03-13 12:08] marmistrz commented on #497
@alanz, I'm using neither stack nor cabal. I have just a couple of hs files and execute the tests with `runhaskell`

[2018-03-13 12:41] alanz commented on #497
Ok, I just tested it on Debian, and it works.

But I have installed that stuff using `cabal install`, and I think that is what ghc-mod is expecting.

I am not sure how the arch linux runhaskell script works

[2018-03-13 12:57] marmistrz commented on #497
I'll check if installing it manually with cabal helps.
Well, it's just as though if I were compiling it manually with ghc.

[2018-03-13 13:46] marmistrz commented on #497
The problem persists when quickcheck was installed by cabal. The resulting .so file is located in
[code]

I think the problem may be the fact that Arch Linux links Haskell dynamically. If `cabal install` is invoked without , the `cabal install quickcheck fails`.

[code]

When one invokes `cabal install --enable-shared --enable-executable-dynamic --disable-library-vanilla quickcheck` everything is

[2018-03-13 14:38] alanz commented on #497
I think there may be a way to pass them in.

But it might also make sense to have a flag seomthing like `--arch-linux` which does all that stuff.

[2018-03-13 18:00] marmistrz commented on #497
`--dynamic` may be a better name. If you have any PoC, let me know, I'll test if it's a fix.

[2018-03-13 18:25] alanz commented on #492
@lspitzner I understand that you will manage the release of the new brittany, and then make a PR on hie.

If not, let me know when/if I need to do something.

[2018-03-13 19:21] alanz commented on #497
@DanielG, do you know if ghc-mod supports a way of passing flags to cabal?  It would probably have to go through cabal-helper too.

[2018-03-13 19:25] marmistrz commented on #497
I'm wondering too if this could be fixed upstream in cabal - I could specify these options in the config, which is ignored by cabal.
https://github.com/haskell/cabal/issues/5207

[2018-03-15 04:04] MaskRay commented on #475
lsp-mode/lsp-io.el#L327

You can `(setq lsp-print-io t)` to log all traffic of the language server.

[2018-03-20 18:29] eklavya opened #500 "mishandling "type instance""
At every save "type instance" is replaced with "type".

Hie version: Version 0.1.0.0, Git revision 392cadd70b0baff039a56e065e011186be3f358b (1237 commits) x86_64 ghc-8.2.2

MacOS, using VSCode HIE plugin 0.0.9

Code to try: http://haskell-servant.readthedocs.io/en/stable/cookbook/jwt-and-basic-auth/JWTAndBasicAuth.html

Could be a bug in HIE or brittany, not sure. I am sorry for the poor bug repor

[2018-03-22 14:23] marmistrz commented on #497
I managed to set the configuration options in the `~/.cabal/config` - at first I didn't notice that `--` in the config file indicate a comment.
Still, even though manually running cabal from the command line works perfectly, this is no fix for haskell-ide-engine. I presume that `cabal-helper` doesn't read `~/.cabal/config`, @DanielG  - is this correct?

[2018-03-22 16:08] lspitzner commented on #500
This is lspitzner/brittany/issues/89 which is alanz/ghc-exactprint/issues/52.

[2018-03-22 18:17] marmistrz commented on #390
I have just encountered a similar problem:

[code]

HIE worked today in the morning.

[2018-03-23 04:18] nponeccop commented on #390
@marmistrz This is actually #400. Basically, don't delete hlint.yaml from the HIE build dir

[2018-03-23 06:51] marmistrz commented on #483
This is actually a duplicate of #400

[2018-03-23 13:48] domenkozar commented on #357
@alanz https://github.com/haskell/haskell-ide-engine#installation-with-nix

@srid @ElvishJerricco made it work, but not sure he posted the steps (although they are as in README with usual caveats).

Is this considered then done? :)

[2018-03-23 13:54] alanz commented on #357
Well, the link is good, but the instructions at https://github.com/domenkozar/hie-nix/blob/master/README.md don't  work.

We now seem to have
  - default.nix
  - ghc-8.0.nix
  - ghc-8.2.nix

Rather than hie-nix.nix

[2018-03-23 14:28] domenkozar commented on #357
It did work (I've tested locally), but I see your point, it was confusing.

What about this: https://github.com/domenkozar/hie-nix#install

[2018-03-23 14:41] alanz commented on #357
Yep, that works.

And a pretty neat way of doing it.

Thanks.

[2018-03-23 14:41] #357 closed

[2018-03-23 14:44] domenkozar commented on #492
Just waiting on brittany release - thank you!

[2018-03-23 14:50] alanz commented on #357
@domenkozar I presume at some stage this will end up on a binary cache somewhere?

My install (admittedly for a fresh nixpkgs install) is building the world.

[2018-03-23 15:17] domenkozar commented on #357
Yes, that's the plan :)

[2018-03-24 05:16] IvanMalison opened #503 "Support the completion of local definitions"
Currently, it seems that local definitions are never offered as completion candidates. Is this an issue that needs to be tackled downstream in ghc-mod? I'd be happy to try to tackle this if someone could give me some high level guidance about what needs to be done.

[2018-03-24 05:17] IvanMalison commented on #366
@wz1000 Would you consider this issue fixed?

You mentioned the completion of local definitions (I just filed #503 for this); is that something that you are planning on working on?

[2018-03-24 14:27] #338 closed

[2018-03-25 11:25] Anrock commented on #329
@alanz @nponeccop haven't seen this issue in a while. I guess it can be closed.

[2018-03-25 16:40] nponeccop commented on #329
I vote for closing

[2018-03-25 16:49] wz1000 commented on #503
Completion is handled completely by hie now, ghc-mod has nothing to do with it.

To figure out what local definitions are in scope at a cursor location, I suspect you would have to traverse the AST yourself, collecting everything that is in scope until you reach the cursor.

This is a feature we definitely want in HIE, and your contributions are very welcome. You can drop by on #haskell-ide-engine

[2018-03-25 16:49] lspitzner commented on #492
See #505.

@alanz I have implemented the option to format like

[code]

see "alternative" at https://github.com/lspitzner/brittany/blob/master/doc/showcases/Module.md

[2018-03-25 17:09] #329 closed

[2018-03-25 21:13] arbitrary-dev opened #506 "Error on rename"
[code]

What kind of typechecked module HIE can't get?

[2018-03-26 13:35] marmistrz commented on #390
I've just deleted ~/.stack and HIE got broken.

[2018-03-26 20:16] alanz commented on #492
Can we close this now?

[2018-03-26 20:20] alanz commented on #6
Closing, this is just discussion at this point, no actionable item.

[2018-03-26 20:20] #6 closed

[2018-03-26 20:24] alanz commented on #506
This part

[code]

looks strange to me. The filename is supposed to be a URI, and I don't know what the asterisks are doing in the middle.

Can you provide more detail on the project you are working on when this happens?

[2018-03-27 09:15] #492 closed

[2018-03-27 16:26] arbitrary-dev commented on #506
Asterisks were added by me, it's a simple path to a local filesystem on my MacOS machine.

[2018-03-27 16:28] arbitrary-dev commented on #506
The project is this one:
https://github.com/yesodweb/yesod-scaffold/blob/sqlite/src/Handler/Comment.hs

[2018-03-28 22:11] razvan-panda opened #511 "Support for GHC 8.4.1"
Are there any plans to add support for GHC 8.4.1?

[2018-03-29 09:42] marmistrz commented on #400
For me under Arch HIE wants:
- `hlint.yaml` from `~/.stack/snapshots/x86_64-linux-tinfo6-nopie/nightly-2018-02-26/8.2.2/share/x86_64-linux-ghc-8.2.2/hlint-2.1/hlint.yaml`
- the `~/.stack/programs` directory:
[code]

After removing the build directory (`~/.cache/pacaur/haskell-ide-engine-git`) there are no visible issues. Using the AUR package.

[2018-03-29 09:47] marmistrz commented on #497
There are two (very poor) workarounds:
1. Use `stack` for your programs.
2. Use `ghc-pristine` and `ghc-static`, adapt the `GHCBIN` in the hie wrapper, and manually install every single external dependency (such as `mtl`) with
[code]
In the second approach you probably need to have dynamic linking disabled for cabal, so your `cabal install` for default ghc will be utterly broken (as it is with van

[2018-03-30 11:49] DanielG commented on #497
@marmistrz cabal-helper doesn't read `.cabal/config` because it doesn't have to. caba-helper is really just a way to reliably read the information written by `cabal configure`. So as long as you re-build all your dependencies after changing that configuration I don't see why things shouldn't just work. Could you provide some more details on what exactly isn't working with that config set?

[2018-03-30 18:57] marmistrz commented on #497
@DanielG let me explain more thoroughly how my test case looks like.

1. Create a new directory, say `~/proj/haskell`
2. Create a single file `~/proj/haskell/main.hs` with the following contents:
[code]
3. Then building with `ghc -dynamic main.hs --make` succeeds, note that building with `ghc main.hs --make` will fail (`Could not find module ‘Test.QuickCheck’` because quickcheck is a dynamically l

[2018-03-30 19:13] marmistrz commented on #497
I have also tried creating a full-fledged cabal project. Then the following error appears:
[code]
even though `cabal run` succeeds.
The exact steps:
0. Make sure that the `haskell-quickcheck` package is installed: `pacman -Qs haskell-quickcheck`
1. Create a new cabal project with `cabal init -n --is-executable`
2. Add `QuickCheck` to dependencies
3. Change `Main.hs` to:
[code]
4. Launch VS Code
5.

[2018-03-30 20:00] razvan-panda opened #512 "HIE not working on Atom 1.24.1"
Using HIE for ghc-8.2.2 https://github.com/domenkozar/hie-nix
When using it with Visual Studio Code the types can be seen on hover but in Atom nothing is shown on hover, just a lot of CPU activity happening.

[2018-03-30 20:03] razvan-panda commented on #512
There aren't any errors in the console, only a warning:

    IntersectionObserver.observe(target): target element is not a descendant of root.
    TreeView @ <embedded>:121025

[2018-03-30 21:55] Tehnix opened #513 "Fixing icu4c/lib/libicuuc 'Reason: image not found'"
This is just for documenting how I fixed some troubles with icu4c/text-icu/yi-rope, so other people can hopefully find this if they experience the same issue.

The issue is with having linked `text-icu` to a version of icu4c that no longer exists. For me this was `/usr/local/opt/icu4c/lib/libicuuc.59.dylib`, and the error appears something like below,

[code]

The fix is to update the bindings for

[2018-03-30 21:55] #513 closed

[2018-03-30 21:57] Tehnix commented on #512
If you enable the LSP debug in Settings -> Core -> Debug LSP, do you get any more information ( I can't remember if you also have to open the Atom developer tools to get the info on stderr)?

[2018-03-31 13:50] razvan-panda commented on #512
I can't find it under `Edit -> Preferences -> Core`.
How do I find `Settings -> Core -> Debug LSP` in Atom?

[2018-03-31 13:54] razvan-panda commented on #512
Do I need to add it manually under `Debug -> Config... -> config.cson -> core section` ?

[2018-03-31 17:14] tkvogt commented on #10
After several failed experiments I came to the conlcusion that I have to develop a graph database from scratch:
https://github.com/tkvogt/judy-graph-db
It is especially targeted at this problem, but still infant.
Look at some example code: https://github.com/tkvogt/judy-graph-db/blob/master/app/Main.hs
Feel free to open up issues.

[2018-03-31 20:57] Tehnix commented on #512
Hmm, in your preferences -> core, do you have a DEBUG LSP like this (in the bottom)?

<img width="793" alt="screenshot 2018-03-31 22 55 27" src="https://user-images.githubusercontent.com/1189998/38167529-b114eda6-3536-11e8-9f72-c9956037eb13.png">

Then you can open

the developer console for more errors. Other thing, the ide-haskell-hie extension should automatically install https://atom.io/packag

[2018-03-31 22:57] razvan-panda commented on #512
@Tehnix I can't find that setting:

![](https://user-images.githubusercontent.com/1758708/38168250-06c74912-353f-11e8-9e36-beb2d63edac7.png)

![](https://i.imgur.com/kzrQSVM.png)

[2018-03-31 23:34] razvan-panda commented on #512
@Tehnix atom-ide-ui wasn't installed. I installed it but the setting is still not there.

[2018-04-01 00:01] razvan-panda commented on #512
Ah. And I tried this with camelCase https://github.com/thomasjo/atom-ide-cpp/issues/2#issuecomment-339881784

[2018-04-01 00:05] Tehnix commented on #512
Hmm, this is very puzzling. I'm on Atom 1.25, and currently have it working fine,

![screenshot 2018-04-01 02 05 19](https://user-images.githubusercontent.com/1189998/38168594-28fcb78a-3551-11e8-949c-fd2f229d0dd6.png)

You say it works for VSCode on the exact same project?

[2018-04-01 00:08] razvan-panda commented on #512
@Tehnix I think that installing atom-ide-ui fixed it as it is now running fine. Thank you

[2018-04-01 00:08] #512 closed

[2018-04-01 00:10] razvan-panda commented on #512
@Tehnix Yes, it works for VS Code on same project. I was currently on Atom 1.24.1
I guess someone else will run into the issue if atom-ide-ui does not get installed at same time with the main plugin. I am on NixOS btw, if that helps.

[2018-04-01 10:35] ShalokShalom opened #516 "Che"
This IDE is also supported, since it implements the LSP?

You like to include it in the README then: https://eclipse.org/che/

[2018-04-01 23:27] sboosali commented on #10
(should we mark this as wontfix instead, or something?)

[2018-04-02 01:24] Tehnix commented on #511
I think it will take a little bit of time, as there are quite some migrations that the various packages need to do [to support GHC 8.4.1](https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4). The [`Semigroup`/`Monoid`](https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4#SemigroupMonoidsuperclasses) superclasses seems to be one many are hit by.

I just PR'ed one dependency ([deque](https://github.c

[2018-04-02 01:27] Tehnix commented on #470
Can anyone give a stab at building this on Windows again?

[2018-04-02 02:56] gvolpe commented on #372
Hi, I'm experiencing the same issue using the latest build `57b0d7d`. Here are the details of my environment:

[code]

I also had the `Missing C libraries: icuuc, icui18n, icudata` error but I fixed it by installing these two packages:

[code]

Has anybody found a way to fix this? `stack install cabal-install` did not help.

[2018-04-02 03:01] gvolpe commented on #372
I think I'm in the wrong issue, this is the error I'm getting:

[code]

[2018-04-02 03:32] gvolpe opened #517 "`gcc' failed in phase `Linker' error"
Hi, I'm experiencing this issue using the latest build `57b0d7d` when running `make`. Here is the error:

[code]

Here are the details of my environment:

[code]

I also had the `Missing C libraries: icuuc, icui18n, icudata` error but I fixed it by installing these two packages:

[code]

Any ideas?

[2018-04-02 04:07] sboosali commented on #517
idk, but does the default (non-gold) linker work?

On Sun, Apr 1, 2018, 8:32 PM Gabriel Volpe <notifications@github.com> wrote:

[2018-04-02 04:09] gvolpe commented on #517
How can I verify that?

[2018-04-02 06:03] moodmosaic commented on #470
@Tehnix, I may be able to do so. But what has changed meanwhile?